<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Approve demand registered by Farmers</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">
        <div class="col-lg-12 mb-6">
            <!-- Illustrations -->
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Search By</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]='demandApproveForm'>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label> Type</label>
                                <select class="form-control" formControlName='type'>
                                    <option value="" disabled selected>--Select--</option>
                                    <option value="Seed">Seed</option>
                                    <option value="Fertilizer">Fertilizer</option>
                                    <option value="Insecticides">Insecticides</option>
                                    <option value="Custome Hiring">Custome Hiring</option>
                                    <option value="Farm Implement">Farm Implement</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="year">Year <b><sup>*</sup>:</b></label>
                                <select class="form-control" id="year" formControlName="year">
                                    <option value="" disabled>--Select--</option>
                                    <option value="{{year}}">{{year}}</option>
                                    <option value="{{year-1}}">{{year-1}}</option>
                                </select>
                            </div>
                            <!-- <div class="form-group col-md-3">
                                <label for="year">Season <b><sup>*</sup>:</b></label>
                                <select class="form-control" id="year" formControlName="season">
                                    <option value="" disabled>--Select--</option>
                                    <option value="Rabi">Rabi</option>
                                    <option value="Kharif">Kharif</option>
                                    <option value="Zaid">Zaid</option>
                                </select>
                            </div> -->
                            <div class="form-group col-md-3">
                                <button (click)="indentapprovefigindent()" class="btn btn-primary"
                                    [disabled]='demandApproveForm.invalid' style="margin-top: 15%;">Search</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="col-lg-12 mb-6" *ngIf='indentapprovefigIndent && showTable =="Seed"'>
            <!-- Illustrations -->
            <div class="card shadow">
                <!-- <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Indent Details</h6>
                </div> -->
                <div class="card-body">
                    <div style="text-align: center;" *ngIf=' indentapprovefigIndent.length==0'>
                        <p>No Data</p>
                    </div>
                    <div *ngIf='indentapprovefigIndent.length>0'>
                        <table border="1" align="center" class=" overflow-y: scroll;"
                            class="table mb-0 table-responsive-md table-bordered table-striped table-sms ">
                            <thead class="bg-light">
                                <tr class="border-1">
                                    <td>Sl.</td>
                                    <!-- <td>FIG Name</td> -->
                                    <td for="year">Category</td>
                                    <td for="">Crop</td>
                                    <td for="year">Variety</td>
                                    <td for="">Quantity</td>
                                    <!-- <td>View</td> -->
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of indentapprovefigIndent; index as i ">
                                    <td>{{ i + 1 }}</td>
                                    <!-- <td>{{ x.figName}}</td> -->
                                    <td>{{ x.cropCatagory}}</td>
                                    <td>{{ x.crop.Crop_Name}}</td>
                                    <td>{{ x.variety.Variety_Name}}</td>
                                    <td>{{x.count}}</td>
                                    <td><button class="viewbtn btn btn-primary" (click)=' getIndentViewIndex(i)' data-toggle="modal"
                                            data-target="#viewModal">View Details</button>
                                        <button class="aprvbtn btn btn-success" data-toggle="modal" (click)='getIndentApproveData(x)'
                                            data-target="#approveModal">Approve</button>
                                        <button class="rejctbtn btn btn-danger" data-toggle="modal" (click)='getIndentRejectData(x)'
                                            data-target="#rejectModal">Reject</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-12 mb-6" *ngIf='indentapprovefigIndent && showTable !="Seed"'>
            <!-- Illustrations -->
            <div class="card shadow">
                <div class="card-body">
                    <div style="text-align: center;" *ngIf='indentapprovefigIndent.length==0'>
                        <p>No Data</p>
                    </div>
                    <div *ngIf='indentapprovefigIndent.length>0'>
                        <table border="1" align="center" class=" overflow-y: scroll;"
                            class="table mb-0 table-responsive-md table-bordered table-striped table-sms ">
                            <thead class="bg-light">
                                <tr class="border-1">
                                    <td>Sl.</td>
                                    <!-- <td>FIG Name</td> -->
                                    <td for="year">Item Type</td>
                                    <td for="">Technical Name</td>
                                    <td for="year">Brand Name</td>
                                    <td for="">Quantity(In Kg)</td>
                                    <!-- <td>View</td> -->
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of indentapprovefigIndent; index as i ">
                                    <td>{{ i + 1 }}</td>
                                    <!-- <td>{{ x.figName}}</td> -->
                                    <td>{{ x.itemType}}</td>
                                    <td>{{ x.technicalName}}</td>
                                    <td>{{ x.brandName}}</td>
                                    <td>{{x.count}}</td>
                                    <td><button class="viewbtn" (click)='getIndentViewIndex(i)' data-toggle="modal"
                                            data-target="#viewModal">View Details</button>
                                        <button class="aprvbtn" data-toggle="modal" (click)='getIndentApproveData(x)'
                                            data-target="#approveModal">Approve</button>
                                        <button class="rejctbtn" data-toggle="modal" (click)='getIndentRejectData(x)'
                                            data-target="#rejectModal">Reject</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="rejectModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document1">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to reject this FIG ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='rejectIndent()'>Reject</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approveModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document1">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <h5>Are you sure to approve this demand ?</h5> -->
                <h6>This information will be automatically notified to the nearby suppliers.It will increase your demand
                    visibility and compitativeness among the suppliers</h6>

                <div class="checkbx">
                    <input type="checkbox" name='radio' [(ngModel)]='agree' [checked]='agree'
                        (change)='checkBox1()'>&nbsp; I
                    agree<br>
                    <input type="checkbox" name='radio' [(ngModel)]='publish' [checked]='publish'
                        (change)='checkBox2()'>&nbsp; Do not
                    publish
                    to
                    suppliers
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)='approveIndent()' class="btn btn-primary" data-dismiss="modal"
                    [disabled]='!agree && !publish'>Approve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document1">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="ModalLabel">Details Of Demand Generated By FIG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf='showTable=="Seed"'>
                <!-- <h5>Details of  Produced Registered by FIG</h5> -->
                <table>
                    <thead class="bg-light">
                        <tr class="border-1">
                            <td>Sl.</td>
                            <td>FIG Name</td>
                            <td for="year">Category</td>
                            <td for="">Crop</td>
                            <td for="year">Variety</td>
                            <td for="">Quantity</td>
                            <!-- <td>View</td> -->
                            <!-- <td>Action</td> -->
                        </tr>
                    </thead>
                    <tr *ngFor="let x of figapproveIndentDetail; index as i ">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x.figName}}</td>
                        <td>{{ x.cropCatagory}}</td>
                        <td>{{ x.crop.Crop_Name}}</td>
                        <td>{{ x.variety.Variety_Name}}</td>
                        <td>{{x.quantity}}</td>
                    </tr>

                </table>
            </div>
            <div class="modal-body" *ngIf='showTable!="Seed"'>
                <!-- <h5>Details of  Produced Registered by FIG</h5> -->
                <table>
                    <thead class="bg-light">
                        <tr class="border-1">
                            <td>Sl.</td>
                            <td>FIG Name</td>
                            <td for="year">Item Type</td>
                            <td for="">Technical Name</td>
                            <td for="year">Brand Name</td>
                            <td for="">Quantity</td>
                        </tr>
                    </thead>
                    <tr *ngFor="let x of figapproveIndentDetail; index as i ">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x.figName}}</td>
                        <td>{{ x.itemType}}</td>
                        <td>{{ x.technicalName}}</td>
                        <td>{{ x.brandName}}</td>
                        <td>{{x.quantity}}</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='approveFigProducedData()'>Approve</button> -->
            </div>
        </div>
    </div>
</div>