<div id="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-6">
                <div class="card-header py-2">
                    <h5 class="m-0 font-weight-bold number-primary" style="color:white">FPO BACKLOG KEY DETAILS</h5>
                </div>
                <div class="card-body table-card mat-elevation-z8">
                    <form [formGroup]="backlogForm">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Financial Year : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" formControlName='year'>
                                    <option value="" disabled>--Select--</option>
                                    <option value="2020-2021">2020-2021</option>
                                    <option value="2021-2022">2021-2022</option>
                                    <option value="2022-2023">2022-2023</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Select IA Name : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <select class="form-control" formControlName='iaName'>
                                    <option value="" disabled>--Select--</option>
                                    <option [ngValue]="x" *ngFor="let x of getIaData">{{x.iaName}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Target No. of FPOs: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4" formControlName='target'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of Registered FPOs: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='achievement'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of District Covered: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4" formControlName='district'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of Block Covered: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4" formControlName='block'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> No. of CBBOs: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4" formControlName='totalCbbo'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> No of Farmer Mobilized as shareholders: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='NoOfFarmerMobilizedAsShareholders'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Total No. of BOD : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="" formControlName='NoOfBod'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of women BOD : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="" formControlName='Min1WomenBod'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have completed Commencement : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id=""
                                    formControlName='commencementOfBusinessfieldWithMca'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have appointed Auditor: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="" formControlName='AuditorAppointed'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have completed AGM : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="" formControlName='AgmConducted'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Total No. of completed Baseline Surveys : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='BaselineStudyReportSubmitted'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have opened Bank A/c : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='BankAccountOpened'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Total amount of Share capital Mobilized in INR: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='ShareCapitalMobilizedInInr'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4">Average Annual Turnover in INR : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='AnnualBusinessTurnoverinInr'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have appointed CA: </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='appointedca'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have appointed CEO : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='CeoAppointed'>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputEmail4"> Total No. of FPOs which have appointed Accountant : </label>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="number" class="form-control" id="inputEmail4"
                                    formControlName='AccountedAppointed'>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-success" (click)="publish()">SUBMIT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>