<footer class="wrapper footer-wrapper">
    <div class="footer-top-wrapper">
       <div class="container common-container four_content footer-top-container">
          <ul>
             <li><a href="#">ୱେବସାଇଟ୍ ନୀତି</a></li>
             <li><a href="#">ସାହାଯ୍ୟ</a></li>
             <li><a href="#">ଆମ ସହିତ ଯୋଗାଯୋଗ କରନ୍ତୁ</a></li>
             <li><a href="#">ସର୍ତ୍ତାବଳୀ</a></li>
             <li><a href="/feedback">ମତାମତ</a></li>
             <li><a href="#">ୱେବ୍ ସୂଚନା ପରିଚାଳକ</a></li>
             <li><a href="#">ପରିଦର୍ଶକ ଆନାଲିଟିକ୍ସ</a></li>
             <li><a href="/FAQ">ଏଫ.ଏ.କ୍ଯୁ</a></li>
             <li><a href="#">ପ୍ରତ୍ୟାଖ୍ୟାନ</a></li>
          </ul>
       </div>
    </div>
    <div id="particles-js">
       <div class="footer-bottom-wrapper">
          <div class="container common-container four_content footer-bottom-container">
             <div class="footer-content clearfix">
                <div class="copyright-content">
                   <center><strong>ପ୍ରତ୍ୟାହାର:<strong> </center> <br>ଏହି ୱେବସାଇଟ୍ ରେ ଥିବା ସୂଚନା କେବଳ ସାଧାରଣ ସୂଚନା ଉଦ୍ଦେଶ୍ୟରେ ଏବଂ 
                    ଏହା କୃଷି ଏବଂ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ,ଓଡିଶା ଦ୍ୱାରା ପ୍ରଦାନ କରାଯାଇଛି |ଯେତେବେଳେ ଆମେ ସୂଚନାକୁ ଅଦ୍ୟତନ ଏବଂ ସଠିକ୍ ରଖିବାକୁ 
                    ଚେଷ୍ଟା କରୁ,ୱେବସାଇଟ୍ କିମ୍ବା ସୂଚନା,ଉତ୍ପାଦ,ସେବା ସମ୍ବନ୍ଧରେ ସମ୍ପୂର୍ଣ୍ଣତା, ସଠିକତା, ନିର୍ଭରଯୋଗ୍ୟତା, ଉପଯୁକ୍ତତା କିମ୍ବା ଉପଲବ୍ଧତା ବିଷୟରେ 
                    ଆମେ କୌଣସି ପ୍ରକାରର ଉପସ୍ଥାପନା କିମ୍ବା ୱାରେଣ୍ଟି ପ୍ରସ୍ତୁତ କରୁନାହୁଁ , କିମ୍ବା ଯେକୌଣସି ଉଦ୍ଦେଶ୍ୟ ପାଇଁ ୱେବସାଇଟରେ ଥିବା ସମ୍ବନ୍ଧୀୟ ଗ୍ରାଫିକ୍ସ |
                    ଏହିପରି ସୂଚନା ଉପରେ ଆପଣ ଯେକୌଣସି ନିର୍ଭରଶୀଳତା ଆପଣଙ୍କ ନିଜ ବିପଦରେ |
                   <br><br>
                   <center>ୱେବସାଇଟ୍ ବିଷୟବସ୍ତୁ କୃଷି ଏବଂ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ ଦ୍ୱାରା ପରିଚାଳିତ |
                    <span><a target="_blank"
                            title="NIC, External Link that opens in a new window"
                            href="http://www.nic.in/"><strong>ଜାତୀୟ ସୂଚନା କେନ୍ଦ୍ର, ଭୁବନେଶ୍ୱର</strong></a>&nbsp;
                            ଦ୍ୱାରା ପରିକଳ୍ପିତ, ବିକଶିତ ଏବଂ ହୋଷ୍ଟ କରାଯାଇଛି | </span>
                   </center>
                </div>
                <!-- <div class="last-updated">
                   <strong>Last Updated: 24-02-2021</strong>
                </div> -->
                      <div class="last-updated">
                         <img src="assets/images/nicLogomin.png" alt="NIC Logo">
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>