<footer class="wrapper footer-wrapper">
   <div class="footer-top-wrapper">
      <div class="container common-container four_content footer-top-container">
         <ul>
            <li><a href="#">Website Policies</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms and Conditions </a></li>
            <li><a href="/feedback">Feedback</a></li>
            <li><a href="#">Web Information Manager</a></li>
            <li><a href="#">Visitor Analytics</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="#">Disclaimer</a></li>
         </ul>
      </div>
   </div>
   <div id="particles-js">
      <div class="footer-bottom-wrapper">
         <div class="container common-container four_content footer-bottom-container">
            <div class="footer-content clearfix">
               <div class="copyright-content">
                  <center><strong>Disclaimer:<strong> </center> <br>The information contained in this website is
                  for
                  general information purposes only and is provided by Department of Agriculture & Farmers'
                  Empowerment,Odisha. While we endeavour to keep the information up to date and correct, we make
                  no
                  representations or warranties of any kind, express or implied, about the completeness, accuracy,
                  reliability, suitability or availability with respect to the website or the information,
                  products,
                  services, or related graphics contained on the website for any purpose. Any reliance you place
                  on
                  such
                  information is therefore strictly at your own risk. <br><br>
                  <center>Website Content Managed by <strong>Department of Agriculture & Farmers'
                        Empowerment,Odisha.
                     </strong> <span>Designed, Developed and Hosted by <a target="_blank"
                           title="NIC, External Link that opens in a new window"
                           href="http://www.nic.in/"><strong>National Informatics Centre ,BBSR</strong></a></span>
                  </center>
               </div>
               <!-- <div class="last-updated">
                  <strong>Last Updated: 24-02-2021</strong>
               </div> -->
                     <div class="last-updated">
                        <img src="assets/images/nicLogomin.png" alt="NIC Logo">
               </div>
            </div>
         </div>
      </div>
   </div>
</footer>