<div class="row">
    <div class="col-md-5">
        <div _ngcontent-luv-c282="" class="card bar-chart-example">
            <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                <h4 _ngcontent-luv-c282="">FPO wise Share-capital mobilize (INR)</h4>
            </div>
            <div _ngcontent-luv-c282="" class="card-body">

            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">FPO Wise Loan availabled</h4>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="barChart1" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">FPO wise average annual turnover(INR)</h4>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="barChart2" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">FPO Wise grant availabled</h4>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="barChart3" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">FPO wise average annual turnover(INR)</h4>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="barChart4" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">FPO wise Members mobilized</h4>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="barChart" width="400" height="200"></canvas>
                    </div>
                </div>

            </div>


            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">FPO wise Members mobilized</h4>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="JenderChart_2" width="400" height="200"></canvas>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div _ngcontent-luv-c282="" class="card bar-chart-example">
                    <div _ngcontent-luv-c282="" class="card-header d-flex align-items-center">
                        <h4 _ngcontent-luv-c282="">Women membership</h4>
                        <canvas id="myVerticalBarChart" width="400" height="400"></canvas>
                    </div>
                    <div _ngcontent-luv-c282="" class="card-body">
                        <canvas id="pieChart" width="400" height="200"></canvas>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>







