<div class="container-fluid">
    <div class="mb-6">
        <div class="card shadow mb-4">
            <div class="card-header py-2">
                <h5 class="m-0 font-weight-bold text-primary">FPO WISE DRAFT REPORT TABLE</h5>
            </div>
            <div class="card-body">
                <div>
                    <div class="card-body table-card mat-elevation-z8">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <select class="form-control" type="text" name="text" [(ngModel)]="searchText4.year"
                                    placeholder="Search by year" required>
                                    <option value="" selected disabled>Search by year</option>
                                    <option>2023-2024</option>
                                    <option>2024-2025</option>
                                    <option>2025-2026</option>
                                    <option>2026-2027</option>
                                    <option>2027-2028</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" type="search" name="search"
                                    [(ngModel)]="searchText5.timeSlot" placeholder="Search by Target Time Slot">
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" type="search" name="search" [(ngModel)]="searchText6.iaName"
                                    placeholder="Search by IA Name">
                            </div>
                            <div class="form-group col-md-3">
                                <input class="form-control" type="search" name="search" [(ngModel)]="searchText7.fpo"
                                    placeholder="Search by FPO">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table border="1" align="center"
                            class="table mb-0 table-responsive-md table-bordered table-striped table-sms ">
                            <thead class="bg-light">
                                <tr class="border-1">
                                    <td>Sl.</td>
                                    <td>Financial Year</td>
                                    <td>Target Time Slot</td>
                                    <td>IA Name</td>
                                    <td>FPO Name</td>
                                    <td>Mobile No</td>
                                    <td>Email ID</td>
                                    <td>Date</td>
                                    <td>View</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let details of getdraftData |filterBy:searchText4 | filterBy:searchText5 | filterBy:searchText6 | filterBy:searchText7  index as i;">
                                    <td>{{i+1}}</td>
                                    <td>{{details.year}}</td>
                                    <td>{{details.timeSlot}}</td>
                                    <td>{{details.iaName}}</td>
                                    <td>{{details.fpo}}</td>
                                    <td>{{details.MobileNo}}</td>
                                    <td>{{details.email}}</td>
                                    <td>{{details.insertionDate | date:'dd-MM-yyyy,HH:mm'}}</td>
                                    <td>
                                        <button class="btn btn-outline-primary" data-toggle="modal"
                                            data-target="#viewMenuModal" data-backdrop="static" data-keyboard="false"
                                            (click)="viewDetails(details)"><i class="fa fa-eye"
                                                aria-hidden="true"></i></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-warning" data-toggle="modal"
                                            data-target="#editMenuModal" data-backdrop="static" data-keyboard="false"
                                            (click)="editDetails(details)"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-danger" (click)="deleteRow(details)"><i
                                                class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                    <td>
                                        <button class="btn btn-outline-success" data-toggle="modal"
                                            data-target="#approveModal" data-backdrop="static" data-keyboard="false"
                                            (click)='publish(details)'>
                                            Submit
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editMenuModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl" style="overflow-y: scroll;" role="document1">
        <div class="modal-content">
            <div class="modal-header deleteheader bg-info">
                <h5 class="modal-title" id="ModalLabel" style="color: white;">Update CBBO Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="updateForm">
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"><b>Financial Year <sup>*</sup> </b> </label>
                        </div>
                        <div class="form-group col-md-8">
                            <select class="form-control" formControlName='year'>
                                <option value="">--Select--</option>
                                <option value="2023-2024">2023-2024</option>
                                <option value="2024-2025">2024-2025</option>
                                <option value="2025-2026">2025-2026</option>
                                <option value="2026-2027">2026-2027</option>
                                <option value="2027-2028">2027-2028</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">IA Name:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4" formControlName='iaName'
                                readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Reporting Time Slot : </label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4" formControlName='timeSlot'
                                readonly>
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="inputState"> Select FPO :<b> <sup>*</sup> :</b></label>

                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4" formControlName='fpo' readonly>
                        </div>

                    </div>
                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="inputState">Mobile No :<b> <sup>*</sup> :</b></label>

                        </div>
                        <div class="form-group col-md-8">
                            <input type="number" class="form-control" id="inputPassword4" placeholder="Enter Sequence"
                                formControlName='MobileNo' readonly>

                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> CIN No. / Registration No. :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4" formControlName='cin' readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Email ID :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4" formControlName='email'
                                readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Date of incorporation/registration:<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4"
                                formControlName='dateofIncorporation' readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Baseline study report submitted :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="BaselineStudyReportSubmitted"
                                    value='Yes'
                                    formControlName='BaselineStudyReportSubmitted'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input
                                    type="radio" id='no' name="BaselineStudyReportSubmitted" value="No"
                                    formControlName='BaselineStudyReportSubmitted'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Number of Board of Directors(BOD) :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="number" class="form-control" id="inputPassword4" formControlName='NoOfBod'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Minimum 1 women Board of Director(BOD) :<b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="Min1WomenBod" value='Yes'
                                    formControlName='Min1WomenBod'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="Min1WomenBod" value="No" formControlName='Min1WomenBod'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> CEO Appointed :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="CeoAppointed" value='yes'
                                    formControlName='CeoAppointed'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="CeoAppointed" value="no" formControlName='CeoAppointed'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Accounted Appointed : <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="AccountedAppointed" value='yes'
                                    formControlName='AccountedAppointed'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="AccountedAppointed" value="no" formControlName='AccountedAppointed'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> No of Farmers Mobilized :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="number" class="form-control" id="inputPassword4"
                                formControlName='NoOfFarmerMobilized'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">No of Farmer Mobilized as shareholders:<b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4"
                                formControlName='NoOfFarmerMobilizedAsShareholders'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Share capital Mobilized in INR: <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="number" class="form-control" id="inputPassword4"
                                formControlName='ShareCapitalMobilizedInInr'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Bank Account Opened : <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="BankAccountOpened" value='yes'
                                    formControlName='BankAccountOpened'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="BankAccountOpened" value="no" formControlName='BankAccountOpened'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Latest Annual Business Turnover in INR : <b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="number" class="form-control" id="inputPassword4"
                                formControlName='AnnualBusinessTurnoverinInr'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Equity Grant availed :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="EquityGrantAvailed" value='yes'
                                    formControlName='EquityGrantAvailed'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="EquityGrantAvailed" value="no" formControlName='EquityGrantAvailed'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> FPOs received loan from bank : <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="receivedloanFrombank" value='Yes'
                                    formControlName='receivedloanFrombank'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input
                                    type="radio" id='no' name="receivedloanFrombank" value="No"
                                    formControlName='receivedloanFrombank'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">Business Plan formulated :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="BusinessPlanFormulated" value='Yes'
                                    formControlName='BusinessPlanFormulated'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input
                                    type="radio" id='no' name="BusinessPlanFormulated" value="No"
                                    formControlName='BusinessPlanFormulated'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">No. of year for which Business Plan Formulated: <b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="inputPassword4"
                                formControlName='BusinessPlanFormulatedforYear'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">FPO completed Statutory Audit :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="statutoryAudit" value='Yes'
                                    formControlName='statutoryAudit'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="statutoryAudit" value="No" formControlName='statutoryAudit'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">FPO Registered on e-NAM or other e-Portal : <b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="RegistrationOnEnam" value='Yes'
                                    formControlName='RegistrationOnEnam'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="RegistrationOnEnam" value="No" formControlName='RegistrationOnEnam'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">FPO trading through e-NAM :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="fpotradingThroughenum" value='Yes'
                                    formControlName='fpotradingThroughenum'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input
                                    type="radio" id='no' name="fpotradingThroughenum" value="No"
                                    formControlName='fpotradingThroughenum'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> FPOs filed RoC : <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="fpoFilledroc" value='Yes'
                                    formControlName='fpoFilledroc'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="fpoFilledroc" value="No" formControlName='fpoFilledroc'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> FPO availed GST licence : <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="GstLicenceApplied" value='yes'
                                    formControlName='GstLicenceApplied'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="GstLicenceApplied" value="no" formControlName='GstLicenceApplied'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Commencement of Business Filed with MCA : <b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="commencementOfBusinessfieldWithMca"
                                    value='yes'
                                    formControlName='commencementOfBusinessfieldWithMca'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input
                                    type="radio" id='no' name="commencementOfBusinessfieldWithMca" value="no"
                                    formControlName='commencementOfBusinessfieldWithMca'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> AGM Conducted : <b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="AgmConducted" value='yes'
                                    formControlName='AgmConducted'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="AgmConducted" value="no" formControlName='AgmConducted'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState"> Auditor Appointed :<b> <sup>*</sup> :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="AuditorAppointed" value='yes'
                                    formControlName='AuditorAppointed'>&nbsp;&nbsp;No:&nbsp;&nbsp;<input type="radio"
                                    id='no' name="AuditorAppointed" value="no" formControlName='AuditorAppointed'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputState">No. of MOUs signed/vendor registration done : <b> <sup>*</sup>
                                    :</b></label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="number" class="form-control" id="inputEmail4"
                                formControlName='NoOfMouSignedVendorRegistration' minlength="1" maxlength="5"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="updateList()">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="viewMenuModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel- modal-lg"
    aria-hidden="true">
    <div class="modal-dialog modal-lg"
        style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
        <div class="modal-content">
            <div class="modal-header deleteheader bg-info">
                <h5 class="modal-title" id="ModalLabel" style="color: white;">View CBBO Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Financial Year</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.year}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Time Slot</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.timeSlot}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>IA Name</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.iaName}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>No of Farmer Mobilized as shareholders</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.NoOfFarmerMobilizedAsShareholders}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>FPO Name</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.fpo}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Share capital Mobilized in INR</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.ShareCapitalMobilizedInInr}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>CIN No</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.cin}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Mobile No</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.MobileNo}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Email Id</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.email}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>No of BOD</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.NoOfBod}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Date of Registration</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.dateofIncorporation}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Business Plan formulated</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.BusinessPlanFormulated}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Baseline study report submitted</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.BaselineStudyReportSubmitted}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>No. of MOUs signed/vendor registration</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.NoOfMouSignedVendorRegistration}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Registration on e-NAM or other e-platform</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.RegistrationOnEnam}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Annual Business Turnover in INR </label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.AnnualBusinessTurnoverinInr}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Have the FPO completed Statutory Audit</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.statutoryAudit}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Commencement of Business Filed with MCA</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.commencementOfBusinessfieldWithMca}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>AGM Conducted</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.AgmConducted}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Auditor Appointed</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.AuditorAppointed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>CEO Appointed</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.CeoAppointed}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Accounted Appointed</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.AccountedAppointed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>Bank Account Opened</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.BankAccountOpened}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Minimum 1 women BOD</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.Min1WomenBod}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>GST licence applied</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.GstLicenceApplied}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Equity Grant availed</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.EquityGrantAvailed}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>FPO trading through e-NUM</label>
                        </div>
                        <div class="form-group col-md-4">
                            :&nbsp;&nbsp;{{viewData.fpotradingThroughenum}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>FPOs filled RoC </label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.fpoFilledroc}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label>No of Farmers Mobilized</label>
                        </div>
                        <div class="form-group col-md-2">
                            :&nbsp;&nbsp;{{viewData.NoOfFarmerMobilized}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>