<mat-toolbar>
    <span>Change password</span>
    <span class="fill-remaining-space"></span>
    <span style="flex: 1 1 auto;"></span>
    <button type="button" matTooltip="Logout" matTooltipPosition='above' mat-stroked-button class="btn-dialog-close" tabIndex="-1" (click)='logout()'>
      <mat-icon>logout</mat-icon>
    </button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn-dialog-close" matTooltip="Close" matTooltipPosition='above' mat-stroked-button (click)="dialogueClose()" tabIndex="-1" *ngIf='closeButton'>
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar><br>

<form [formGroup]="changePassword" class="normal-form" (ngSubmit)='onSubmit()'>
    <div class="example-container">
        <mat-form-field appearance="fill" >
          <mat-label>Enter your current password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName='currentPassword'>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="changePassword.controls['currentPassword'].errors?.required">*Password required</mat-error>

        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>Enter new password</mat-label>
            <input matInput [type]="hide1 ? 'password' : 'text'" formControlName='newPassword' (keyup)='validateValue1()'>
            <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="changePassword.controls['newPassword'].errors?.required">*New password required</mat-error>
            <mat-error *ngIf="changePassword.controls['newPassword'].errors?.passwordValidatorForNewPass">*New password and confirm password doesn't match</mat-error>
          </mat-form-field><br>

          <mat-form-field appearance="fill">
            <mat-label>Confirm password</mat-label>
            <input matInput [type]="hide2 ? 'password' : 'text'" formControlName='confirmPassword' (keyup)='validateValue2()'>
            <!-- <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon [hidden]='true'>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button> -->
            <mat-error *ngIf="changePassword.controls['confirmPassword'].errors?.required">*Confirm password required</mat-error>
            <mat-error *ngIf="changePassword.controls['confirmPassword'].errors?.passwordValidator">*New password and confirm password doesn't match</mat-error>
            
          </mat-form-field>
          <hr>
          <div class="button-row" >
            <button mat-raised-button color="primary" type="submit"
                [disabled]='!changePassword.valid'>Submit</button>
            <button type="button" mat-raised-button color="warn" (click)="onClear()">Clear</button>
        </div>
    </div>
</form>