<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Approve produced registered by Farmers</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">
        <div class="col-lg-12 mb-6">
            <!-- Illustrations -->
            <div class="card shadow">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Search By</h6>
                </div>
                <div class="card-body">
                    <form [formGroup]='producedApproveForm'>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="year">Type <b><sup>*</sup>:</b></label>
                                <select class="form-control" id="year" formControlName="type">
                                    <option value="" disabled>--Select--</option>
                                    <option value="Crop">Crop</option>
                                    <option value="Seed">Seed</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="year">Year <b><sup>*</sup>:</b></label>
                                <select class="form-control" id="year" formControlName="year">
                                    <option value="" disabled>--Select--</option>
                                    <option value="{{year}}">{{year}}</option>
                                    <option value="{{year-1}}">{{year-1}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="year">Season <b><sup>*</sup>:</b></label>
                                <select class="form-control" id="year" formControlName="season">
                                    <option value="" disabled>--Select--</option>
                                    <option value="Rabi">Rabi</option>
                                    <option value="Kharif">Kharif</option>
                                    <option value="Zaid">Zaid</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <button (click)="figProducedData()" class="btn btn-primary"
                                    [disabled]='producedApproveForm.invalid' style="margin-top: 15%;">Search</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        <div class="col-lg-12 mb-6">
            <div class="card shadow">
                <div class="card-body" *ngIf='figIndents'>
                    <div style="text-align: center;" *ngIf='figIndents.length==0'>
                        <p>No Data</p>
                    </div>
                    <div *ngIf='figIndents.length>0'>
                        <table border="1" align="center" class=" overflow-y: scroll;"
                            class="table mb-0 table-responsive-md table-bordered table-striped table-sms ">
                            <thead class="bg-light">
                                <tr class="border-1">
                                    <td>Sl.</td>
                                    <!-- <td>FIG Name</td> -->
                                    <td>Category</td>
                                    <td>Crop</td>
                                    <td>Variety</td>
                                    <td>Quantity</td>
                                    <!-- <td>View</td> -->
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let x of figIndents; index as i ">
                                    <td>{{ i + 1 }}</td>
                                    <!-- <td>{{ x.figName}}</td> -->
                                    <td>{{ x.cropCatagory}}</td>
                                    <td>{{ x.crop.Crop_Name}}</td>
                                    <td>{{ x.variety.Variety_Name}}</td>
                                    <td>{{x.count}}</td>
                                    <td><button class="viewbtn" (click)='getViewData(x)' data-toggle="modal"
                                            data-target="#viewModal">View Details</button>
                                        <button class="aprvbtn" (click)='getApproveIndex(i)' data-toggle="modal"
                                            data-target="#approveModal">Approve</button>
                                        <button class="rejctbtn" (click)='rejectListIndex(i)' data-toggle="modal"
                                            data-target="#rejectModal">Reject</button>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rejectModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document1">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to reject this FIG ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='rejectList()'>Reject</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="approveModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document1">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="ModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure to approve this FIG ?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='approveFigProducedData()'>Approve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document1">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title" id="ModalLabel">Details of Produced Registered by FIG</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- <h5>Details of  Produced Registered by FIG</h5> -->
                <table style="width: 100%;">
                    <thead class="bg-light">
                        <tr class="border-1">
                            <td>Sl.</td>
                            <td>FIG Name</td>
                            <td for="year">Category</td>
                            <td for="">Crop</td>
                            <td for="year">Variety</td>
                            <td for="">Quantity</td>
                            <!-- <td>View</td> -->
                            <!-- <td>Action</td> -->
                        </tr>
                    </thead>
                    <tr *ngFor="let x of figProducedDetail; index as i ">
                        <td>{{ i + 1 }}</td>
                        <td>{{ x.figName}}</td>
                        <td>{{ x.cropCatagory}}</td>
                        <td>{{ x.crop.Crop_Name}}</td>
                        <td>{{ x.variety.Variety_Name}}</td>
                        <td>{{x.quantity}}</td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)='approveFigProducedData()'>Approve</button> -->
            </div>
        </div>
    </div>
</div>