<div class="card">
                            

    <div class="fpo-scroll">
       <p class="fponame">BANARPAL AGROPRODUCER COMPANY LIMITED</p>
    </div>

    <div class="fpo-scroll">
       <i class="fa fa-map-marker"></i>
       <p class="adrress">ANGUL NAC SHREEVIHAR SOUBHAGYANAGAR ANGUL,759122 </p>
    </div>

    <!-- <button type="submit" class="button1">Connect</button> -->

 </div>

 <div class="card">
    <!-- <div class="fpo-scroll">
       <i class="fa fa-phone"></i>
       <p class="contact">8018368736</p>
    </div> -->

    <div class="fpo-scroll">
       <p class="fponame">PITABALI FARMER PRODUCER COMPANY LIMITED</p>
    </div>

    <div class="fpo-scroll">
       <i class="fa fa-map-marker"></i>
       <p class="adrress">DERJANG TUBEY, 759103</p>
    </div>

    <!-- <button type="submit" class="button1">Connect</button> -->

 </div>

 <div class="card">
    <!-- <div class="fpo-scroll">
       <i class="fa fa-phone"></i>
       <p class="contact">8342828555</p>
    </div> -->

    <div class="fpo-scroll">
       <p class="fponame">KALAPATA FARMER PRODUCER COMPANY LIMITED</p>
    </div>

    <div class="fpo-scroll">
       <i class="fa fa-map-marker"></i>
       <p class="adrress">TUBEY,ANUGUL, 759132</p>
    </div>

    <!-- <button type="submit" class="button1">Connect</button> -->

 </div>

 <div class="card">
    <!-- <div class="fpo-scroll">
       <i class="fa fa-phone"></i>
       <p class="contact">7978535371</p>
    </div> -->

    <div class="fpo-scroll">
       <p class="fponame">ASA MILLETS PRODUCER COMPANY LTD</p>
    </div>
    <div class="fpo-scroll">
       <i class="fa fa-map-marker"></i>
       <p class="adrress">AT ANTARLA PO CHALKI,BALANGIR, 767037</p>
    </div>
    <!-- <button type="submit" class="button1">Connect</button> -->
 </div>

 <div class="card">
    <!-- <div class="fpo-scroll">
       <i class="fa fa-phone"></i>
       <p class="contact">7978927216</p>
    </div> -->

    <div class="fpo-scroll">
       <p class="fponame">SAMBHABAN FARMER PRODUCER COMPANY LIMITED</p>
    </div>

    <div class="fpo-scroll">
       <i class="fa fa-map-marker"></i>
       <p class="adrress">ARUHA BASUDEVPUR, 756168</p>
    </div>

    <!-- <button type="submit" class="button1">Connect</button> -->

 </div>