<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Department of Agriculture & Farmers' Empowerment</title>
  <link rel="stylesheet" href="assetsNew/css/style.css">
  <link rel="stylesheet" href="assetsNew/path/to/bootstrap/css/bootstrap.min.css">
  <script src="assetsNew/path/to/jquery/jquery.min.js"></script>
  <script src="assetsNew/path/to/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="icon" href="assets/images/new-logo.jpg">
</head>


<body ng-app="myapp" ng-controller="ctrl">
    
  <header>
    <div class="top-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ps-0">
            <div class="top-1-left">
              <h4>ANNOUNCEMENT</h4>
              <marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">
                <a href="#"><span><img src="assetsNew/images/icons/new.png" alt=""></span>Odisha FPO conclave was
                  organized
                  on 9th February 2024 by Department
                  of Agriculture & Farmers' Empowerment.
                </a><a href="#"><span><img src="assetsNew/images/icons/new.png" alt=""></span>“State Level workshop on
                  Formation
                  and Promotion of FPOs”,
                  on 21st July 2022, Organized by Department of Agriculture and Farmer’s Empowerment.
                </a>
              </marquee>
            </div>
          </div>
          <div class="col-md-4">
            <div class="top-1-right">
              <div class="top-right-1">
                <ul>
                  <li>
                    <a href="#" id="scrollToBottom"><i class="fa-solid fa-arrow-turn-down"></i></a>
                </li>
                  <li>
                    <div class="font-resizer">
                      <a href="#" id="normal"><i ></i> A</a>
                      <a href="#" id="increase"><i ></i> A+</a>
                      <a href="#" id="decrease"><i ></i> A-</a>
                    </div>
                  </li>
                  <li>
                    <a class="site-map">
                      <i class="fa-solid fa-sitemap"></i>
                    </a>
                  </li>
                  <li>
                    <div class="font-size-changer">
                      <a href="#">English<i class="fa-solid fa-sort-down"></i></a>
                    </div>
                  </li>
                  <li>
                    <a href="/userLogin" class="top-login-btn">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo-wrapper">
              <div class="logo">
                <a href="#"><img src="assetsNew/images/logo.png" alt="" title=""></a>
              </div>
              <div class="logo-2">
                <a href="#"><img src="assetsNew/images/logo2.png" alt="" title="">
                  <div class="logo-caption">
                    <h5>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ, ଓଡ଼ିଶା ସରକାର</h5>
                    <h5>Department of Agriculture & Farmers' Empowerment</h5>
                    <h6> Government of Odisha</h6>
                  </div>
                </a>
              </div>
            </div>

            <div class="top-2-right">
              <div class="cm-con">
                <div class="logo2-text">
                  <h4>Shri Naveen Patnaik</h4>
                  <h6>Honable Chief Minister</h6>
                </div>
                <figure><img src="assetsNew/images/cm.png" alt="Naveen Patnaik"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-3">
      <div class="container">
        <div class="col-md-12">
          <div class="top-2-wrapper">
            <div class="menu-con">
              <nav id="navigation1" class="navigation">
                <div class="nav-header">
                  <div class="nav-toggle"></div>
                </div>
                <div class="nav-menus-wrapper">
                  <ul class="nav-menu align-to-right">
                    <li>
                      <a href="https://fpoodisha.nic.in/"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li>
                      <a href="https://fpoodisha.nic.in/">HOME</a>
                    <li>
                      <a href="#">ABOUT PSFPO</a>
                      <ul class="nav-dropdown">
                        <li><a href="https://fpoodisha.nic.in/fpo1">PSFPO 1.0</a></li>
                        <li><a href="https://fpoodisha.nic.in/fpo2">PSFPO 2.0</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">ENROLMENT</a>
                      <ul class="nav-dropdown">
                        <li><a href="/#enrolment">FPO ENROLMENT</a></li>
                        <li ><a href="/#enrolment" >TRADER ENROLMENT</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">SEARCH</a>
                      <ul class="nav-dropdown">
                        <li><a href="https://fpoodisha.nic.in/fpofilterNew">FPO </a></li>
                        <li><a href="https://fpoodisha.nic.in/traderNew">TRADER </a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/#scheme">SCHEMES</a>
                    </li>
                    <li>
                      <a href="#">RESOURCES</a>
                      <ul class="nav-dropdown">
                        <li><a href="https://fpoodisha.nic.in/schemeGuidelinesNew">Scheme Guidelines </a></li>
                        <li><a href="https://fpoodisha.nic.in/knowledgeMaterialNew">Knowledge Material </a></li>
                      </ul>
                    </li>
                    <!-- <li>
                      <a href="#" onclick="showPopup()">CENTER OF EXCELLENCE-OUAT</a>
                    </li> -->
                    <li>
                      <a href="https://fpoodisha.nic.in/faqNew">FAQ</a>
                    </li>
                    <li>
                      <a href="https://fpoodisha.nic.in/grievance">GRIEVANCE</a>
                    </li>
                    <li>
                      <a href="/userLogin">LOGIN</a>
                    </li>

                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="popup-overlay"></div>
    <div id="popup" class="pop-up">
      <p>Coming soon......</p>
      <button onclick="closePopup()">Close</button>
    </div>

  </header>

  <section class="content-section bg-white br-5">

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div id="grievance_form">
            <h3 class="title text-center">Grievance Registration Form(ଅଭିଯୋଗ ପଞ୍ଜିକରଣ ଫର୍ମ)</h3>
            <form class="form" role="form" id="grievanceForm" style="margin-top: 30px" method="post"
              enctype="multipart/form-data">
              <input type="hidden" name="csrf_frm_token" value="634ea8546de005a90d4885cad6aa94db506e7d3f">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <fieldset class="fieldset">
                    <legend class="legend">Person Details</legend>
                    <div class="fieldset-content-col">
                      <div class="row">
                        <div class="col-md-12 col-12 form-group">
                          <label for="" class="form-label">Name of the Petitioner(ଅଭିଯୋଗକାରୀଙ୍କ
                            ନାମ)<span class="text-danger">*</span> </label>
                          <input type="text" name="petitioner_name"  ng-model="petitioner_name" class="form-control">
                        </div>

                        <div class="col-md-6 col-12 form-group">
                          <label for="" class="form-label">Email Id(ଇମେଲ ଆଇଡି)</label>
                          <input type="email" name="email"  ng-model="email" class="form-control" value="">
                        </div>
                        <div class="col-md-6 col-12 form-group">
                          <label for="" class="form-label">Mobile No(ମୋବାଇଲ ନ॰)<span
                              class="text-danger">*</span></label>
                          <input type="text" name="mobile_no"  ng-model="mobile_no" class="form-control"
                            onkeypress="return numbersonly(event)" maxlength="10">
                        </div>

                        <div class="col-md-6 col-12 form-group">
                          <label for="" class="form-label">District (ଜିଲ୍ଲା)<span class="text-danger">*</span></label>
                          <select name="district" class="form-control" ng-model="FpoDistrict" ng-change="loadFpoBlocks()"
                            required>
                            <option value="" disabled selected>--Select--</option>
                            <option ng-repeat="i in FpoDistrictList" value="{{i}}">
                              {{i.districtName}}
                            </option>
                          </select>
                        </div>

                        <div class="col-md-6 col-12 form-group">
                          <label for="" class="form-label">Block (ବ୍ଲକ୍)<span class="text-danger">*</span></label>
                          <select name="block" class="form-control" ng-model="FpoBlock" ng-change="loadFpoGP()" required>
                            <option value="">--Select--</option>
                            <option ng-repeat="b in FpoBlockList" value="{{b}}">{{b.blockName}}
                            </option>
                          </select>
                        </div>

                        <div class="col-md-12 col-12 form-group">
                          <label for="" class="form-label">Address Details(ସମ୍ପୂର୍ଣ ଠିକଣା)<span
                              class="text-danger">*</span></label>
                          <textarea name="address"  ng-model="address" rows="3" class="form-control"
                            placeholder="Enter your address"></textarea>
                        </div>

                      </div>
                    </div>
                  </fieldset>
                </div>
                <div class="col-lg-6 col-12">
                  <fieldset class="fieldset">
                    <legend class="legend">Grievance Details</legend>
                    <div class="fieldset-content-col">
                      <div class="row">

                        <div class="col-md-12 col-12 form-group">
                          <label for="" class="form-label">Sender Identity ( ପ୍ରେରକ ପରିଚୟ )<span
                              class="text-danger">*</span></label>
                          <select class="form-control" name="sender_identity"  ng-model="sender_identity">
                            <option value="">Select</option>
                            <option value="FPO">FPO's</option>
                            <option value="TRADERS">Traders</option>
                            <option value="FARMER">Farmer</option>
                            <option value="Government">Government</option>
                          </select>
                        </div>
<!-- 
                        <div class="col-md-12 col-12 form-group" id="id_proof_type_col" style="display: none;">
                          <label for="" class="form-label">ID Proof Type (ଆଇଡ଼ି ପ୍ରୁଫ୍ ପ୍ରକାର)</label>
                          <select class="form-control" name="id_proof_type"  ng-model="id_proof_type">
                            <option value="">Select</option>
                            <option value="VOTER_ID">Voter Id</option>
                            <option value="AADHAAR_NUMBER">Aadhaar Number</option>
                          </select>
                        </div>

                        <div class="col-md-12 col-12 form-group" style="display: none;" id="farmer_aadhaar_number_col">
                          <div class="row">
                            <div class="col-md-12 col-12 form-group">
                              <label for="" class="form-label">Aadhaar Number (ଆଧାର
                                ସଂଖ୍ୟା)</label>
                              <input type="text" name="farmer_aadhaar_number" id="farmer_aadhaar_number"
                                class="form-control" value="">
                              <input type="hidden" name="hidden_farmer_aadhaar_number"
                              ng-model="hidden_farmer_aadhaar_number">
                            </div>
                            <div class="col-md-12 col-12 form-group">
                              <label for="" class="form-label">Upload Aadhaar Proof (ଅପଲୋଡ୍ କରନ୍ତୁ ଆଧାର ପ୍ରୁଫ୍
                                ସଂଖ୍ୟା)</label>
                              <input type="file" name="farmer_aadhaar_number_document"
                              ng-model="farmer_aadhaar_number_document" class="form-control">
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12 col-12 form-group" style="display: none;" id="farmer_voter_id_col">
                          <div class="row">
                            <div class="col-md-12 col-12 form-group">
                              <label for="" class="form-label">Voter ID (ଭୋଟର ଆଇଡ଼ି)</label>
                              <input type="text" name="farmer_voter_id"  ng-model="farmer_voter_id" class="form-control"
                                value="">
                              <input type="hidden" name="hidden_farmer_voter_id" id="hidden_farmer_voter_id">
                            </div>
                            <div class="col-md-12 col-12 form-group">
                              <label for="" class="form-label">Upload Voter ID Proof (ଅପଲୋଡ୍ ଭୋଟର ଆଇଡ଼ି
                                ପ୍ରୁଫ୍ )</label>
                              <input type="file" name="farmer_voter_id_document"  ng-model="farmer_voter_id_document"
                                class="form-control">
                            </div>
                          </div>

                        </div> -->

                        <div class="col-md-12 col-12 form-group">
                          <label for="" class="form-label">To Whom (କାହାକୁ)<span class="text-danger">*</span></label>
                          <select class="form-control" name="to_whom"  ng-model="to_whom">
                            <option value="">Select</option>
                            <option value="FPO cell">FPO cell</option>
                            <option value="AHO">AHO</option>
                            <option value="ADH">ADH</option>
                            <option value="DDH">DDH</option>
                          </select>
                        </div>

                        <div class="col-md-12 col-12 form-group">
                          <label for="">Grievance Submitted Date(ଅଭିଯୋଗ ପଞ୍ଜିକରଣ ତାରିଖ )<span class="form-label"></span> :</label><br>
                          <input type="date" name="grievance_receive_date"  ng-model="grievance_receive_date"
                            class="form-control"  ng-change="dateOfCompare()" required>
                        </div><br>

                        <div class="col-md-12 col-12 form-group">
                          <label for="" class="form-label">Upload File (ଫାଇଲ ଅପଲୋଡ୍) <span
                              class="text-danger">*</span></label>
                          <input type="file" name="upload" id="upload"  ng-model="upload" class="form-control" value=""
                          onchange="angular.element(this).scope().userFileCheck()" accept="application/pdf">
                          <small class="text-danger">(Only .pdf, .jpg, .jpeg, .png files are
                            allowed)</small> (<span class="text-danger">Max 5MB</span>)
                            <span ng-show="showUploadError"></span>
                        </div>

                        <!-- <div class="col-md-4">
                          <label for="EarlierPI">
                              <b>File Upload<span style="color:red">*</span>:</b><br />
                          </label>
                          <input type="file"  class="form-control" ng-model="file" id="upload" 
                          onchange="angular.element(this).scope().userPhotoCheck()"  accept="application/pdf">                            
                          <span style="color:red" ng-show="showUploadError">
                          </span>
                      </div> -->
                        
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="button">
            <button type="submit" id="submit_raise" class="app-btn inline-btn" style="line-height: 37px;"
            ng-click="submitGrievance()"><span class="fa fa-paper-plane"></span> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </section>




  <footer>
    <div class="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="footer-box-1">
              <h4>Important Links</h4>
              <ul>
                <li><a href="https://agri.odisha.gov.in/">Department of Agriculture & Farmers' Empowerment</a></li>
                <li> <a href="https://odihort.nic.in/">Directorate of Horticulture</a></li>
                <li> <a href="https://osamb.odisha.gov.in/">Odisha State Agricultural Marketing Board</a></li>
                <li> <a href="https://sugam.odisha.gov.in/website/home">Go Sugam - Government Of Odisha</a></li>
                <li> <a href="https://safal.odisha.gov.in/website/home">SAFAL - Government Of Odisha </a></li>
                <li> <a href="https://www.cooperation.gov.in/">Ministry of Cooperation</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="footer-box-1">
              <h4>Quick Links</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li><a href="/fpo1"> ABOUT PSFPO</a></li>
                    <li><a href="/#enrolment"> ENROLMENT</a></li>
                    <li><a href="https://fpoodisha.nic.in/fpofilterNew">SEARCH</a></li>
                    <li><a href="/#scheme">SCHEMES</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="footer-address-wrapper">
              <h4>Contact Info</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul class="footer-address">
                    <li>
                      <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                      <h6>Address</h6>
                      <p> Directorate of Horticulture,
                        <br>Department of Agriculture & Farmers' Empowerment,
                        <br> Krushi Bhawan,Gopabandhu Marg
                        <br>Near State Guest House,Bhubaneswar
                      </p>
                    </li>
                    <li>
                      <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                      <h6>Phone</h6>
                      <p>0674-2391831,+91-9853901065</p>
                    </li>
                    <!-- <li>
                      <div class="contact-icon"><i class="fa-solid fa-fax"></i></div>
                      <h6>Fax</h6>
                      <p>0361-2301099</p>
                    </li> -->
                    <li>
                      <div class="contact-icon"><i class="fa-regular fa-envelope"></i></div>
                      <h6>Email</h6>
                      <p>supportdho.od@nic.in,PSFPO2.0@gamil.com</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="footer-map">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.621423729931!2d85.82546287469474!3d20.27452961325695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7afa115f1ff%3A0x7ffe22b3bebac455!2sKrushi%20Bhavan!5e0!3m2!1sen!2sin!4v1704206584747!5m2!1sen!2sin"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Disclaimer:The information contained in this website is for general information purposes only and is
              provided by Department of Agriculture & Farmers' Empowerment,Odisha. While we
              endeavour to keep the information up to date and correct, we make no
              representations or warranties of any kind, express or implied, about the completeness, accuracy,
              reliability, suitability or availability with respect to the website or the information, products,
              services, or related graphics contained on the website for any purpose. Any reliance you place on such
              information is therefore strictly at your own risk</p>
          </div>
        </div>
      </div>
    </div>
  </footer>





  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
      class="fas fa-chevron-up"></i></a>
      <script src="assetsNew/js/jquery.min.js"></script>
      <script src="assetsNew/js/dist_chart.min.js"></script>
      <script src="assetsNew/js/bootstrap.bundle.min.js"></script>
      <script src="assetsNew/js/aos.js"></script>
      <script src="assetsNew/js/owl.carousel.min.js"></script>
      <script src="assetsNew/js/nav-menu.js"></script>
      <script src="assetsNew/js/jquery.fancybox.min.js"></script>
      <script src="assetsNew/js/custom.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="/controller/grievance.js"></script>
  <!-- <script>
    function showPopup() {
      document.getElementById('popup-overlay').style.display = 'block';
      document.getElementById('popup').style.display = 'block';
    }

    function closePopup() {
      document.getElementById('popup-overlay').style.display = 'none';
      document.getElementById('popup').style.display = 'none';
    }
  </script> -->
   <script>
    document.getElementById("scrollToBottom").addEventListener("click", function() {
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>
<script>
  document.getElementById('normal').addEventListener('click', function(e) {
    e.preventDefault();
    document.body.style.fontSize = '15px'; 
  });

  document.getElementById('increase').addEventListener('click', function(e) {
    e.preventDefault();
    var currentFontSize = parseFloat(window.getComputedStyle(document.body, null).getPropertyValue('font-size'));
    document.body.style.fontSize = (currentFontSize + 2) + 'px';
  });

  document.getElementById('decrease').addEventListener('click', function(e) {
    e.preventDefault();
    var currentFontSize = parseFloat(window.getComputedStyle(document.body, null).getPropertyValue('font-size'));
    document.body.style.fontSize = (currentFontSize - 2) + 'px';
  });
</script>

</body>

</html>