<!doctype html>
<html lang="en">
	
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FPO Odisha</title>
		<meta name="keywords" content="Govt of Odisha" />
		<meta name="description" content="Govt of Odisha"/>
		<link rel="shortcut icon" href="assets/image/new-logo.jpg">
      <link rel="stylesheet" href="https://fontawesome.com/v4/assets/font-awesome/css/font-awesome.css" type="text/css">



	  
	
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">
		<link href="assets/css/font.css" rel="stylesheet" type="text/css">														
        <link href="assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="assets/css/color_skins.css" type="text/css">

		<link rel="stylesheet" href="assets/css/style.css" type="text/css">
		<link rel="stylesheet" href="assets/css/responsive.css" type="text/css">
		<script src="assets/js/angular.min.js"></script>
		<script src="assets/js/aos-master/aos-master/dist/aos.js"></script>
		<script src="assets/js/modernizr.js"></script>
		<script src="assets/js/js-sha512.js"></script>
		<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=geometry&sensor=false&key=AIzaSyBSsKUzYG_Wz7u2qL6unHqfBOmvaZ0H1Mg&callback=initMap">
</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" href="assets/css/leaflet.css">
		<script src="assets/js/leaflet.js"></script>
		 
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script>
			(function (i, s, o, g, r, a, m) {
			   i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				  (i[r].q = i[r].q || []).push(arguments)
			   }, i[r].l = 1 * new Date(); a = s.createElement(o),
				  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
			ga('create', 'UA-56543729-3', 'auto');
			ga('send', 'pageview');
			function openCity(evt, cityName) {
               var i, tabcontent, tablinks;
               tabcontent = document.getElementsByClassName("tabcontent");
               for (i = 0; i < tabcontent.length; i++) {
                  tabcontent[i].style.display = "none";
               }
               tablinks = document.getElementsByClassName("tablinks");
               for (i = 0; i < tablinks.length; i++) {
                  tablinks[i].className = tablinks[i].className.replace(" active", "");
               }
               document.getElementById(cityName).style.display = "block";
               evt.currentTarget.className += " active";
            }
            document.getElementById("defaultOpen1").click();
		 </script>
		 <style>
			  #newMap {
      height: 568px;
    width: 1026px;
         margin: 0 44px 36px 44px;
      }
			</style>
      
	</head>
   <body ng-app="myapp" ng-controller="ctrl">
      <!-- HEADER -->
      <header id="header">
	  <!-- header_top-->
         <section id="header_top">
            <div class="container">
               <div class="header_top_left">
                  <ul>
                     <li>
                        <a href="#" aria-labelledby="text_screen_reader">
                        <span id="text_screen_reader"> ଓଡିଶା ସରକାର</span></a>					</li>
                     <li>
                        <a href="#" aria-labelledby="text_help_line">
                        <span id="text_help_line">GOVERNMENT OF ODISHA</span></a>					</li>
                  </ul>
               </div>
               <div class="header_top_right">
                  <ul id="accessibilityNav">
                     <li id="btn_SkipToContent">
                        <a href="#SkipToContent" aria-labelledby="Title_SkipToContent">
                        <i class="fa fa-level-down" aria-hidden="true"></i> 
                        <span id="Title_SkipToContent">Skip to Main Content</span></a>					</li>
                     <li class="nav_search">
                        <a href="#" class="btn" aria-label="search any text within the website"><img src="assets/image/ico-site-search.png" /></a>
                        <div class="nav_search_input">
                           <form action="#" role="search">
                              <div class="input-group">
                                 <input type="text" class="form-control" placeholder="Search Text" aria-label="Search Text" name="search">
                                 <div class="input-group-btn">
                                    <button class="btn btn-default" type="submit" aria-label="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </li>
                     <li><a href="#" aria-label="sitemap page" title="sitemap"><i class="fa fa-sitemap" aria-hidden="true"></i></a></li>
                     <li class="accesibility">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-label="Accesibility Menu for Font and Background" aria-owns="font-setting-buttons"><img src="assets/image/ico-accessibility.png" /></a>
                        <ul class="dropdown-menu" id="font-setting-buttons" role="menu">
           <li role="menuitem"><button type="button" class="decrease-me jbox_tooltip" aria-label="Decrease Text Size"  id="btn-decrease" title="Decrease Text Size">A-</button></li>
           <li role="menuitem"><button type="button" class="reset-me jbox_tooltip" aria-label="Default Text Size" id="btn-orig"  title="Default Text Size">A</button></li>
           <li role="menuitem"><button type="button" class="increase-me jbox_tooltip" aria-label="Increase Text Size" id="btn-increase" title="Increase Text Size">A+</button></li>
                           <li role="menuitem"><button type="button"  onClick="chooseStyle('black-theme', 60);" class="black-box jbox_tooltip" id="bodyBlack" aria-label="Black Background Theme" title="Black Background Theme">A</button></li>
                           <li role="menuitem"><button type="button"  onClick="chooseStyle('white-theme', 60);" class="white-box jbox_tooltip" id="bodyDefault" aria-label="Default Background Theme" title="Default Background Theme">A</button></li>
                        </ul>
                     </li>
                     <li class="accesibility">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" ><img src="assets/image/ico-social.png" /></a>
                        <ul class="dropdown-menu" id="font-setting-buttons" role="menu">
                           <li role="menuitem"><button type="button" class=" jbox_tooltip"><a href="#"><i class="icon-facebook fa-fbook"></i></a></button></li>
                           <li role="menuitem"><button type="button" class=" jbox_tooltip"><a href="#"><i class="icon-twitter-logo fa-twitter"></i></a></button></li>
                        </ul>
                     </li>
                     <li class="lang">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-label="Language Menu" aria-owns="font-setting-buttons">Language</a>
                           <ul class="dropdown-menu" id="font-setting-buttons" role="menu">
                           	<li role="menuitem"><button type="button" class="reset-me jbox_tooltip" aria-label="English Text" title="English Text" onClick="language(1);">ENG</button></li>
                           	<li role="menuitem"><button type="button" class="decrease-me jbox_tooltip" aria-label="Hindi Text" title="Hindi Text" onClick="language(2);">हिन्दी</button></li>
                           </ul>
                        <i class="fa fa-bullhorn" style=" font-size: 22px;padding: 5px;"></i>                     </li>
                  </ul>
               </div>
            </div>
         </section>
		  <!-- header_top End-->
		  
		   <!-- Department logo-->
         <section id="header_middle">
            <div class="container">
               <div class="row">
			   
			   <div class="col-md-6 col-sm-4">
                     <h1 aria-label="This is the official website of Agreeculture Department of Government of Odisha">
                        <a href="#" aria-hidden="true">
                       <strong><img src="assets/image/govt.png"  aria-hidden="true" class="img-responsive logo-img" alt="Logo" style="max-height: 77px;">
                        
କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ, ଓଡ଼ିଶା ସରକାର<br> </strong>
                        <strong class="odisha-logo"> Department of Agriculture & Farmers' Empowerment</strong>
						<strong class="odisha-logo"> Government of Odisha</strong>                        </a>                     </h1>
                 </div>
                <div class="col-md-3 col-sm-4 fpo">
                     <h1 aria-label="This is the official website of Agreeculture Department of Government of Odisha">
                        <a href="#" aria-hidden="true">
                        <img src="assets/image/new-logo.jpg"  aria-hidden="true" class="img-responsive logo-img" alt="Logo">                        </a>                     </h1>
                 </div>
				  
				  
				  
                  <div class="col-md-3 col-sm-4 cm">
				  <a href="#" aria-hidden="true">
                       <img src="assets/image/cm-odisha.png"  aria-hidden="true" class="img-responsive logo-img" alt="Logo" style="max-height: 113px;">
                       <span class="cm-title">
						<strong>Shri Naveen Patnaik<br> </strong>
                    <strong> Hon'ble Chief Minister</strong></span></a>				</div>
               </div>
            </div>
         </section>
		 
		 <!-- Department End-->
		 
		 <!-- Main menu-->

		
         <nav class="navbar st-navbar " aria-label="Main navigation">
            <!-- navbar-fixed-top-->
            <div class="container">
               <div id="st-navbar-collapse">
                  <ul class="nav navbar-nav navbar-right" id="mainNavCon">
                     <li><a href="#">Home</a></li>
                     <li>
                        <a href="javascript:void(0);">About Us</a>
                        <ul class="dropdown-menu">
                           <li><a href="#">Who is Who</a></li>
                           <li><a href="#">Mission/ Vision</a></li>
                           <li><a href="javascript:void(0);">About Us</a>
                        <ul class="dropdown-menu">
                           <li><a href="#">Who is Who</a></li>
                           <li><a href="#">Mission/ Vision</a></li>
                           <li><a href="#">History</a></li>
                        </ul></li>
                        </ul>
                     </li>
                     <li><a href="#">Schemes</a></li>
					 <li>
                        <a href="">Our Enrolment</a>
                        <ul class="dropdown-menu">
                           <li><a href="#dep_1">FPO</a></li>
                           <li><a href="#dep_2">Farmer</a></li>
						   <li><a href="#dep_3">Trader</a></li>
						   <li><a href="#dep_4">Consumer Group</a></li>
						   
                           
                        </ul>
                     </li>
                     <li><a href="#">Resources</a></li>
                     <li><a href="#">Budget</a></li>
                     <li><a href="#">Media</a></li>
					 <li><a href="#">Production</a></li>
                     <li><a href="#">Dashbard</a></li>
                     <li><a href="#">Tenders</a></li>
                     <li><a href="#">Citizen Corner</a></li>
					 <li><a href="#">Search</a></li>
					 <li><a href="#">Login</a></li>
					 <li><a href="#">Feedback</a></li>
					 <li><a href="#">FAQ</a></li>
					 <li><a href="#">Help</a></li>
					 <li><a href="#">Contact Us</a></li>
                     <li class="more">
                        <button type="button" aria-label="overflow menu items"><i class="fa fa-bars" aria-hidden="true"></i></button>
                        <div class="overflowMenuHide" id="overflow">
                           <ul></ul>
                           <button id="btn_overflowMenuHide"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                        </div>
                     </li>
                  </ul>
               </div>
               <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
         </nav>
		 <!-- Main menu End-->
      </header>

		<!-- /HEADER -->

<main class="content_body">
		
		<!--Slider -->
		<section id="slider" aria-hidden="true">
		<div class="col-lg-8">
   
                    <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
					<div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="assets/image/Banner/1.png" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">Technology</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">January 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem. Dolores et erat et elitr sea sed</a>
                            </div>
                        </div>
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="assets/image/Banner/2.png" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">Technology</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">January 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem. Dolores et erat et elitr sea sed</a>
                            </div>
                        </div>
                        <div class="position-relative overflow-hidden" style="height: 435px;">
                            <img class="img-fluid h-100" src="assets/image/Banner/3.png" style="object-fit: cover;">
                            <div class="overlay">
                                <div class="mb-1">
                                    <a class="text-white" href="">Technology</a>
                                    <span class="px-2 text-white">/</span>
                                    <a class="text-white" href="">January 01, 2045</a>
                                </div>
                                <a class="h2 m-0 text-white font-weight-bold" href="">Sanctus amet sed amet ipsum lorem. Dolores et erat et elitr sea sed</a>
                            </div>
                        </div>
                    </div>
                </div>
			<!--Slider End -->
			<!--cm-minister -->		  
			<div class="col-md-4" style="padding: 1px;">
                     <div class="panel top_management">
                        <div class="panel-body">
                           
                           <div class="single_management"  style="margin-top: 0;">
                              <a href="#">
                                 <div>
                                    <img src="assets/image/minister/Arun-Kumar-Sahoo.jpg" alt="Photo of Shri Arun Kumar Sahoo" height="80px">
                                 </div>
                                 <p>Dr. Arun Kumar Sahoo</p>
                                 <span>Hon’ble Agriculture Minister</span>
                              </a>
                           </div>
                           <div class="single_management">
                              <a href="#">
                                 <div>
                                    <img src="assets/image/minister/Sanjeev Chopra.jpg" alt="Photo of Shri Sanjeev Chopra" height="80px">
                                 </div>
                                 <p>Shri Sanjeev Chopra, IAS</p>
                                 <span>Agriculture Production Commissioner, Additional Chief Secretary,Agriculture & FE</span>
                              </a>
                           </div>
                           <div class="single_management">
                              <a href="#">
                                 <div>
                                    <img src="assets/image/minister/Sanjeev-Kumar-Chadha.jpeg" alt="Photo of Shri Sanjeev Kumar Chadha" height="80px">
                                 </div>
                                 <p>Dr. Sanjeev Kumar Chadha, IFS</p>
                                 <span>Special Secretary DA & FE </span>
                              </a>
                           </div>
						   <div class="single_management">
                              <a href="#">
                                 <div>
                                    <img src="assets/image/minister/Shri-Rohit-Kumar-Lenka.jpeg" alt="Photo of Shri Rohit Kumar Lenka" height="80px">
                                 </div>
                                 <p>Shri Rohit Kumar Lenka, IFS</p>
                                 <span>Director of Horticulture</span>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
			<!--cm-minister -->

         </section>
		 
		 
	
			</main>
				 <!--Announcement -->
				 <div style="clear: both;"></div>
				 			<div id="SkipToContent"></div>

				 <section id="annauncment">
						  <div class="panel slider-btn" style="overflow: hidden;">
							 <div class="panel-heading">
								<h2 class="panel-title">// BREAKING //</h2>
							 </div>
							 <div class="panel-body">
								<div class="news-sec" style="    margin-top: -13px;">
		<div class="owl-carousel owl-carousel-1 tranding-carousel position-relative d-inline-flex align-items-center ml-3" style="width: calc(100% - 100px); padding-left: 90px;">
									  <div class="text-truncate"><a class="text-secondary" href="">Odisha FPO conclave 2021 was organized on 18th Dec 2021 by Department of Agriculture & Farmers' Empowerment.</a></div>    
									  <div class="text-truncate"><a class="text-secondary" href=""> Round Table on Agri Marketing Opportunities in Odisha” organized on 22nd April, 2022 by Department of Agriculture & Farmer’s Empowerment.</a></div>
</p>
								   </div>
								</div>
							 </div>
						  </div>
					   </section>
					   <!--Announcement End -->
		 <!-- figure part-->
		<div class="tm-project-fig">
		<div class="container">
			<div class="row">
	
	<div class="countmain text-center">
	        <div class="col">
	        <div class="counter">
      <i class="fa fa-institution fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
       <p class="count-text ">FPOs Registered</p>
    </div>
	        </div>
              <div class="col">
               <div class="counter">
      <i class="fa fa-users fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="1700" data-speed="1500"></h2>
      <p class="count-text ">Farmer Membership</p>
    </div>
              </div>
              <div class="col">
                  <div class="counter">
      <i class="fa fa-map-marker-alt fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="11900" data-speed="1500"></h2>
      <p class="count-text ">Districts Covered</p>
    </div></div>
              <div class="col">
              <div class="counter">
       <i class="fa fa-map-marked-alt fa-2x"></i>
      <h2 class="timer count-title count-number" data-to="157" data-speed="1500"></h2>
      <p class="count-text ">Blocks Covered</p>
    </div>
              </div>
         </div>


</div>
</div>
</div>
	<!-- figure part end-->
	
		 <!-- Welcome -->
		 <section class="welcome-section">
		        <div class="container-fluid">
				<div class="row">
                  <div class="col-md-8">
               <div style="background: #d8d8d82b; min-height: 398px;">
                  <div class="panel-heading">
                     <h1 class="panel-title" style="font-size: 25px;text-transform: capitalize; margin-top: 18px; color: #005aff; text-align: center;">Welcome to FPO Odisha</h1>
                  </div>
                  <div class="panel-body">
                      
                     <p>FPO Odisha is an information and business facilitation portal aimed at brining all the stakeholders in the FPO ecosystem on a common forum for business linkage, information exchange and relevant services keeping FPO as the primary stakeholder.</p>
					 
<p>The portal has features and integrations which help the stakeholders to create and administer their own account, connect to relevant stakeholders, and do business linkages, get Information on schemes, do Query and grievance posting, avail services from other government service platform, get Latest updates and announcements, avail Knowledge resources in the ecosystem.</p>

<p><strong style="color: #ff713a; font-size: 20px;">Main features of the FPO Portal: -</strong></p>
<div class="welcome-list">
<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Direct Connection to Buyers &amp; Traders</li>
											<li><span class="icon-arrow"></span> Direct connection to Input Suppliers</li>
											<li><span class="icon-arrow"></span> Manage and Increase membership</li>
											<li><span class="icon-arrow"></span> Generate sales order to buyers and sellers from one point</li>
											<li><span class="icon-arrow"></span> Apply for Licenses</li>
		      </ul>
										   <ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Direct Connection to Buyers &amp; Traders</li>
											<li><span class="icon-arrow"></span> Direct connection to Input Suppliers</li>
											<li><span class="icon-arrow"></span> Manage and Increase membership</li>
											<li><span class="icon-arrow"></span> Generate sales order to buyers and sellers from one point</li>
											<li><span class="icon-arrow"></span> Apply for Licenses</li>
										   </ul>


</div>
                                          																																																																													  
                     
                    
                    <button class="contact100-form-btn">
						<span>
							Read More
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
                  </div>
               </div>
			   </div>
						<div class="col-md-4">
                     <div class="verticalCarousel">
            <div class="verticalCarouselHeader">
                <h3>FPO Updates</h3>
                <a href="#" class="vc_goDown"><i class="fa fa-fw fa-angle-down"></i></a>
                <a href="#" class="vc_goUp"><i class="fa fa-fw fa-angle-up"></i></a>
            </div>
			<!--<marquee width="100%" height="100%" direction="up" onmouseout="this.start();" onmouseover="this.stop();">-->
            <ul class="verticalCarouselGroup vc_list">
			
                <li>
                   <img src="assets/image/news/1.jpg" alt="Photo of Shri Gajendra Singh Shekhawat" height="80px">
				  
				   <span>8 / 3 / 2022</span>
                    <p>Why renewable energy is key to the success of farmer-producer organisations</p>
                </li>
                <li>
                    <img src="assets/image/news/1.jpg" alt="Photo of Shri Gajendra Singh Shekhawat" height="80px">
					<span>10/ 3 / 2022</span>
                    <p>Farmers’ problem worldwide: The need for global farmers organization.</p>
                </li>
                <li>
                    <img src="assets/image/news/1.jpg" alt="Photo of Shri Gajendra Singh Shekhawat" height="80px">
					<span>17 / 12/ 2021</span>
                    <p>Grameen Foundation India launches initiative to strengthen farmer producer organizations.</p>
                </li>
                <li>
                    <img src="assets/image/news/1.jpg" alt="Photo of Shri Gajendra Singh Shekhawat" height="80px">
					<span>8 / 3 / 2022</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                </li>
                <li>
                    <img src="assets/image/news/1.jpg" alt="Photo of Shri Gajendra Singh Shekhawat" height="80px">
					<span>8 / 10 / 2021</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                </li>
            </ul>
			<!-- </marquee>-->
        </div>
                  </div>
						</div>
		        </div>
		    </section>
		<!-- Welcome  End-->
			
         <!-- Key Features Of FPO  start-->
		      <div  class="concceptFPO container">
			<div>
				<h1 class="tm-section-heading">Key Features Of FPO</h1>
				<p class="concept-fpo-text">
					“Striving towards collective enhancement of production, productivity, and profitability of farmers”
			     </p>
			</div>
	       <div class="row">
		   						<div class="owl-carousel owl-carousel-3 carousel-item-4 position-relative">

		     <div class="singleService align-items">
				 <div>
					<img src="./assets/image/logo1.png"/>
				</div>
				<h5 class="concept-fpo-item-title">Why FPO</h5>
				<p class="concept-fpo-item-text">
					FPO provides economy of scale through collectivization at forward and backward ends of the value chain. By aggregation at buying & selling ends and value addition FPO ensures better income realization to its farmer member. 
				</p>
			 </div>
		     <div class="singleService align-items">
				<div>
					<img src="./assets/image/logo2.png"/>
				</div>
				<h5 class="concept-fpo-item-title">Enrollment</h5>
				<p class="concept-fpo-item-text">
Stakeholders can enrol on the portal & update their profile to avail various benefits from the ecosystem. Farmers, FPOs, Traders and Consumer group are the major stakeholder.
				</p>
			 </div>
		     <div class="singleService align-items">
				<div>
					<img src="./assets/image/search.png"/>
				</div>
				<h5 class="concept-fpo-item-title">Search</h5>
				<p class="concept-fpo-item-text">
					
Any stakeholder can view, from the ecosystem can view, show interest and connect with FPOs and Traders and enrolled on the FPO Odisha portal.Details can be filtered by Location, Commodity/Crop and Turnover.
				</p>
			 </div>
			 <div class="singleService align-items">
				<div>
					<img src="./assets/image/aboutfpo.png"/>
				</div>
				<h5 class="concept-fpo-item-title">About FPO</h5>
				<p class="concept-fpo-item-text">
The FPO concept, principles, governance system, FPO registration guidelines
				</p>
			 </div>
		     <div class="singleService align-items">
				<div>
					<img src="./assets/image/scheme.png"/>
				</div>
				<h5 class="concept-fpo-item-title">Schemes</h5>
				<p class="concept-fpo-item-text">
					
FPO can access information on relevant schemes with details on Support components, Eligibility criteria, Process of Application and Required documentation for application. Complete scheme document can be accessed for more information on schemes
				</p>
			 </div>
			 <div class="singleService align-items">
				<div>
					<img src="./assets/image/implink.png"/>
				</div>
				<h5 class="concept-fpo-item-title">Important Link</h5>
				<p class="concept-fpo-item-text">
					Find links and navigate to relevant Agriculture and related department websites. Avail services of interest from respective departments
				</p>
			 </div>
		     <div class="singleService align-items">
				<div>
					<img src="./assets/image/smalllogin.png"/>
				</div>
				<h5 class="concept-fpo-item-title">Login</h5>
				<p class="concept-fpo-item-text">
					Stakeholders enrolled on the FPO portal can manage and update their profile. Features include- updating profile , business information , administrative management, sales and purchase requests etc
				</p>
			 </div>
			 </div>
	      </div>
       </div>
		<!-- Key Features Of FPO  end-->
	 							 
		  <!-- Enrollment start -->
		 
			 <div class="tm-departments-vertical">
		<div class="container-fluid">
			<div class="row">
				<h1 class="tm-section-heading">Enrolment</h1>
				<p class="text-center">“Enrol on the FPO portal and access benefits from the ecosystem”</p>
				<div class="departmentTabs" style="margin-top: 20px;">
					<div class="col-md-3">
						<ul class="nav nav-tabs" role="tablist">
							<li class="active" role="presentation">
								<a aria-controls="dep_1" data-toggle="tab" href="#dep_1" role="tab">FPO Enrolment</a>
							</li>
							<li role="presentation">
								<a aria-controls="dep_2" data-toggle="tab" href="#dep_2" role="tab">Farmer Enrolment</a>
							</li>
							<li role="presentation">
								<a aria-controls="dep_3" data-toggle="tab" href="#dep_3" role="tab">Trader Registration </a>
							</li>
							<li role="presentation">
								<a aria-controls="dep_4" data-toggle="tab" href="#dep_4" role="tab">Consumer Group Enrolment</a>
							</li>

						</ul>
					</div>
					<div class="col-md-9">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="dep_1" role="tabpanel">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="department-image"><img alt="Department" class="img-responsive" src="assets/image/enroll/fpo.jpg"></div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="department-details">
										<div class="tm-box-heading">Find Better and More Options to Buy, Sell and Bargain!!</div>
										<p>Enroll here and take advantage of -</p>
										<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Direct Connection to Buyers & Traders</li>
											<li><span class="icon-arrow"></span> Manage and Increase membership</li>
											<li><span class="icon-arrow"></span> Generate sales order to buyers and sellers from one point</li>
											
											
										</ul>
										<ul class="col-sm-6">
										<li><span class="icon-arrow"></span> Apply e-Licenses for Seed, Fertilizers, Pesticides</li>
											<li><span class="icon-arrow"></span> Know about Government schemes</li>
											<li><span class="icon-arrow"></span> Keep updated on latest development in FPO ecosystem</li>
											<li><span class="icon-arrow"></span> Other important links</li>
										</ul>
										<a class="tm-btn btn-blue" href="#">view all services</a>
										<a class="tm-btn btn-blue" href="#">Login</a>

										
										
									</div>
								</div>
	<div class="container-contact100">
		<div class="wrap-contact100"  ng-show='FPORegForm'>
			<form class="contact100-form validate-form"  method="POST" name="FPORegForm"
			novalidate>
				<span class="contact100-form-title">
					FPO Enrollment
				</span>

				

				<div class="wrap-input100  bg1 rs1-wrap-input100" >
					<span class="label-input100">Name of the FPO*</span>
					<input class="input100" type="text"  placeholder="Enter Your Name "  name="fpoName" ng-model="fpoName"
					required>
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">FPO Contact Number*</span>
					<input class="input100" type="tel"  placeholder="Enter Number Phone" minlength="10" maxlength="10"
					name="fpoContactNo" ng-model='fpoContactNo' ng-pattern="/^[6-9][0-9]{9}$/"
					ng-disabled="disablenum">
					<div ng-show="FPORegForm.fpoContactNo.$error.required || FPORegForm.fpoContactNo.$error.pattern ">
                    	<span style="color:#f51212"> Valid phone number is required</span>
					</div>	
				</div>
				<div class="wrap-input100  bg1 rs1-wrap-input100">
					<span class="label-input100">Email *</span>
					
					<input  class="input100" type="email" name="fpoEmail"  placeholder="Enter Your Email" ng-model='fpoEmail'
					required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >
                    <span ng-show="FPORegForm.fpoEmail.$error.pattern"
                                             style="color:#f51212">Invalid
                                             Mail Id.</span>
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100" >CIN Number*</span>
					<input class="input100" type="text" name="cinNumber" placeholder="Enter CIN Number" maxlength="21"
					ng-minlength="21" ng-maxlength="21" ng-model="cinNumber">
					<div
					ng-show="FPORegForm.cinNumber.$error.maxlength||FPORegForm.cinNumber.$error.minlength ">
					<span style="color:#f51212"> Valid CIN number required</span>
				 </div>
				</div>

				<div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
					<span class="label-input100">District *</span>
					<div>
                  <select name=""class="js-select2" ng-model="FpoDistrict"
                  ng-change="loadFpoBlocks()" required>
                  <option value="" disabled selected>--Select--</option>
                  <option ng-repeat="i in FpoDistrictList" value="{{i}}">
                     {{i.districtName}}
                  </option>
               </select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
				<div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
					<span class="label-input100">Block *</span>
					<div>
						<select name="" class="js-select2" ng-model="FpoBlock"
						ng-change="loadFpoGP()" required>
						<option value="">--Select--</option>
						<option ng-repeat="b in FpoBlockList" value="{{b}}">{{b.blockName}}
						</option>
					 </select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
					<span class="label-input100">Gram Pachayat *</span>
					<div>
						<select name="" class="js-select2" ng-model="FpoGP"
						ng-change="loadFpoVillage()" required>
						<option value="" disabled selected>--Select--</option>
						<option ng-repeat="c in FpoGPList" value="{{c}}">
						   {{c.gpName}}</option>

					 </select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>
				<div class="wrap-input100 input100-select bg1 rs1-wrap-input100">
					<span class="label-input100">Villages *</span>
					<div>
						<select name="Fpovillage" class="js-select2" ng-model="Fpovillage" required>
							<option value="">--Select--</option>
							<option ng-repeat="d in FpovillageList" ng-value="{{d}}">
							   {{d.villageName}}</option>

						 </select>
						<div class="dropDownSelect2"></div>
					</div>
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn"  ng-disabled='!fpoName || !fpoContactNo || !cinNumber'
					ng-show='FPOotp1' ng-click='sendOtptoFPO()'>
						<span>
							Send OTP
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>

			<div class="row" ng-show='showOtp5'>
				<div style="color: green;">
					<span class="label-input100">Otp has been sent to the above entered mobile number</span>
				</div>
				<div>
				 
				   <span class="label-input100" style="color: #3734ed;">Enter OTP</span>

				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
				   <input  class="input100" type="text" ng-model='FPOotp' allow-numbers-only>
				</div>
				<div class="container-contact100-form-btn">
				   <button class="contact100-form-btn"  ng-disabled='!FPOotp || !fpoContactNo || !cinNumber'
					  ng-click='FPORegistrationFormSubmit()'>Submit</button>
				</div>

				<div style="color: red;" ng-if='otpErrorForFpo'>
			
				   <span class="label-input100">OTP does not match</span>
				</div>
			 </div>
		</div>
		<div class="wrap-contact100" ng-show="FpoForm1">
			<div ng-if='fpoFormSubmitStatus' style="text-align: center;color: green;">
			   <br><br><br><br>
			 <center>
			   <p>Your Enrollment request is sent to concerned authority for approval.</p><br><br>
			   <p>Once approved then User ID and Password will be sent through sms .</p><br><br>
			</center>
			   
			   <h2>Application Reference Number:</h2><strong> {{FpoRefNo}}</strong></p><br><br>

			</div>
		 </div>
	</div>
							</div>
							<div class="tab-pane fade" id="dep_2" role="tabpanel">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="department-image"><img alt="Department" class="img-responsive" src="assets/image/enroll/farmer.jpg"></div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="department-details">
										<div class="tm-box-heading">Fetch- Better prices for your produce, Assured access to Input Supply, Detailed information on benefit of Government schemes and More!!</div>
										<p>Enroll here and take advantage of -</p>
										<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Collective Buying and Selling through FPOs</li>
											<li><span class="icon-arrow"></span> Apply for FPO membership in your vicinity</li>
											<li><span class="icon-arrow"></span> Directly Connecting with Buyers & Traders</li>
											
										</ul>
										<ul class="col-sm-6">
										<li><span class="icon-arrow"></span> Appy e-Licenses for Seed, Fertilizers, Pesticides</li>
											<li><span class="icon-arrow"></span> Find link for generating farmer ID</li>
											<li><span class="icon-arrow"></span> Know about Government schemes</li>
											<li><span class="icon-arrow"></span> Other important links</li>
										</ul>
										<a class="tm-btn btn-blue" href="#">view all services</a>
										<a class="tm-btn btn-blue" href="#">Login</a>
									</div>
								</div>
								<div class="container-contact100" id="form2">
		<div class="wrap-contact100" >
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Farmer Enrolment
				</span>

				
<div class="wrap-input100">
				<div class="wrap-input100  bg1 rs1-wrap-input100" >
					<span class="label-input100">Enter farmer ID:*</span>
					<input class="input100" type="text"  placeholder="Enter Your Farmer ID "  ng-model='farmerId'>
				</div>
									<a  class="myButton"  ng-click='searchFarmer()'>Search</a>

				</div>
				<div ng-show='correctFarmerID' style="width: 635px;">
					<div style="text-align: center;color:red;"><br><br>
					   <p>Please enter correct farmer-ID !!</p>
					</div>
				 </div>

				 <div class="row" ng-if='showFarmerTbl'>
					<div class="col-md-11 frmDetailsCard">

					   <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
						  <b>{{fetchedFarmerData.VCHFARMERNAME}},</b>
					   </div>
					   <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
						  <b
							 ng-if='fetchedFarmerData.RELATION=="Son"'>S/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
						  <b
							 ng-if='fetchedFarmerData.RELATION=="Wife"'>W/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
						  <b
							 ng-if='fetchedFarmerData.RELATION==""'>S/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
						  <b
							 ng-if='fetchedFarmerData.RELATION==""'>S/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
					   </div>
					   <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
						  Village:<b>{{fetchedFarmerData.address.village}}</b>, &nbsp;&nbsp; Gram
						  Panchyat:
						  <b>{{fetchedFarmerData.address.gp}}</b>, <br> Block:
						  <b>{{fetchedFarmerData.address.block}}</b>,&nbsp;&nbsp;District:
						  <b>{{fetchedFarmerData.address.district}}</b>
					   </div>
					   <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
						  Mob: <b> ******{{frmHiddenMob}}</b>
					   </div>
					</div>
					<div ng-show='otpSectionAll'>
					   <div class="col-md-12 frmRegMB" ng-show='!showOtpSec'>
						  <!-- showSecondFrmerScrn();getCropData() -->
						  <button class="contact100-form-btn" ng-click='sendOtpToFarmer()'>Send OTP to Verify</button>
					   </div>
					   <div class="row" ng-show='showOtpSec'>
						  <div style="width:100%;text-align: center;color: green;">
							<br> <p>Otp has been sent to the above shown mobile number</p>
						  </div>
						  <div class="col-md-4">
							 <h3>Enter OTP</h3>
						  </div>
						  <div class="col-md-4">
							 <input type="number" class="form-control" ng-model='frmOtp'>
						  </div>
						  <div class="col-md-4">
							 <button class="contact100-form-btn" ng-click='frmrOtpSubmit(frmOtp)'>Submit OTP</button>
						  </div>
						  <div style="width:100%;text-align: center;color: red;" ng-if='otpError1'>
							 <p>OTP does not match</p>
						  </div>
					   </div>
					</div>
				  
				 </div>

				   <div ng-hide='showFrmrRegScrn'>
                                 <form name='farmerRegForm2' style="width: 100%;">
                                    <div class="row">
                                       <div class="col-md-12" style="color: blue;margin-bottom: 1rem;">
                                          <i class="fa fa-arrow-left" aria-hidden="true"
                                             ng-click='showSecondFrmerScrn()'
                                             style="font-size: x-large;display:flex"></i>

                                       </div>

                                       <div class="col-md-12">
                                          <p style="text-align: left;margin-bottom: 0.5rem;">Select suitable FPO or FIG
                                             to
                                             be a member</p>
                                       </div>
                                       <div class="col-md-4">
                                          <label for="">Type</label><br>
                                          <select class="form-control" ng-model='forwardTo' required
                                             ng-change='getFpoOrFigList(forwardTo)'>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="FPO">FPO</option>
                                             <!-- <option value="FIG">FIG</option> -->
                                          </select>
                                       </div>
                                       <div class="col-md-4">
                                          <label for="">District</label><br>
                                          <select class="form-control" ng-model='frmDist' required
                                             ng-change='getAllFposFromDist()'>
                                             <option value="" disabled selected>--District Select--</option>
                                             <option value="{{dist}}" ng-repeat='dist in DistrictList'>
                                                {{dist.districtName}}</option>
                                          </select>
                                       </div>
                                       <!-- <div class="col-md-4" ng-show='forwardTo=="FIG"'>
                                          <select class="form-control" ng-model='fpoOrFigName' required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="{{figname}}" ng-repeat='figname in allFigNames'>
                                                {{figname.figName}}</option>
                                          </select>
                                       </div> -->
                                       <div class="col-md-4" ng-show='forwardTo=="FPO"'>
                                          <label for="">FPO Name</label><br>
                                          <select class="form-control" ng-model='fpoOrFigName' required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="{{fpo}}" ng-repeat='fpo in allFpos'>{{fpo.fpoName}}</option>
                                          </select>
                                       </div>
                                       <div class="col-md-12">
                                          <p style="text-align: left;margin-top: 1.8rem;margin-bottom: 0.5rem;">Please
                                             select your season wise approximate area</p>
                                       </div>

                                       <div class="col-md-4">
                                          <label for="">Season</label><br>
                                          <select class="form-control" ng-model='frmSeason'>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="Kharif">Kharif</option>
                                             <option value="Rabi">Rabi</option>
                                          </select>
                                       </div>
                                       <div class="col-md-4">
                                          <label for="">Crop</label><br>
                                          <select class="form-control" ng-model='frmCrop'>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="{{x}}" ng-repeat='x in cropData'>{{x.Crop_Name}}</option>
                                          </select>
                                       </div>
                                       <div class="col-md-2" style="padding-top: 12px;">
                                          <label for="">Area(in hectre)</label><br>
                                          <input type="number" class="form-control" ng-model='frmArea'>
                                       </div>
                                       <div class="col-md-2">
                                          <div class="plus radius" style="--l:35px;--t:3px;--c2:green;margin-top: 32%;"
                                             ng-click='cropPushToAry()'></div>
                                       </div>
                                       <div class="row" style="width: 100%;">
                                          <div class="col-md-8">
                                             <!-- Selected crop variety added table -->
                                             <div class="table-responsive" ng-if='frmrCropArry.length>0'>
                                                <table class="table table-striped table-bordered table-hover"
                                                   id="orderListTable">
                                                   <caption></caption>
                                                   <thead>
                                                      <tr>
                                                         <th scope="col">Crop</th>
                                                         <th scope="col">Season</th>
                                                         <th scope="col">Area</th>
                                                         <th scope="col">Remove</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <!-- <p ng-if='frmrCropArry.length==0'>No Data</p> -->
                                                      <tr ng-repeat='data in frmrCropArry'>
                                                         <td>{{data.cropName}}</td>
                                                         <td>{{data.season}}</td>
                                                         <td>{{data.area}}</td>
                                                         <td class="closeButton">
                                                            <p ng-click='removeCropFromArray($index)'><i
                                                                  class="fa fa-times-circle" aria-hidden="true"></i></p>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                          <div class="col-md-4">
                                             <label for=""></label><br>
                                             <button class="btn-1" ng-click='submitFarmerReg()'
                                                ng-disabled='frmrCropArry.length==0'>Submit</button>
                                          </div>
                                       </div>

                                    </div>
                                 </form>

                              </div>
                              <div style="text-align: center;color: green;" ng-show='farmerRegStatus'>
                                 <p>Enrolled successfully</p>
                              </div>
                              <div style="text-align: center;color: green;" ng-show='farmerRegExists'>
                                 <p>You have already enrolled before</p>
                              </div>
                              <div style="text-align: center;color: red;" ng-hide='farmerRegErr'>
                                 <p>Enrollment failed</p>
                              </div>

<div class="wrap-input100  bg0 rs1-alert-validate" ng-if='!showFarmerTbl'>
					<span class="label-input100">Information</span>
					<p>Government of Odisha has provision to register each farmer with an unique Farmer Id. The id is being used to avail the government services online. If you don't have the Farmer-ID then please visit to your nearest office of the AAO (Asst. Agriculture Officer) for registration. This may take 5 to 7 days time to get Farmer-ID in general.</p>
				</div>
				
				<div class="container-contact100-form-btn">
				<p class="lev">If you forgot your farmer id :</p>
					<button class="contact100-form-btn">
						<span>
							<a href="http://agrisnetodisha.ori.nic.in/stock/farmer/FarmerInquiry.aspx">Search Here</a>
							<i class="fa fa-long-arrow-right m-l-7"  aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
							</div>
							<div class="tab-pane fade" id="dep_3" role="tabpanel">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="department-image"><img alt="Department" class="img-responsive" src="assets/image/enroll/trader.jpg"></div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="department-details">
										<div class="tm-box-heading">One Stop marketplace to source Agriculture produce across the state of Odisha!!</div>
										<p>Enroll here and take advantage of -</p>
										<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Direct connect to FPO for substantial volumes, desired variety and quality of Produces</li>
											<li><span class="icon-arrow"></span> View FPO profile assess FPO strength and send business queries directlyy</li>
											<li><span class="icon-arrow"></span> Access and accept sales order directly from FPO</li>
										</ul>
										<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Keep a stalk for organizational sales and administration  through dashboard and reports </li>
											<li><span class="icon-arrow"></span>Enjoy market visibility and outreach </li>
											<li><span class="icon-arrow"></span> Connect with logistics services</li>
											
										</ul>
										<a class="tm-btn btn-blue" href="#">view all services</a>
										<a class="tm-btn btn-blue" href="#">Login</a>
									</div>
								</div>
<div class="container-contact100">
		<div class="wrap-contact100">
			<form method="POST"class="contact100-form " name="traderRegForm" novalidate>
				<span class="contact100-form-title">
					Trader Enrolment
				</span>

				

				<div class="wrap-input100  bg1 rs1-wrap-input100" >
					<span class="label-input100">Name of the Organization*</span>
					<input class="input100" type="text" placeholder="Enter Name of the Organization" name="noOfConsumers" 
					ng-model="traderName" required>
					<span style="color: red;" ng-show="traderRegForm.traderName.$touched && traderRegForm.traderName.$invalid">The name is required.</span>
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">PAN Number*</span>
					<input class="input100" type="text"  placeholder="Enter PAN Number" name="noOfConsumers"
					ng-model="traderPanNo" ng-pattern="/^[a-zA-Z]{5}[0-9]{4}[a-zA-Z]{1}$/"
					maxlength="10">
					<span ng-show="traderRegForm.noOfConsumers.$error.pattern"
					style="color:#f51212">Invalid Pan Number.</span>
				</div>
				<div class="wrap-input100  bg1 rs1-wrap-input100" >
					<span class="label-input100">Email *</span>
					<input class="input100" type="email" placeholder="Enter Your Email " name="traderMail" 
					ng-model='traderMail' required
					pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
					<span ng-show="traderRegForm.traderMail.$error.pattern"style="color:#f51212">Invalid Mail Id.</span>
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Mobile Number*</span>
					<input class="input100" type="tel" placeholder="Enter Number Phone"  maxlength="10" name="traderMobNo" ng-model='traderMobNo' ng-pattern="/^[6-9][0-9]{9}$/"
					ng-disabled="disableButton">
					<span ng-show="traderRegForm.traderMobNo.$error.required || traderRegForm.traderMobNo.$error.pattern " style="color:#f51212"> Valid phone number is required</span>
                                         
				</div>
                <div class="wrap-input100  bg1 rs1-wrap-input100" >
					<span class="label-input100">Alternate Email *</span>
					<input class="input100" placeholder="Enter Your Email " type="email" name="traderAltMail" ng-model='traderAltMail' required
					pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
					<span ng-show="traderRegForm.traderAltMail.$error.pattern"
					style="color:#f51212">Invalid
					Mail Id.</span>
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Alternate Mobile Number*</span>
					<input class="input100" type="tel"  placeholder="Enter Phone Number" ng-minlength="10" maxlength="10"
					name="traderAltMob" ng-model='traderAltMob' ng-pattern="/^[6-9][0-9]{9}$/">
				</div>

				
				

				

				

				

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn"  ng-disabled='!traderMobNo || !traderName || !traderPanNo' ng-show='cgotp'
					ng-click='sendOtptoTrader()'>
						<span>
							Send OTP
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
		<div class="wrap-input100 bg1 rs1-wrap-input100" ng-show='showOtpForTrader'>
			<div style="width:100%;text-align: center;color: green;">
			   <p>Otp has been sent to the above shown mobile number</p>
			</div>
			<div class="col-md-4">
			   <h3 style="color:#0008ff">Enter OTP</h3>
			</div>
			<div class="wrap-input100 bg1 rs1-wrap-input100">
			   <input type="text" class="form-control" ng-model='traderOtp' allow-numbers-only >
			</div>
			<div class="col-md-4">
			   <button class="contact100-form-btn" ng-click='traderRegProceed()'> Proceed</button>
			</div>
			<div style="width:100%;text-align: center;color: red;" ng-if='otpErrorForTrader'>
			   <p>OTP does not match</p>
			</div>
		 </div>
		 <div ng-show='showTraderRegForm1'>
			<div >
			   <div  class="wrap-input100 input100-select bg1 rs1-wrap-input100">
				  <label for="">State</label><span style="color:#ff0000">*</span>
				  <select name="cars1" class="js-select2" ng-model="traderState">
					 <option value="" disabled selected hidden>STATE</option>
					 <option value="ODISHA">ODISHA</option>
				  </select>
			   </div>
			   <div  class="wrap-input100 input100-select bg1 rs1-wrap-input100">
				  <label for="">District</label><span style="color:#ff0000">*</span><br>
				  <select name="" ng-disabled="!traderState"  class="js-select2"
					 ng-model="District1" ng-change="loadBlocks()" required>
					 <option value="" disabled selected>--Select--</option>
					 <option ng-repeat="i in DistrictList" value="{{i}}">{{i.districtName}}
					 </option>
				  </select>
			   </div>
			   <div  class="wrap-input100 input100-select bg1 rs1-wrap-input100">
				  <label for="">Block</label><span style="color:#ff0000">*</span><br>
				  <select name="" ng-disabled="!traderState"  class="js-select2"
					 ng-model="traderBlock" required>
					 <option value="" disabled selected>--Select--</option>
					 <option ng-repeat="i in BlockList" value="{{i}}">{{i.blockName}}
					 </option>
				  </select>
			   </div>
			   <div class="wrap-input100 bg1 rs1-wrap-input100">
				  <label for="">Plot Number</label><span style="color:#ff0000">*</span>
				  <input type="text" class="input100" ng-model="traderPlot" required>
			   </div>
			   <div class="wrap-input100 bg1 rs1-wrap-input100">
				  <label for="">Landmark</label><span style="color:#ff0000">*</span><br>
				  <input type="text" class="input100" ng-model="traderLandmark" required>
			   </div>

			   <div class="wrap-input100 bg1 rs1-wrap-input100">
				  <label for="">Pincode</label><span style="color:#ff0000">*</span>
				  <input type="number" class="input100" ng-pattern="/^\d{1,6}$/" maxlength="6"
					 ng-model='traderPin' required>
				  <span ng-show="traderRegForm.traderPin.$error.pattern"
					 style="color:#f51212">Invalid
					 Pincode.</span>
			   </div>



			   <div class="wrap-input100 bg1 rs1-wrap-input100">
				  <label for="">Password for login</label><span style="color:#ff0000">*</span>
				  <input type="password" class="input100" ng-model='traderPassword' required>
			   </div>
			   <div class="wrap-input100 bg1 rs1-wrap-input100">
				  <label for="">Re-enter Password</label><span style="color:#ff0000">*</span>
				  <input type="password" class="input100" name="reTraderEnteredpassword"
					 ng-model='reTraderEnteredpassword' required>
			   </div>
			   <div ng-show='(traderPassword != reTraderEnteredpassword) && reTraderEnteredpassword' style="width: 635px;">
				  <div style="text-align: center;color: rgb(238, 8, 8);"><br><br>
					 <p>Password and Re-entered Password did not match !!</p>
				  </div>
			   </div>
			   <div class="container-contact100-form-btn">
				  <button type="button" class="contact100-form-btn"
					 style="margin-right: -45px;cursor: pointer;"
					 ng-disabled='traderPassword != reTraderEnteredpassword'
					 ng-click='traderFormSubmit()'>SUBMIT</button>
			   </div>
			  
			   <br><br>


			  
			</div>
		 </div>
		 <div ng-show='showTraderRegForm2' style="width: 635px;">
			<div ng-if='traderFormSubmitStatus' style="text-align: center;color: green;"><br><br>
			   <p>Submitted successfully</p>
			   <p>
			   <h2>User Id:</h2><strong>{{traderRegUserId}}</strong></p>
			</div>
		 </div>
	</div>
							</div>
							<div class="tab-pane fade" id="dep_4" role="tabpanel">
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
									<div class="department-image"><img alt="Department" class="img-responsive" src="assets/image/enroll/consumer.jpg"></div>
								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
									<div class="department-details">
										<div class="tm-box-heading">Purchase Fresh produces Directly from Farm Producer organizations at Best price and in Bulk Volumes!!</div>
										<p>Enroll here and take advantage of -</p>
										<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Direct connection to FPO for fresh and good quality produces</li>
											<li><span class="icon-arrow"></span> Choose from variety of commodities</li>
											<li><span class="icon-arrow"></span> Choose from your closet location</li>
										</ul>
										<ul class="col-sm-6">
											<li><span class="icon-arrow"></span> Assess FPOs and send business queries directly</li>
											<li><span class="icon-arrow"></span> Get the best prices for your purchase</li>

										</ul>
										<a class="tm-btn btn-blue" href="#">view all services</a>
										<a class="tm-btn btn-blue" href="#">Login</a>
									</div>
								</div>
								<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Consumer Group Enrolment
				</span>

				

				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">Name *</span>
					<input class="input100" type="text" name="email" placeholder="Enter Your Email ">
				</div>

				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Number of Consumers*</span>
					<input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
				</div>
				<div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">Email *</span>
					<input class="input100" type="text" name="email" placeholder="Enter Your Email ">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Mobile Number*</span>
					<input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
				</div>
                <div class="wrap-input100 validate-input bg1 rs1-wrap-input100" data-validate = "Enter Your Email (e@a.x)">
					<span class="label-input100">Alternate Email *</span>
					<input class="input100" type="text" name="email" placeholder="Enter Your Email ">
				</div>
				<div class="wrap-input100 bg1 rs1-wrap-input100">
					<span class="label-input100">Alternate Mobile Number*</span>
					<input class="input100" type="text" name="phone" placeholder="Enter Number Phone">
				</div>

				<div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						<span>
							Send OTP
							<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
						</span>
					</button>
				</div>
			</form>
		</div>
	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	         
		<!--  Enrollment End-->
		
		
		
       

<!-- Our schemes start -->
		 <section id="Home_services" style="background-image:url(assets/image/1.jpg);">
			
				<div class="container">
					
				<div class="section-header">
                <h2 class="section-title text-center tm-section-heading ">OUR SCHEMES</h2>
                <div class="text-center">“Access detailed information on FPO related Schemes”</div>
                	<div class="left">
			Choose one: <select id="schemesOptions" >
  <option  value="option-1">The first option</option>
  <option  value="option-2">A second, fairly long option</option>
  <option value="option-3">Last</option>
</select>
</div>
            </div>
		
<div style="clear: both;"></div>
					<div class="row">
						<div  id="schemes" class="multiple-items">
						<div class="owl-carousel owl-carousel-2 carousel-item-4 position-relative">
						
							<div class="singleService">
								<div class="img_con">
									<img alt="" src="assets/image/schemes/1.png">
								</div>
								<h3>PMMSY</h3>
								<p> Pradhan Mantri Matsya Sampada Yojana</p>
								<button class="button" style="vertical-align:middle"><span>Read More</span></button>
							</div>
						
	
						
							<div class="singleService">
								<div class="img_con">
									<img alt="" src="assets/image/schemes/2.jpg">
								</div>
								<h3>EGCGFS</h3>
								<p>Equity Grant and Credit Guarantee Fund Scheme</p>
<button class="button" style="vertical-align:middle"><span>Read More</span></button>
							</div>
						
	
						
							<div class="singleService">
								<div class="img_con">
									<img alt="" src="assets/image/schemes/3.png">
								</div>
								<h3>SFAC</h3>
								<p>Venture Capital Assistance Scheme (SFAC)</p>
								<button class="button" style="vertical-align:middle"><span>Read More</span></button>
							</div>
						
						
							<div class="singleService">
								<div class="img_con">
									<img alt="" src="assets/image/schemes/4.jpg">
								</div>
								<h3>PMFME</h3>
								<p>PM Formalization of Micro Food Enterprises</p>
								<button class="button" style="vertical-align:middle"><span>Read More</span></button>
							</div>
						
						</div>
						
						</div>
						<div id="schemes2">
							<div class="col-md-3 ">
								<div class="singleService">
									<div class="img_con">
										<img alt="" src="assets/image/schemes/1.png">
									</div>
									<h3>PMMSY</h3>
									<p> Pradhan Mantri Matsya Sampada Yojana</p>
									<button class="button" style="vertical-align:middle"><span>Read More</span></button>
								</div>
							</div>
							<div class="col-md-9">
								<div class="tab-panel-bg">

									<!-- Nav tabs -->
									<ul class="nav nav-tabs" role="tablist" style="margin-bottom: 15px; background: #e9e7e4; border-radius: 5px;">
									
									  <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-handshake-o fa-2x" style="color: blue;" aria-hidden="true"></i>Support Component
									</a></li>
									  <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-check-square fa-2x" style="color: blue;" aria-hidden="true"></i>Eligibility Criteria</a></li>
									  <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-random fa-2x" style="color: blue;" aria-hidden="true"></i>Process of Application</a></li>
									  <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-list fa-2x" style="color: blue;" aria-hidden="true"></i>Required Documents</a></li>
									</ul>
								  
									<!-- Tab panes -->
									<div class="tab-content tab-heading">
											
									  <div role="tabpanel" class="tab-pane active" id="home">
										<h4 class="tab-title-panel">Support Component</h4>
										<p>1 - Registered FPOs, FPCs, FPGs, NGOs, SHGs, PACS, LAMPCS, Farmers Cooperative Societies (including agricultural/ allied sectors) </p>
										<p>2 - Special focus In case of Increased support if all FPO members are:- i)Women ii)SC/ST iii)Persons with Disability (PwD) iv)Graduates in Agriculture and allied discipline "</p>
										<p>3 - Beneficiary shall have the project land in its name / spouse or leased in land for a period of minimum 15 years in the state of Odisha</p>
										<p>4 - Beneficiary will be eligible to avail another new project after 1 year of successful management of the previous unit(s)</p>

									  </div>
									  <div role="tabpanel" class="tab-pane" id="profile">
										<h4 class="tab-title-panel">Eligibility Criteria</h4>
										<p>1 - Registering FPOs, FPCs, FPGs, NGOs, SHGs, PACS, LAMPCS, Farmers Cooperative Societies (including agricultural/ allied sectors) </p>
										<p>2 - Special focus In case of Increased support if all FPO members are:- i)Women ii)SC/ST iii)Persons with Disability (PwD) iv)Graduates in Agriculture and allied discipline "</p>
										<p>3 - Beneficiary shall have the project land in its name / spouse or leased in land for a period of minimum 15 years in the state of Odisha</p>
										<p>4 - Beneficiary will be eligible to avail another new project after 1 year of successful management of the previous unit(s)</p>
									  </div>
									  <div role="tabpanel" class="tab-pane" id="messages">
										<h4 class="tab-title-panel">Process of Application</h4>

										<p>1 - Registered FPOs, FPCs, FPGs, NGOs, SHGs, PACS, LAMPCS, Farmers Cooperative Societies (including agricultural/ allied sectors) </p>
										<p>2 - Special focus In case of Increased support if all FPO members are:- i)Women ii)SC/ST iii)Persons with Disability (PwD) iv)Graduates in Agriculture and allied discipline "</p>
										<p>3 - Beneficiary shall have the project land in its name / spouse or leased in land for a period of minimum 15 years in the state of Odisha</p>

									  </div>
									  <div role="tabpanel" class="tab-pane" id="settings">
										<h4 class="tab-title-panel">Required Documents</h4>

										<p>1 - Registered FPOs, FPCs, FPGs, NGOs, SHGs, PACS, LAMPCS, Farmers Cooperative Societies (including agricultural/ allied sectors) </p>
										<p>2 - Special focus In case of Increased support if all FPO members are:- i)Women ii)SC/ST iii)Persons with Disability (PwD) iv)Graduates in Agriculture and allied discipline "</p>
										<p>3 - Beneficiary shall have the project land in its name / spouse or leased in land for a period of minimum 15 years in the state of Odisha</p>
										<p>4 - Beneficiary will be eligible to avail another new project after 1 year of successful management of the previous unit(s)</p>

									  </div>
									</div>
								  
								  </div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- Our schemes End -->
			
			<!-- Video-->
		<section>
				<div class="container" style="padding: 0;">
				<div class="row">
				<div class="section-header">
                <h2 class="section-title text-center tm-section-heading ">Video Gallery</h2>
                 <p class="text-center">“View informative video updates on FPO”</p>
            </div>
					
						

                <div class="col-md-12" style="padding: 0;">

                    <div class="gallery-heading">
                        
                        <a class="bttn-more bttn-view" href="/Home/Gallery" title="View All" role="link"><span>View All</span></a>
                    </div>
                   <div  class="col-md-4">
				   
				   <div class="panel top_management">
                        <div class="panel-body divscroll">
                           
                           <div class="news videos">
                              
                                 <div id="texts">
    <p>
      <video class="active" src="videos/Farmer Producer Organisation _ Song _ Odisha.mp4"  muted="">
                                 </video> 
								 
								 Farmer Producer Organisation | Song | Odisha 
     </p>
  </div>
								 
                              
                           </div>
                           <div class="news videos">
                              
                                 <div id="texts">
    <p>
      <video class="active" src="videos/Krishaka Samridhi Pilot Project (Hindi).mp4" width="100" height="200" alt="Image" style="float: left; margin-right: 10px;" muted="">
                                 </video> KrishakaSamridhi Pilot Project  
     </p>
  </div>
                                 
                              
                           </div>
                           <div class="news videos">
						   
						   <div id="texts">
    <p>
      <video class="active" src="videos/Mango Festival in Odisha.mp4" width="100" height="200" alt="Image" style="float: left; margin-right: 10px;" muted="">
                                 </video> Mango Festival in Odisha
     </p>
  </div>
                              
                                 
                           </div>
						   <div class="news videos">
                              
							  <div id="texts">
    <p>
      <video class="active" src="videos/NABARD's Role in Development of Producers' Organisation.mp4" width="100" height="200" alt="Image" style="float: left; margin-right: 10px;" muted="">
                                 </video> NABARD's Role in Development of Producers' Organisation
     </p>
  </div>
                                 
                           </div>
						   <div class="news videos">
                              
							  
							  <div id="texts">
    <p>
      <video class="active" src="videos/Odisha FPO Conclave 2021.mp4" width="100" height="200" alt="Image" style="float: left; margin-right: 10px;" muted="">
                                 </video> Odisha FPO Conclave 2021
     </p>
  </div>
                                
                           </div>
                        </div>
                     </div>
				
				   
				   
				   </div>
                    <div class="vileft">
					
					<div class="col-md-8">
                        <div class="main-video">
            <video src="videos/Farmer Producer Organisation _ Song _ Odisha.mp4" muted controls stop></video>
        </div>
                    </div>
                     </div>
               </div>
        </div>
		</div>
		</section>
		<!-- Video end-->


		<!-- LOCATE ON MAP -->
		 <section>
				<div class="container-fluid">
				<div class="row">
				<div class="section-header">
                <h2 class="section-title text-center tm-section-heading ">LOCATE ON MAP</h2>
                <p class="text-center">“Find FPOs and KrushiSansadhankendra located around your current geography”</p>
            </div>
					
					<div class="col-md-12">
					<div class="col-md-3">
							<div class="locationmap">
<h1>What are you looking for?</h1>
<label class="mapchk"><li><img src="assets/image/1.png" width="18" height="25" /><span>FPOs </span></li>
  <input type="checkbox" checked="checked"  ng-model='locationOfFpo'
  ng-change='getLocationAccToCheckbox()'>
  <span class="checkmark"></span>
</label>
<label class="mapchk"><li><img src="assets/image/2.png" width="18" height="25" /><span>Krushi Sansadhan Kendra </span></li>
  <input type="checkbox"  ng-model='locationOfKsk'
  ng-change='getLocationAccToCheckbox()'>
  <span class="checkmark"></span>
</label>
<label class="mapchk"><li><img src="assets/image/3.png" width="18" height="25" /><span>Own location</span></li>
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
							</div>
						</div>
						<div id="newMap" class="col-md-9">
							<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d59809.82015739849!2d85.83259365096357!3d20.460520275905708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sagriculture%20department%20of%20odisha!5e0!3m2!1sen!2sin!4v1648732915009!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
						</div>
							
						</div>
						</div>
						
	
						
					</div>
				</div>
			</section>
		<!-- LOCATE ON MAP -->	
		  
				
		<!-- Connect To FPO -->
		<div class="oservices">
        <div class="section-header">
                <h2 class="section-title text-center tm-section-heading ">Connect with FPO</h2>
                <p class="text-center">“Create Linkages with FPO”</p>
            </div>
        <section class="oservices services">
	<div class="owl-carousel owl-carousel-3 carousel-item-4 position-relative">
																 
            <div class="card">
                <div class="content">
                    
                    <div class="title">KALAPATA FARMER PRODUCER COMPANY LIMITED</div>
                    <div class="icon"><i class="fa fa-map-marker"></i> &nbsp;<i class="fa fa fa-phone"></i><p>TUBEY,ANUGUL, 759132</p></div>
                </div>
            </div>
			<div class="card">
                <div class="content">
                    
                    <div class="title">KALAPATA FARMER PRODUCER COMPANY LIMITED</div>
                    <div class="icon"><i class="fa fa-map-marker"></i> &nbsp;<i class="fa fa fa-phone"></i><p>TUBEY,ANUGUL, 759132</p></div>
                </div>
            </div>
			<div class="card">
                <div class="content">
                    
                    <div class="title">KALAPATA FARMER PRODUCER COMPANY LIMITED</div>
                    <div class="icon"><i class="fa fa-map-marker"></i> &nbsp;<i class="fa fa fa-phone"></i><p>TUBEY,ANUGUL, 759132</p></div>
                </div>
            </div>
			<div class="card">
                <div class="content">
                    
                    <div class="title">KALAPATA FARMER PRODUCER COMPANY LIMITED</div>
                    <div class="icon"><i class="fa fa-map-marker"></i> &nbsp;<i class="fa fa fa-phone"></i><p>TUBEY,ANUGUL, 759132</p></div>
                </div>
            </div>
		 
            </div>
        </section>
    
	</div>

		<!-- Connect To FPO -->
		<nav class="navbar navbar-default footer-nav">
			<div class="container-fluid">
			  <ul class="nav navbar-nav">
				<li><a href="#">Website Policies</a></li>
             <li><a href="#">Help</a></li>
             <li><a href="#">Contact Us</a></li>
             <li><a href="#">Terms and Conditions </a></li>
             <li><a href="/feedback">Feedback</a></li>
             <li><a href="#">Web Information Manager</a></li>
             <li><a href="#">Visitor Analytics</a></li>
             <li><a href="/FAQ">FAQ</a></li>
             <li><a href="#" style="border: none;">Disclaimer</a></li>
			  </ul>
			</div>
		  </nav>
		
      <footer id="ca_footer">
		 
         <div class="container">
            <div class="row">
               <div class="col-md-3">
                  <h3>Important Links</h3>
                  <a href="#" target="_blank"rel="noopener" >Ministry of Agreeculture</a>
                  <a href="#">National Portal of India</a>
                  <a href="#">NVSP</a>
				  <a href="#">AmaKrushi</a>
                  <!-- <a href="tenders.html">Tenders</a> -->
                  <a href="#">PGPORTAL</a>
               </div>
               <div class="col-md-3">
                  <h3>Quick Links</h3>
                  <a href="#" target="_blank"rel="noopener" >Scheme</a>
                  <a href="#">Enrolment</a>
                  <a href="#">Login </a>
                  <!-- <a href="tenders.html">Tenders</a> -->
                  <a href="#"> Citizen Charter</a>
                  <a href="#">Search</a>
                  
               </div>
               <div class="col-md-3">
                  <h3>Contact Us</h3>
                  <ul class="cont-sec" style="    padding: 0;">
                     <li><i class="fa fa-map-marker"></i>Directorate of Agriculture and food production odisha, 7RFH+M55, Keshari Nagar, Bhubaneswar, Odisha 751001</li>
                     <li><i class="fa fa-phone"></i>Phone:0361-2301099/309 </li>
                     <li><i class="fa fa-fax"></i>Fax: 0361-2301099 </li>
                     <li><i class="fa fa-envelope"></i>Email: bbrd@nic.in</li>
                  </ul>
               </div>
               <div class="col-md-3">
                  <h3>Map</h3>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d119682.78200644738!2d85.79394876473346!3d20.379305025239333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d20.480682599999998!2d85.8609816!4m5!1s0x3a19a724348135b3%3A0x527aec929994f312!2sagriculture%20department%20of%20odisha!3m2!1d20.270821599999998!2d85.82848!5e0!3m2!1sen!2sin!4v1648732688433!5m2!1sen!2sin" width="300" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
            </div>
         </div>
		 
         <div class="copyright">
            <div class="container">
               <div class="col-md-12">
                  <p><span>Disclaimer:The information contained in this website is for general information purposes only and is provided by Department of Agriculture & Farmers' Empowerment,Odisha. While we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk</span>                  </p>
               </div>
            </div>
         </div>
      </footer>
      <!-- Scroll-up -->
      <div class="scroll-up" aria-hidden="true" tabindex="-1">
         <ul>
            <li><a href="#header" class="" aria-label="Scroll to Top"><i class="fa fa-angle-up"></i></a></li>
         </ul>
      </div>

	  <script>
		function openCity(evt, cityName) {
		   var i, tabcontent, tablinks;
		   tabcontent = document.getElementsByClassName("tabcontent");
		   for (i = 0; i < tabcontent.length; i++) {
			  tabcontent[i].style.display = "none";
		   }
		   tablinks = document.getElementsByClassName("tablinks");
		   for (i = 0; i < tablinks.length; i++) {
			  tablinks[i].className = tablinks[i].className.replace(" active", "");
		   }
		   document.getElementById(cityName).style.display = "block";
		   evt.currentTarget.className += " active";
		}
		document.getElementById("defaultOpen1").click();
	 </script>
	 <script type="text/javascript">
		function getlocation() {
		   var xhttp = new XMLHttpRequest();
		   var mylocation;
		   var location;
		   xhttp.onreadystatechange = function () {
			  if (this.readyState == 4 && this.status == 200) {
				 mylocation = JSON.parse(this.responseText);
				 // //console.log(mylocation)
				 var allValues = [];
				 mylocation.forEach(function (k) {
					// //console.log(k)
					let values = [k.fpoName, k.lat, k.long];
					allValues.push(values)
				 });;
				 locations = allValues;
				 // //console.log(locations)
				 var map = new google.maps.Map(document.getElementById('map'), {
					zoom: 10,
					center: new google.maps.LatLng(-33.92, 151.25),
					mapTypeId: google.maps.MapTypeId.ROADMAP
				 });
				 var infowindow = new google.maps.InfoWindow();
				 var marker, i;
				 for (i = 0; i < locations.length; i++) {
					marker = new google.maps.Marker({
					   position: new google.maps.LatLng(locations[i][1], locations[i][2]),
					   map: map
					});
					google.maps.event.addListener(marker, 'click', (function (marker, i) {
					   return function () {
						  infowindow.setContent(locations[i][0]);
						  infowindow.open(map, marker);
					   }//test kar ta
					})(marker, i));
				 }
			  }
		   };
		   xhttp.open("GET", "http://localhost:3000/landRoute/location");
		   xhttp.send();
		}
		getlocation();
	 </script>

	 <!-- sticky navbar -->
	 <script>
		window.onscroll = function () { myFunction() };
		var navbar = document.getElementById("navbar");
		var sticky = navbar.offsetTop;
		function myFunction() {
		   if (window.pageYOffset >= sticky) {
			  navbar.classList.add("sticky")
		   } else {
			  navbar.classList.remove("sticky");
		   }
		}
	 </script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
      <script src="/controller/landingPage.js"></script>     
      
<script type="text/javascript" src="main.js"></script>
<script src="assets/js/jQuery.verticalCarousel.js"></script>
<script src="assets/js/scripts.js" async></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Template Javascript -->
<script src="assets/js/main.js"></script>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
<!-- <script src="./StateWiseDistrictData.js"></script> -->
<script src="./odishaDistData.js"></script>
<script src="d3-tip.js"></script>
<!-- <select id='stateList' onchange="onSelectState()"> -->
<script>
   // let stateList = data[0].features.map(d => d.properties.State_Name);
   // stateList = [...new Set(stateList)];
   // let stateOptions = `<option selected value='All State'>All State</option>`;
   // stateList.forEach(d => {
   //     stateOptions = stateOptions + `<option>${d}</option>`;
   // });
   // d3.select("#stateList")
   //     .html(stateOptions);
   var format = d3.format(",");
   // ==========================================State map code start========================================
   fetchStateWiseFPO()
   // Fetch all state wise fpo count
   function fetchStateWiseFPO() {
	  var xhttp = new XMLHttpRequest();
	  var myobj, i = "";
	  var x = ''
	  var y = ''
	  xhttp.onreadystatechange = function () {
		 // //console.log(123, JSON.parse(this.responseText));
		 if (this.readyState == 4 && this.status == 200) {
			stateWiseFpoData = JSON.parse(this.responseText);
			// for (i in stateWiseFpoData) {
			//    x += `<tr><td>${i._id}</td><td>${i.fpoName}</td><td>${i.fpoAddress}</td><td>${i.fpoMobileNo}</td></tr>`;
			// }
			// // x += '</a>';
			// document.getElementById("stateWiseFpoData").innerHTML = x;
		 }
	  };
	  xhttp.open("GET", "http://localhost:3000/landRoute/getStateWiseFPO");
	  xhttp.send();
   }
   var distName
   function getFpoDataAccState() {
	  // //console.log(8555, distName);
	  var xhttp = new XMLHttpRequest();
	  var myobj, i = "";
	  var x = ''
	  var y = ''
	  xhttp.onreadystatechange = function () {
		 // //console.log(123, JSON.parse(this.responseText));
		 if (this.readyState == 4 && this.status == 200) {
			stateWiseFpoDetails = JSON.parse(this.responseText);
			// //console.log(6565, stateWiseFpoDetails);
			for (let i = 0; i < stateWiseFpoDetails.length; i++) {
			   // //console.log(9090, stateWiseFpoDetails[i]);
			   x += `<tr><td>${stateWiseFpoDetails[i].fpoId}</td><td>${stateWiseFpoDetails[i].FPOData.village},${stateWiseFpoDetails[i].FPOData.district}</td><td>${stateWiseFpoDetails[i].FPOData.fpoContactNo}</td><td><i class="fa fa-map-marker" aria-hidden="true" style='font-size: x-large;margin-left: 21%;color: red;'></i></td></tr>`;
			}
			// x += '</a>';
			document.getElementById("stateWiseFpoDetailsOnClick").innerHTML = x;
		 }
	  };
	  xhttp.open("GET", "http://localhost:3000/landRoute/getStateWiseFPOData/" + distName);
	  xhttp.send();
   }
   // Set tooltips
   var tip = d3.tip()
	  .attr('class', 'd3-tip')
	  .offset([-10, 0])
	  .html(function (d) {
		 distName = d.properties.Dist_Name
		 count = 0
		 for (let i = 0; i < stateWiseFpoData.length; i++) {
			if (d.properties.Dist_Name == stateWiseFpoData[i]._id) {
			   fpoCount = 0
			   fpoCount = stateWiseFpoData[i].fpoCount
			} else {
			   count++
			}
		 }
		 if (count == stateWiseFpoData.length) {
			fpoCount = 0
		 }
		 return "<strong>District: </strong><span class='details'>" + d.properties.Dist_Name + "<br></span>" + "<strong>Total FPOs: </strong><span class='details'>" + (fpoCount) + "</span>";
	  })
   // ==========================================State map code end========================================
   var margin = { top: 20, right: 0, bottom: 0, left: 0 },
	  width = 330 - margin.left - margin.right,
	  height = 420 - margin.top - margin.bottom;
   var color = d3.scaleThreshold()
	  .domain([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120])
	  .range(d3.schemeSet3);
   var svg = d3.select("#addMap")
	  .append("svg")
	  .attr("width", width + (margin.right + margin.left))
	  .attr("height", height + (margin.top + margin.bottom))
	  .append('g')
	  .attr('class', 'map');
   let preparedData = odishaData;
   var projection = d3.geoMercator()
	  .fitExtent([[10, 10], [width, height]], preparedData);
   var path = d3.geoPath().projection(projection);
   svg.call(tip);
   const mainG = svg.append("g")
	  .attr("transform", `translate(${margin.left},${margin.top})`)
	  .attr("class", "states");
   ready(null, preparedData);
   function ready(error, data, population) {
	  mainG.selectAll("path")
		 .data(data.features)
		 .enter().append("path")
		 .attr("d", path)
		 .style("fill", d => {
			return color(Math.floor(Math.random() * 100))
		 })
		 .style('stroke', 'white')
		 .style('stroke-width', 0.3)
		 .style("opacity", 0.8)
		 .on('mouseover', function (d) {
			tip.show(d);
			d3.select(this)
			   .style("opacity", 1)
			   .style("stroke", "white")
			   .style("stroke-width", 3);
		 })
		 .on('mouseout', function (d) {
			tip.hide(d);
			d3.select(this)
			   .style("opacity", 0.8)
			   .style("stroke", "white")
			   .style("stroke-width", 0.3);
		 });
   }
   function onSelectState() {
	  // let preparedData = data[0].features.filter(d => d.properties.State_Name == d3.select("#stateList").node().value);
	  // preparedData = {
	  //     type: "FeatureCollection",
	  //     crs: { type: "name", properties: { name: "urn:ogc:def:crs:OGC:1.3:CRS84" } },
	  //     features: preparedData
	  // }
	  let preparedData = odishaData;
	  if (d3.select("#stateList").node().value == 'All State') {
		 preparedData = data[0];
	  }
	  var projectionData = d3.geoMercator().fitExtent([[10, 10], [width, height]], preparedData);
	  var pathData = d3.geoPath().projection(projectionData);
	  const allPaths = mainG
		 .selectAll("path")
		 .data(preparedData.features);
	  allPaths.enter()
		 .append('path')
		 .merge(allPaths)
		 .style("fill", d => {
			return color(Math.floor(Math.random() * 100))
		 })
		 .style('stroke', 'white')
		 .style('stroke-width', 0.3)
		 .style("opacity", 0.8)
		 .on('mouseover', function (d) {
			tip.show(d);
			d3.select(this)
			   .style("opacity", 1)
			   .style("stroke", "white")
			   .style("stroke-width", 3);
		 })
		 .on('mouseout', function (d) {
			tip.hide(d);
			d3.select(this)
			   .style("opacity", 0.8)
			   .style("stroke", "white")
			   .style("stroke-width", 0.3);
		 })
		 .transition()
		 .duration(1000)
		 .attr("d", pathData)
	  allPaths.exit().remove();
   }
   // onSelectState();
   //   ===========================================Count Css ======================================
   const counters = document.querySelectorAll('.counter');//get all the counters
   const speed = 50; // The lower the faster
//    counters.forEach(counter => {
// 	  const updateCount = () => {
// 		 const target = +counter.getAttribute('data-target');
// 		 const count = +counter.innerText;
// 		 // Lower inc to slow and higher to slow
// 		 const inc = ~~(target / speed);
// 		 // Check if target is reached
// 		 if (count < target) {
// 			// Add inc to count and output in counter
// 			counter.innerText = count + inc;
// 			// Call function every ms
// 			setTimeout(updateCount, 1);
// 		 } else {
// 			counter.innerText = target;
// 		 }
// 	  };
// 	  updateCount();
//    });
</script>
<script>
	var loader = document.getElementById("loaderDiv");
	loader.style.display = "block";
	// fpo update function
	function updates() {
	   var xhttp = new XMLHttpRequest();
	   var myobj, i = "";
	   var x = ""
	   var y = ''
	   xhttp.onreadystatechange = function () {
		  if (this.readyState == 4 && this.status == 200) {
			 loader.style.display = "none";//when it gets data from db loader will be off
			 myobj = JSON.parse(this.responseText);
			 for (i in myobj) {
				y += myobj[i].link;
				// x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li><br><br><br>`;
				// ${myobj[i].url} PUT IN IMG TAG
				x += `<li style="max-height: 100px;"><div class="date" style= "font-color:green;"><img style= "border-radius:5px; height:65px; width:80px;" src="theme/images/${myobj[i].img}"></div> <span  style="font-weight:bold;color:green;font-size: 14px;"><em>${new Date(myobj[i].fromDAte).getDate()}</em> / <em>${new Date(myobj[i].fromDAte).getMonth() + 1}<em> / </em>${new Date(myobj[i].fromDAte).getFullYear()}</em></span> <em><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></em></li><br><br><hr>`;
			 }
			 document.getElementById("fpoUpdate").innerHTML = x;
		  }
	   };
	   xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit");
	   xhttp.send();
	}
	updates();
	//fpo media function
	// function media() {
	//    var xhttp = new XMLHttpRequest();
	//    var myobj, i = "";
	//    var x = ""
	//    var y = ''
	//    xhttp.onreadystatechange = function () {
	//       if (this.readyState == 4 && this.status == 200) {
	//          // loader.style.display = "none";//when it gets data from db loader will be off
	//          myobj1 = JSON.parse(this.responseText);
	//          //console.log(myobj1);
	//          for (i in myobj1) {
	//             y += myobj1[i].link;
	//             // x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li><br><br><br>`;
	//             // x += `<li style="max-height: 100px;"><div class="date" style= "font-color:green font-weight: 15px;"><img style= "border-radius:5px; height:65px; width:80px;" src="${myobj1[i].url}"></div> <span  style="font-weight:bold;color:green"><em>${new Date(myobj1[i].fromdate).getDate()}</em> / <em>${new Date(myobj[i].fromdate).getMonth()}<em> / </em>${new Date(myobj[i].fromdate).getFullYear()}</em></span> <em><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></em></li><br><br>`;
	//             x += `<li class="active">
	//                      <a href="#i" data-toggle="tab">
	//                         <div class="post-thumbnail">
	//                            <img class="img-responsive" src="assets/images/img1.jpg" alt="post-thumbnail"/>
	//                         </div>
	//                         <h3>India's 10,000 farmers-collective plan may fail without funding reforms. </h3>
	//                         <h2>Upload date</h2>
	//                      </a>
	//                      <hr>
	//                   </li>`;
	//          }
	//          document.getElementById("fpomedia").innerHTML = x;
	//       }
	//    };
	//    xhttp.open("GET", "http://localhost:3001/media");
	//    xhttp.send();
	// }
	// media();
	// circular notification 
	function tenderList() {
	   var xhttp = new XMLHttpRequest();
	   var myobj, i = "";
	   var x = ''
	   var y = ''
	   xhttp.onreadystatechange = function () {
		  if (this.readyState == 4 && this.status == 200) {
			 myobj = JSON.parse(this.responseText);
			 for (i in myobj) {
				// y +='<>'+ myobj[i].pageId +"</>";
				y += myobj[i].link;
				// x += '<li>' + '<div class="date"><span>03</span><em>10 2020</em></div>' + ' <div class="list-content" >' + myobj[i].text + '</div>' + "</li>";
				x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
				// x += `<li><div class="date"><img src="${myobj[i].url}"></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
			 }
			 // x += '</li>';
			 document.getElementById("tenderData").innerHTML = x;
			 // document.getElementById("tenderData").href = y;
		  }
	   };
	   xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit1");
	   xhttp.send();
	}
	tenderList();
	//refDoc
	function refDoc() {
	   var xhttp = new XMLHttpRequest();
	   var myobj, i = "";
	   var x = ""
	   var y = ""
	   xhttp.onreadystatechange = function () {
		  if (this.readyState == 4 && this.status == 200) {
			 myobj = JSON.parse(this.responseText);
			 for (i in myobj) {
				y += myobj[i].link;
				// x += '<li>' + '<div class="list-content">' + myobj[i].text + '</div>' + '</li>';
				x += `<li><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
				// //console.log(x)
			 }
			 // x += '</a>';
			 document.getElementById("refDoc").innerHTML = x;
			 // document.getElementById("refDoc").href = y;
		  }
	   };
	   xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit2");
	   xhttp.send();
	}
	refDoc();
	// agriServices
	function agriServices() {
	   var xhttp = new XMLHttpRequest();
	   var myobj, i = "";
	   var x = ' '
	   var y = ''
	   xhttp.onreadystatechange = function () {
		  if (this.readyState == 4 && this.status == 200) {
			 myobj = JSON.parse(this.responseText);
			 for (i in myobj) {
				y += myobj[i].link;
				// x += '<li>' + '<div class="list-content"></div>' + myobj[i].text + '</li>';
				x += `<li><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
			 }
			 // x += '</li>';
			 document.getElementById("agriServices").innerHTML = x;
			 // document.getElementById("agriServices").href = y;
		  }
	   };
	   xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit3");
	   xhttp.send();
	}
	agriServices();
 </script>
</body>
  
</html>
