<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Department of Agriculture & Farmers' Empowerment</title>
  <link rel="stylesheet" href="assetsNew/css/style.css">
  <link rel="icon" href="assets/images/new-logo.jpg">

</head>

<body>
    
  <header>
    <div class="top-1">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ps-0">
            <div class="top-1-left">
              <h4>ANNOUNCEMENT</h4>
              <marquee behavior="" direction="" onmouseover="this.stop();" onmouseout="this.start();">
                <a href="#"><span><img src="assetsNew/images/icons/new.png" alt=""></span>Odisha FPO conclave was
                  organized
                  on 9th February 2024 by Department
                  of Agriculture & Farmers' Empowerment.
                </a><a href="#"><span><img src="assetsNew/images/icons/new.png" alt=""></span>“State Level workshop on
                  Formation
                  and Promotion of FPOs”,
                  on 21st July 2022, Organized by Department of Agriculture and Farmer’s Empowerment.
                </a>
              </marquee>
            </div>
          </div>
          <div class="col-md-4">
            <div class="top-1-right">
              <div class="top-right-1">
                <ul>
                  <li>
                    <a href="#" id="scrollToBottom"><i class="fa-solid fa-arrow-turn-down"></i></a>
                </li>
                  <li>
                    <div class="font-resizer">
                      <a href="#" id="normal"><i ></i> A</a>
                      <a href="#" id="increase"><i ></i> A+</a>
                      <a href="#" id="decrease"><i ></i> A-</a>
                    </div>
                  </li>
                  <li>
                    <a class="site-map">
                      <i class="fa-solid fa-sitemap"></i>
                    </a>
                  </li>
                  <li>
                    <div class="font-size-changer">
                      <a href="#">English<i class="fa-solid fa-sort-down"></i></a>
                    </div>
                  </li>
                  <li>
                    <a href="/userLogin" class="top-login-btn">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="logo-wrapper">
              <div class="logo">
                <a href="#"><img src="assetsNew/images/logo.png" alt="" title=""></a>
              </div>
              <div class="logo-2">
                <a href="#"><img src="assetsNew/images/logo2.png" alt="" title="">
                  <div class="logo-caption">
                    <h5>କୃଷି ଓ କୃଷକ ସଶକ୍ତିକରଣ ବିଭାଗ, ଓଡ଼ିଶା ସରକାର</h5>
                    <h5>Department of Agriculture & Farmers' Empowerment</h5>
                    <h6> Government of Odisha</h6>
                  </div>
                </a>
              </div>
            </div>

            <div class="top-2-right">
              <div class="cm-con">
                <div class="logo2-text">
                  <h4>Shri Naveen Patnaik</h4>
                  <h6>Honable Chief Minister</h6>
                </div>
                <figure><img src="assetsNew/images/cm.png" alt="Naveen Patnaik"></figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-3">
      <div class="container">
        <div class="col-md-12">
          <div class="top-2-wrapper">
            <div class="menu-con">
              <nav id="navigation1" class="navigation">
                <div class="nav-header">
                  <div class="nav-toggle"></div>
                </div>
                <div class="nav-menus-wrapper">
                  <ul class="nav-menu align-to-right">
                    <li>
                      <a href="http://localhost:3000/"><i class="fa-solid fa-house"></i></a>
                    </li>
                    <li>
                      <a href="http://localhost:3000/">HOME</a>
                    <li>
                      <a href="#">ABOUT PSFPO</a>
                      <ul class="nav-dropdown">
                        <li><a href="http://localhost:3000/fpo1">PSFPO 1.0</a></li>
                        <li><a href="http://localhost:3000/fpo2">PSFPO 2.0</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">ENROLMENT</a>
                      <ul class="nav-dropdown">
                        <li><a href="/#enrolment">FPO ENROLMENT</a></li>
                        <li ><a href="/#enrolment" >TRADER ENROLMENT</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">SEARCH</a>
                      <ul class="nav-dropdown">
                        <li><a href="http://localhost:3000/fpofilterNew">FPO </a></li>
                        <li><a href="http://localhost:3000/traderNew">TRADER </a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="/#scheme">SCHEMES</a>
                    </li>
                    <li>
                      <a href="#">RESOURCES</a>
                      <ul class="nav-dropdown">
                        <li><a href="http://localhost:3000/schemeGuidelinesNew">Scheme Guidelines </a></li>
                        <li><a href="http://localhost:3000/knowledgeMaterialNew">Knowledge Material </a></li>
                      </ul>
                    </li>
                    <!-- <li>
                      <a href="#" onclick="showPopup()">CENTER OF EXCELLENCE-OUAT</a>
                    </li> -->
                    <li>
                      <a href="http://localhost:3000/faqNew">FAQ</a>
                    </li>
                    <li>
                      <a href="http://localhost:3000/grievance">GRIEVANCE</a>
                    </li>
                    <li>
                      <a href="/userLogin">LOGIN</a>
                    </li>

                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="popup-overlay"></div>
    <div id="popup" class="pop-up">
      <p>Coming soon......</p>
      <button onclick="closePopup()">Close</button>
    </div>

  </header>
  <section class="inner-page-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-breadcrumb">
            <h3>Resources</h3>
            <ul>
              <li><a href="http://localhost:3000/"><i class="fa-solid fa-house"></i></a></li>
              <li><a href="http://localhost:3000/">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
    <center><h3>Scheme Guidelines</h3></center>
  </div>
  
 
  <!-- <div class="col-md-4">
    <div class="select-scheme">
      <select id="schemeDropdown">
        <option>Select all</option>
        <option>SUPPORT TO FPO SCHEME</option>
        <option>PHM HORTICULTURE</option>
        <option> FORMATION & PROMOTION OF 10,000-FPOs</option>
        <option> SAMRUDHI -Odisha Agriculture Policy 2020</option>
        <option>STRATEGY PAPER ON PROMOTION OF 10,000-FPOs</option>
        <option>FPO POLICY & PROCESS GUIDELINES 1st APRIL 2013</option>
        <option> Equity Grant and Credit Guarantee Fund Scheme </option> 
        <option>Venture Capital Assistance Scheme (VCA)</option>
        <option>PM Formalization of Micro Food Enterprises(PMFME)</option>
        <option> Warehouse Infrastructure Fund</option>
        <option> Mukhyamantri Krushi Udyoga Yojana</option>
        <option>RKVY RAFTAAR</option>
        <option>Paramparagat Krishi Vikas Yojana(PKVs)</option>
        <option>Mission for Integrated Development(MIDH)</option>
        <option>Agriculture Infrastructure Fund(AIF)</option>
        <option>Operation Greens</option>
        <option>Equity Grant and Credit Guarantee Fund Scheme(Under 10,000 CSS)</option>

      </select>
    </div>




  </div> -->
  
  <section class="fpo-page-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/supportToFPO.png" alt="">
            </figure>
            <div class="district-box-content">
              <h4>SUPPORT TO FPO SCHEME</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Operational Guideline_Support to  FPO scheme.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/phmHorticulture.png" alt="">
            </figure>
            <div class="district-box-content">
              <h4>PHM HORTICULTURE</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Operational guidelines _Post harvest management & marketing in horticulture.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>

        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf1.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>FORMATION & PROMOTION OF 10,000-FPOs SCHEME OPERATIONAL GUIDELINES IN ENGLISH</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Formation & Promotion of 10,000 FPOs Scheme Operational Guidelines in English.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf2.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>SAMRUDHI -Odisha Agriculture Policy 2020</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Resource Material -2 SAMRUDHI -Odisha Agriculture Policy 2020.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf3.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>STRATEGY PAPER ON PROMOTION OF 10,000-FPOs</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Resource Material-3 Strategy-Paper-on-Promotion-of-10,000-FPOs.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf4.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>FPO POLICY & PROCESS GUIDELINES 1st APRIL 2013</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Resource Material -4 FPO Policy &  Process Guidelines  1 April 2013.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf5.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Equity Grant and Credit Guarantee Fund Scheme</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/Equity Grant and Credit Guarantee Fund Scheme.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf6.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Venture Capital Assistance Scheme (VCA)</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/VCA_Operational-Guidelines.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf7.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>PM Formalization of Micro Food Enterprises(PMFME)</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/PMFME_SchemeGuidelines.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf8.png" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Warehouse Infrastructure Fund</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/WIF_Operational Guidelines.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf9.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Mukhyamantri Krushi Udyoga Yojana</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/MKUY scheme document.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf10.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>RKVY RAFTAAR</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/RKVY_Operational guideline.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf11.png" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Paramparagat Krishi Vikas Yojana(PKVs)</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/PKVY_ Revised guideline..pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf12.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Mission for Integrated Development(MIDH)</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/MIDH_Operational Guidelines.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf13.png" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Agriculture Infrastructure Fund(AIF)</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/AIF_SchemeGuidelines.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf14.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Operation Greens: Price Stabilization measures, Integrated value Chain Development</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/2Operationa Green_operational_guidelines_dated_25.05.2022_0.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        <div class="col-md-6 col-sm-6 col-lg-3">

          <div class="district-box resources-box">
            <figure>
              <img src="assetsNew/images/schemeGuideline/resourcepdf15.jpg" alt="">
            </figure>
            <div class="district-box-content">
              <h4>Equity Grant and Credit Guarantee Fund Scheme(Under 10,000 CSS)</h4>
              
              <div class="district-know-more-btn">
                <a href="assetsNew/images/knowledgepdf/EG & CGF for Formation & Promotion of 10,000 FPO_Scheme Guidelines.pdf">DOWNLOAD</a>
              </div>
            </div>
          </div>


        </div>
        
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-1">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="footer-box-1">
              <h4>Important Links</h4>
              <ul>
                <li><a href="https://agri.odisha.gov.in/">Department of Agriculture & Farmers' Empowerment</a></li>
                <li> <a href="https://odihort.nic.in/">Directorate of Horticulture</a></li>
                <li> <a href="https://osamb.odisha.gov.in/">Odisha State Agricultural Marketing Board</a></li>
                <li> <a href="https://sugam.odisha.gov.in/website/home">Go Sugam - Government Of Odisha</a></li>
                <li> <a href="https://safal.odisha.gov.in/website/home">SAFAL - Government Of Odisha </a></li>
                <li> <a href="https://www.cooperation.gov.in/">Ministry of Cooperation</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2">
            <div class="footer-box-1">
              <h4>Quick Links</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul>
                    <li><a href="/fpo1"> ABOUT PSFPO</a></li>
                    <li><a href="/#enrolment"> ENROLMENT</a></li>
                    <li><a href="http://localhost:3000/fpofilterNew">SEARCH</a></li>
                    <li><a href="/#scheme">SCHEMES</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="footer-address-wrapper">
              <h4>Contact Info</h4>
              <div class="row">
                <div class="col-md-6">
                  <ul class="footer-address">
                    <li>
                      <div class="contact-icon"><i class="fa-solid fa-location-dot"></i></div>
                      <h6>Address</h6>
                      <p> Directorate of Horticulture,
                        <br>Department of Agriculture & Farmers' Empowerment,
                        <br> Krushi Bhawan,Gopabandhu Marg
                        <br>Near State Guest House,Bhubaneswar
                      </p>
                    </li>
                    <li>
                      <div class="contact-icon"><i class="fa-solid fa-phone"></i></div>
                      <h6>Phone</h6>
                      <p>0674-2391831,+91-9853901065</p>
                    </li>
                    <!-- <li>
                      <div class="contact-icon"><i class="fa-solid fa-fax"></i></div>
                      <h6>Fax</h6>
                      <p>0361-2301099</p>
                    </li> -->
                    <li>
                      <div class="contact-icon"><i class="fa-regular fa-envelope"></i></div>
                      <h6>Email</h6>
                      <p>supportdho.od@nic.in,PSFPO2.0@gamil.com</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <div class="footer-map">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.621423729931!2d85.82546287469474!3d20.27452961325695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a19a7afa115f1ff%3A0x7ffe22b3bebac455!2sKrushi%20Bhavan!5e0!3m2!1sen!2sin!4v1704206584747!5m2!1sen!2sin"
                      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>Disclaimer:The information contained in this website is for general information purposes only and is
              provided by Department of Agriculture & Farmers' Empowerment,Odisha. While we
              endeavour to keep the information up to date and correct, we make no
              representations or warranties of any kind, express or implied, about the completeness, accuracy,
              reliability, suitability or availability with respect to the website or the information, products,
              services, or related graphics contained on the website for any purpose. Any reliance you place on such
              information is therefore strictly at your own risk</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Modal -->




  <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i
      class="fas fa-chevron-up"></i></a>
  <script src="assetsNew/js/jquery.min.js"></script>
  <script src="assetsNew/js/dist_chart.min.js"></script>

  <script src="assetsNew/js/bootstrap.bundle.min.js"></script>
  <script src="assetsNew/js/aos.js"></script>
  <script src="assetsNew/js/owl.carousel.min.js"></script>
  <script src="assetsNew/js/nav-menu.js"></script>
  <script src="assetsNew/js/jquery.fancybox.min.js"></script>
  <script src="assetsNew/js/custom.js"></script>
  
  <!-- <script>
    function showPopup() {
      document.getElementById('popup-overlay').style.display = 'block';
      document.getElementById('popup').style.display = 'block';
    }

    function closePopup() {
      document.getElementById('popup-overlay').style.display = 'none';
      document.getElementById('popup').style.display = 'none';
    }
  </script> -->

<script>
  document.getElementById("scrollToBottom").addEventListener("click", function() {
      window.scrollTo(0, document.body.scrollHeight);
  });
</script>
<script>
document.getElementById('normal').addEventListener('click', function(e) {
  e.preventDefault();
  document.body.style.fontSize = '15px'; 
});

document.getElementById('increase').addEventListener('click', function(e) {
  e.preventDefault();
  var currentFontSize = parseFloat(window.getComputedStyle(document.body, null).getPropertyValue('font-size'));
  document.body.style.fontSize = (currentFontSize + 2) + 'px';
});

document.getElementById('decrease').addEventListener('click', function(e) {
  e.preventDefault();
  var currentFontSize = parseFloat(window.getComputedStyle(document.body, null).getPropertyValue('font-size'));
  document.body.style.fontSize = (currentFontSize - 2) + 'px';
});
</script>

</body>

</html>