<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from uxdtnic.in/wp-content/uploads/templates/template5/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2021 11:45:33 GMT -->

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="format-detection" content="telephone=no" />
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="apple-touch-icon" href="assets/images/favicon/apple-touch-icon.png">
   <link rel="icon" href="assets/images/new-logo.jpg">
   <script src="assets/js/jquery-min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

   <link rel="stylesheet" href="assets/css/bootstrap-min.css">
   <link rel="stylesheet" href="assets/css/bootstrap-min3.4.css">
   <script src="assets/js/bootstrap4.5-min.js"></script>
   <script src="assets/js/bootstrap3.4-min.js"></script>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
   <link rel="stylesheet" href="assets/css/owlstyle.css">
   <title>FPO Odisha</title>
   <!-- Custom styles for this template -->
   <!-- <link href="assets/js/gmap.js" type="text/javascript" media="all"> -->
   <link href="assets/css/base.css" rel="stylesheet" media="all">
   <link href="assets/css/base-responsive.css" rel="stylesheet" media="all">
   <link href="assets/css/grid.css" rel="stylesheet" media="all">
   <link href="assets/css/font.css" rel="stylesheet" media="all">
   <link href="assets/css/font-awesome.min.css" rel="stylesheet" media="all">
   <link href="assets/css/flexslider.css" rel="stylesheet" media="all">
   <link href="assets/css/megamenu.css" rel="stylesheet" media="all" />
   <link href="assets/css/print.css" rel="stylesheet" media="print" />
   <!-- Theme styles for this template -->
   <link href="assets/css/megamenu.css" rel="stylesheet" media="all" />
   <link href="theme/css/site.css" rel="stylesheet" media="all">
   <link href="theme/css/site-responsive.css" rel="stylesheet" media="all">
   <link href="theme/css/ma5gallery.css" rel="stylesheet" type="text/css">
   <link href="theme/css/print.css" rel="stylesheet" type="text/css" media="print">
   <link rel="stylesheet" href="assets/css/tableStyle.css" media="all" type="text/scss">
   <link rel="stylesheet" href="assets/css/flaticon.css" media="all" type="text/css">
   <link rel="stylesheet" href="assets/css/style11.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="assets/js/aos-master/aos-master/dist/aos.css" />

   <link rel="stylesheet" href="assets/css/style1.css"> <!-- odisha Map heading style -->

   <script src="assets/js/angular.min.js"></script>
   <script src="assets/js/aos-master/aos-master/dist/aos.js"></script>
   <script src="assets/js/modernizr.js"></script>
   <script src="assets/js/js-sha512.js"></script>

   <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" /> -->
   <link rel="stylesheet" href="assets/css/leaflet.css">
   <script src="assets/js/leaflet.js"></script>

   <!-- <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script> -->

   <!-- ==============================Schemes Cards Css start================== -->
   <style>
      .mapInfoImg {
         text-align: center;
      }

      .mapInfoImg img {
         height: 30px;
      }

      .status {
         font-weight: bold;
         color: #09722a;
      }

      .status1 {
         margin-top: 50px;
      }

      #newMap {
         height: 477px;
         /* width: 400px; */
         margin: 0 44px 36px 44px;
      }

      .topnav {
         overflow: hidden;
         background-color: #e9e9e9;
      }

      /* Style the links inside the navigation bar */
      .topnav a {
         float: left;
         display: block;
         color: black;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
      }

      /* Change the color of links on hover */
      .topnav a:hover {
         background-color: #ddd;
         color: black;
      }

      /* Style the "active" element to highlight the current page */
      .topnav a.active {
         background-color: #2196F3;
         color: white;
      }

      /* Style the search box inside the navigation bar */
      .topnav input[type=text] {
         float: right;
         padding: 6px;
         border: none;
         margin-top: 8px;
         margin-right: 16px;
         font-size: 17px;
      }

      /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
      @media screen and (max-width: 600px) {

         .topnav a,
         .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
         }

         .topnav input[type=text] {
            border: 1px solid #ccc;
         }
      }

      /* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      * {
         box-sizing: border-box;
      }
      body {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0;
         background-color: #f7f8fc;
         font-family: "Roboto", sans-serif;
         color: #10182f;
      }
      .container {
         display: flex;
         width: 1040px;
         justify-content: space-evenly;
         flex-wrap: wrap;
      } */
      .schemeHead h1 {
         font-size: 2rem;
         margin: 0px 0px 9px 29px;
         /* padding-top: 22px; */
      }

      .card {
         margin: 10px;
         background-color: #fff;
         border-radius: 10px;
         box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
         overflow: hidden;
         /* width: 300px; */
      }

      .card-header img {
         width: 100%;
         height: 122px;
         object-fit: contain;
      }

      .card-body {
         /* display: flex; */
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         padding: 20px;
         /* min-height: 192px; */
      }

      .card-body h4 {
         max-height: 3rem;
         min-height: 3rem;
         margin: 8px 0px 8px 0px;
      }

      .schemeDesc {
         min-height: 3rem;
      }

      .tag {
         background: #cccccc;
         border-radius: 50px;
         font-size: 12px;
         margin: 0;
         color: #fff;
         padding: 2px 10px;
         text-transform: uppercase;
         cursor: pointer;
      }

      .tag-teal {
         background-color: #47bcd4;
      }

      .tag-purple {
         background-color: #5e76bf;
      }

      .tag-pink {
         background-color: #cd5b9f;
      }

      .card-body p {
         font-size: 13px;
         /* margin: 0 0 17px; */
      }

      .user {
         display: flex;
         /* margin-top: auto; */
      }

      .user img {
         border-radius: 50%;
         width: 40px;
         height: 40px;
         margin-right: 10px;
      }

      .user-info h5 {
         margin: 0;
      }

      .user-info small {
         color: #545d7a;
      }
   </style>
   <!-- ==============================Schemes Cards Css end================== -->

   <!-- fposcrolll style without img -->
   <style>
      html {
         scroll-behavior: smooth;
      }

      .fpo-scroll {
         display: -ms-flexbox;
         /* IE10 */
         display: flex;
         width: 100%;
         margin-top: 9px;
         margin-left: 5px;
      }

      p .fponame {
         width: 100%;
         outline: none;
         margin-top: -2px;
         margin-left: 5px;
      }

      .contact {
         margin-left: 6px;
         font-size: 14px;
      }

      .adrress {
         margin-bottom: 5px;
         margin-left: 6px;
         font-size: 14px;
         margin-top: 2px;
      }

      /* Set a style for the submit button */
      .button1 {
         background-color: rgb(30, 155, 57);
         color: white;
         padding: 3px;
         border: none;
         cursor: pointer;
         opacity: 0.9;
         border-radius: 6px;
         width: 65px;
         margin-left: 136px;
         margin-top: -88px;
         font-size: 10px;
      }

      .btn:hover {
         opacity: 1;
      }

      .fponame {
         font-weight: bold;
      }
   </style>

   <!-- fpocarousal search button css -->
   <style>
      .button {
         background-color: #4CAF50;
         /* Green */
         /* border: none; */
         color: white;
         /* padding: 20px; */
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 15px;
         /* margin: 4px 2px; */
         cursor: pointer;
         border-radius: 8px;
         padding-left: 14px;
         padding-right: 16px;
         padding-top: 10px;
         padding-bottom: 10px;
      }
   </style>

   <!--odisha Map heading effect -->
   <noscript>
      <link href="theme/css/no-js.css" type="text/css" rel="stylesheet">
   </noscript>

   <!-- odisha map script tag -->
   <style>
      .names {
         fill: none;
         stroke: #fff;
         stroke-linejoin: round;
      }

      /* Tooltip CSS */
      .d3-tip {
         line-height: 1.5;
         font-weight: 400;
         font-family: "avenir next", Arial, sans-serif;
         padding: 6px;
         background: rgba(0, 0, 0, 0.6);
         color: #FFA500;
         border-radius: 1px;
         pointer-events: none;
      }

      /* Creates a small triangle extender for the tooltip */
      .d3-tip:after {
         box-sizing: border-box;
         display: inline;
         font-size: 8px;
         width: 100%;
         line-height: 1.5;
         color: rgba(0, 0, 0, 0.6);
         position: absolute;
         pointer-events: none;
      }

      /* Northward tooltips */
      .d3-tip.n:after {
         content: "\25BC";
         margin: -1px 0 0 0;
         top: 100%;
         left: 0;
         text-align: center;
      }

      /* Eastward tooltips */
      .d3-tip.e:after {
         content: "\25C0";
         margin: -4px 0 0 0;
         top: 50%;
         left: -8px;
      }

      /* Southward tooltips */
      .d3-tip.s:after {
         content: "\25B2";
         margin: 0 0 1px 0;
         top: -8px;
         left: 0;
         text-align: center;
      }

      /* Westward tooltips */
      .d3-tip.w:after {
         content: "\25B6";
         margin: -4px 0 0 -1px;
         top: 50%;
         left: 100%;
      }

      /*    text{
           pointer-events:none;
         }*/
      .details {
         color: white;
      }

      #stateList {
         position: absolute;
         left: calc((100% - 20px)/2);
         padding: 5px 15px;
         border-radius: 8px;
      }

      .megamenu-wraper {
         z-index: 9999;
      }

      .sticky {
         position: fixed;
         top: 0;
         width: 100%;
      }

      .sticky+.content {
         padding-top: 60px;
      }

      /* ==================Table style css start======================== */
      * {
         font-family: sans-serif;
         /* Change your font family */
      }

      .content-table {
         border-collapse: collapse;
         margin: 25px 0;
         font-size: 0.9em;
         /* min-width: 400px; */
         border-radius: 5px 5px 0 0;
         overflow: hidden;
         /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
         border-radius: 7px;
         /* box-shadow: 7px 3px 21px white; */
      }

      .content-table thead tr {
         background-color: #009879;
         color: #ffffff;
         text-align: left;
         font-weight: bold;
      }

      .content-table th,
      .content-table td {
         padding: 12px 15px;
      }

      .content-table thead tr th {
         background: #005fa4;
      }

      .content-table tbody tr {
         border-bottom: 1px solid #dddddd;
      }

      .content-table tbody tr:nth-of-type(even) {
         background-color: #f3f3f3;
      }

      .content-table tbody tr:last-of-type {
         border-bottom: 2px solid #009879;
      }

      .content-table tbody tr.active-row {
         font-weight: bold;
         color: #009879;
      }

      /* .content-table:hover {
         animation: shake 0.5s;
         animation-iteration-count: 1;
      }
      @keyframes shake {
         0% {
            transform: translate(1px, 1px) rotate(0deg);
         }
         10% {
            transform: translate(-1px, -2px) rotate(-1deg);
         }
         20% {
            transform: translate(-3px, 0px) rotate(1deg);
         }
         30% {
            transform: translate(3px, 2px) rotate(0deg);
         }
         40% {
            transform: translate(1px, -1px) rotate(1deg);
         }
         50% {
            transform: translate(-1px, 2px) rotate(-1deg);
         }
         60% {
            transform: translate(-3px, 1px) rotate(0deg);
         }
         70% {
            transform: translate(3px, 1px) rotate(-1deg);
         }
         80% {
            transform: translate(-1px, -1px) rotate(1deg);
         }
         90% {
            transform: translate(1px, 2px) rotate(0deg);
         }
         100% {
            transform: translate(1px, -2px) rotate(-1deg);
         }
      } */
      /* ==================Table style css end======================== */
   </style>

   <script>
      (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-56543729-3', 'auto');
      ga('send', 'pageview');
   </script>
   <!-- <link href="./wheelnav.js - spinning ever_files/css" rel="stylesheet" type="text/css"> -->

   <!-- utube video -->
   <style>
      @media screen and (max-width: 450px) {
         .utVdo {
            width: 330px !important;
            height: 200px !important;
         }

         .circleWheel {
            width: 330px !important;
            height: 200px !important;
         }

         /* .wheelGraph {
            width: 350px !important;
            height: 350px !important;
         }
         .containerWdth {
            margin: 0px !important;
            padding: 0px !important;
            height: 350px !important;
            padding-top: 5px !important;
         } */
      }
   </style>

   <!-- fpo media style -->
   <style>
      /* Variables */
      @import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

      .video-block {
         background-image: linear-gradient(to top, #550808 0%, #550808 1%, #550808 100%);
         color: #fff;
         height: 75vh;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .video-tab-title {
         color: #fff;
         font-size: 18px;
         text-transform: uppercase;
         margin: 0 0 30px 15px;
      }

      .video-tab .post-overlay-wrapper {
         min-height: 430px;
      }

      .video-tab .post-overlay-wrapper .post-content {
         padding: 35px;
      }

      .video-tab .post-title {
         font-size: 24px;
         line-height: 30px;
         font-weight: normal;
      }

      .video-tab .nav-tabs {
         border-bottom: none;
         margin-left: 30px;
         height: 408px;
         overflow-y: auto;
      }

      .video-tab .nav-tabs::-webkit-scrollbar {
         width: 8px;
         background-color: #fff;
         border-radius: 10px;
      }

      .video-tab .nav-tabs::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background-color: #166c9e;
      }

      .video-tab .nav-tabs li {
         width: 100%;
         display: block;
         min-height: 80px;
      }

      .video-tab .nav-tabs li a {
         background: none;
         border: 0;
         padding: 0;
         border: 0;
         margin-right: 20px;
      }

      .video-tab .nav-tabs li a .post-thumbnail {
         float: left;
         margin-right: 20px;
         position: relative;
         overflow: hidden;
      }

      .video-tab .nav-tabs li a .post-thumbnail img {
         max-width: 100px;
      }

      .video-block .container .row .video-tab .nav-tabs li a h3 {
         color: #fff;
         font-weight: normal;
         line-height: 18px;
         font-size: 13px;
         margin: 0;
         font-family: "Montserrat", sans-serif;
      }

      .video-block .container .row .video-tab .nav-tabs li a h2 {
         color: #fff;
         font-weight: normal;
         line-height: 29px;
         font-size: 11px;
         margin: 0;
         font-family: "Montserrat", sans-serif;
         margin-bottom: -2px;
      }

      .play-icon {
         position: relative;
         display: block;
         width: 100%;
         height: 100%;
         border-radius: 6px;
      }

      .play-icon:hover {
         cursor: none;
      }

      .play-icon .play-button {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 3;
         transition: all 0.1s ease;
      }

      .play-icon:before {
         position: absolute;
         content: "";
         width: 100%;
         height: 100%;
         transition: all 0.3s ease;
         background: rgba(0, 0, 0, 0.4);
         z-index: 2;
      }

      .video-tab iframe {
         width: 100%;
         min-height: 369px;
         border: none;
         background: #000;
         padding: 10px;
         border-radius: 6px;
      }

      .nav-tabs>li.active>a,
      .nav-tabs>li.active>a:focus,
      .nav-tabs>li.active>a:hover {
         background: transparent;
         border: none;
      }
   </style>

<style>
   /* Style the tab */
   .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
   }

   /* Style the buttons that are used to open the tab content */
   .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
   }

   /* Change background color of buttons on hover */
   .tab button:hover {
      background-color: #ddd;
   }

   /* Create an active/current tablink class */
   .tab button.active {
      background-color: #ccc;
   }

   /* Style the tab content */
   .tabcontent {
      display: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
   }
</style>
</head>

<body ng-app="myapp" ng-controller="ctrl">
   <div id="loaderDiv"
      style=" position: fixed;width: 100%;height: 100vh; z-index: 111111111; background: black;opacity: 0.9;">
      <center><img src="/assets/css/garden-loader.gif" style="margin-top: 8%;" /></center>
   </div>
   <div id="fb-root"></div>

   <%- include('./commons/sugamHeader.ejs') -%>


      <!--/.nav-wrapper-->
     
      <div class="wrapper" id="skipCont"></div>

      <!--/#skipCont-->
      <section id="fontSize" class="wrapper body-wrapper " data-aos="fade-up" data-aos-duration="1000">
         <h2 style="display: none;">Body</h2>
       

         <!-- ===========================================FPO Registration start=========================== -->

       

         <!-- ===========================================FPO Registration end=========================== -->
         <!-- ===========================================FIG Registration START=========================== -->
         <!-- <section >
            <div class="row rowCard">

               <div class="wrapper  wrapperBack"  id="fig">
                 
                  <div class="col-md-6 col-lg-6 col-sm-12  cardInnerMargin">
                     <div class="main left-block " data-aos="fade-up" data-aos-duration="1000">
                        <section class="signup bgClr">
                           <div class="row cardHead">
                              <h1>FIG/SHG/JLG/PG Registration</h1>
                           </div>
                           <div class="container" >
                              <div class="signup-content">
                                 <div class="row" ng-show='showFigRegForm'>
                                    <form method="POST" id="signup-form1" class="signup-form" name="figRegForm"
                                       novalidate>

                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">FIG Name</label><br>
                                          <input type="text" class="form-control" ng-model="figName" required>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Number of farmers</label><br>
                                          <input type="number" class="form-control" ng-model="noOfFarmers" required>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">District</label><br>
                                          <select name="" class="form-control" ng-model="District"
                                             ng-change="loadBlocks()" required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option ng-repeat="i in DistrictList" value="{{i}}">{{i.districtName}}
                                             </option>
                                          </select>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Block</label><br>
                                          <select name="" class="form-control" ng-model="Block" ng-change="loadGP()"
                                             required>
                                             <option value="">--Select--</option>
                                             <option ng-repeat="b in BlockList" value="{{b}}">{{b.blockName}}</option>
                                          </select>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Gram Panchyat</label><br>
                                          <select name="" class="form-control" ng-model="GP" ng-change="loadVillage()"
                                             required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option ng-repeat="c in GpList" value="{{c}}">{{c.gpName}}</option>

                                          </select>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Village</label><br>
                                          <select name="" class="form-control" ng-model="village" required>
                                             <option value="">--Select--</option>
                                             <option ng-repeat="d in VillageList" value="{{d}}">{{d.villageName}}
                                             </option>

                                          </select>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">FPO</label><br>
                                          <select name="" class="form-control" ng-model="fpo" required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="select Later">Select Later</option>
                                             <option ng-repeat="d in allFpos" value="{{d}}">{{d.fpoName}}</option>

                                          </select>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Password</label>
                                          <input type="password" class="form-control" ng-model='psw' required>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Farmer Id of FIG leader</label><br>
                                          <div class="figFrmIdSrch">
                                             <input type="text" class="form-control" ng-model='frmIdOfFigLdr' required>
                                             <button type="button" class="btn btn-primary"
                                                ng-click='getFrmIdOfFigLdr(frmIdOfFigLdr)'>
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                             </button>
                                          </div>
                                       </div>
                                       <div class="col-md-6 col-lg-6 col-sm-6">
                                          <label for="">Mobile No</label><br>
                                          <input type="text" class="form-control" ng-model='hiddenLeaderMobNO' required
                                             disabled>
                                       </div>

                                       <div class="col-md-12">
                                          <button class="btn-1" ng-click='figRegCheck()'
                                             ng-disabled="figRegForm.$invalid">Send OTP</button>
                                       </div>
                                 </div>
                                 </form>
                                 <form method="POST" id="signup-form" class="signup-form" name="figRegForm2" novalidate>

                                    <div class="row" ng-hide='showFigRegForm'>
                                       <div class="col-md-12" style="color: blue;">
                                          <i class="fa fa-arrow-left" aria-hidden="true" ng-click='figRegProceed()'
                                             style="font-size: x-large;display:flex"></i>
                                       </div>
                                       <div class="col-md-11 otpSection">
                                          <h3>OTP has been sent to your mobile number</h3>
                                       </div>

                                    </div>
                                    <div class="row otpEntry" ng-hide='showFigRegForm'>

                                       <div class="col-md-4">
                                          <p>Enter OTP:</p>
                                       </div>
                                       <div class="col-md-5">
                                          <input type="text" class="form-control" ng-model='receivedOTP' required>
                                       </div>
                                       <div class="col-md-3">
                                          <button class="btn btn-primary" ng-click='figRegSubmit()'
                                             ng-disabled='figRegForm2.$invalid'>Submit</button>
                                       </div>
                                    </div>
                                 </form>
                                 <div style="text-align: center;color: red;" ng-if='figExists.regExists'>
                                    <p>FIG name or mobile number entered is already registered</p>
                                 </div>
                                 <div style="text-align: center;color: green;" ng-if='postfigRegStatus'>
                                    <p>Registered successfully</p>
                                 </div>
                                 <div style="text-align: center;color: red;" ng-if='otpError'>
                                    <p>OTP does not match</p>
                                 </div>
                              </div>
                           </div>
                        </section>

                     </div>
                  </div>
                  <div class="col-md-6 col-lg-6 col-sm-12 cardInnerMargin">

                     <div class="aboutBlock" data-aos="fade-up" data-aos-duration="1200">
                        <div class="about-content">
                           <h2>Independent small group (15-20) of farmers with a shared goal</h2>
                          
                           <p style="text-align: left;">Farmer-members cohesively located with almost same interest are
                              to be
                              mobilized to form
                              a group of 15- 20 Members, calling the group as Farmer Interest Group (FIG) or Self Help
                              Group (SHG), Farmers Club (FC), Joint Liability Group (JLG), Rythu Mitra Group.
                           </p>
                           <div class="row">
                              <div class="col-lg-6 col-sm-6">
                                 <ul>
                                    <li>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                       Address production and marketing issues
                                    </li>
                                    <li>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                       Develop 'self-help' approaches
                                    </li>
                                    <li>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                       Provide pooled resources
                                    </li>
                                 </ul>
                              </div>
                              <div class="col-lg-6 col-sm-6">
                                 <ul>
                                    <li>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                       Provide training & information
                                    </li>
                                    <li>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                       Identify technical and product opportunities
                                    </li>
                                    <li>
                                       <i class="fa fa-check" aria-hidden="true"></i>
                                       Bulk selling and purchasing
                                    </li>
                                 </ul>
                              </div>
                              <a class="default-btn" href="https://fpoodisha.nic.in/topbarmenu?id=00T73">
                                 Learn More
                              </a> &nbsp;&nbsp;
                              <a class="default-btn" href="https://fpoodisha.nic.in/userLogin?userType=fig">
                                 Login
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section> -->
         <!-- ===========================================FIG Registration END=========================== -->
         <!-- ===========================================FARMER Registration START=========================== -->

         <div class="row rowCard " id='target2'>
            <div class="wrapper  wrapperBack2">
               <!-- <div class=" container common-container four_content banner-container body-container top-body-container"
               style="height: 0;"> -->

               <div class="col-lg-6 col-md-6 col-sm-12 cardInnerMargin">
                  <!-- data-aos="fade-up" data-aos-duration="1000" -->
                  <div class="main left-block " data-aos="fade-left" data-aos-duration="1000">
                     <div class="about-content">
                        <!--data-aos="fade-up" data-aos-duration="1200"  -->
                        <h2>Fetch- Better Price for your Produce, Assured access to Input Supply, Detailed information on Government Schemes and More!!</h2>
                        <!-- data-aos="fade-up" data-aos-duration="1300" -->
                        <p>Enroll here and take advantage of -

                        </p>
                        <!-- data-aos="fade-up" data-aos-duration="1000" -->
                        <div class="row">
                           <div class="col-lg-6 col-sm-6">
                              <ul>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Collective Buying and Selling through FPOs


                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Apply for FPO membership in your vicinity

                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Directly Connecting with Buyers & Traders


                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Directly connecting with Input Suppliers


                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Appy for licenses


                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Find link for generating farmer ID


                                 </li>
                              </ul>
                           </div>
                           <div class="col-lg-6 col-sm-6">
                              <ul>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Know about Government schemes

                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Connect with logistics services

                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Get free Crop Advisory


                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Access Common Hiring Center



                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Find trainings programs



                                 </li>
                                 <li>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    Other important links



                                 </li>
                              </ul>
                           </div>
                           <!-- <a class="default-btn" href="https://fpoodisha.nic.in/topbarmenu?id=00T1">
                              Learn More
                           </a> -->
                           <a class="default-btn" style="margin-left: 11px;"
                              href="https://fpoodisha.nic.in/userLogin?userType=fpo">
                              Login
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6 col-lg-6 col-sm-12 cardInnerMargin">
                  <!-- data-aos="fade-up" data-aos-duration="1200" -->
                  <div class="aboutBlock" data-aos="fade-right" data-aos-duration="1000">
                     <section class="signup bgClr">
                        <div class="row cardHead">
                           <h1>Farmer Enrollment</h1>
                        </div>
                        <!-- <img src="images/signup-bg.jpg" alt=""> -->
                        <div class="container">
                           <div class="signup-content">
                              <div ng-show='showFrmrRegScrn'>

                                 <div class="row">
                                    <div class="col-md-4 farmerTxt">
                                       <h3>Enter farmer ID:</h3>
                                    </div><br>
                                    <div class="col-md-4 searchBoxBtn">
                                       <input type="text" class="form-control" ng-model='farmerId'  ng-disabled="disablenum">
                                    </div>
                                    <!-- <div class="col-md-4 searchBoxBtn">
                                       <button class=" btn btn-primary" ng-click='searchFarmer()'>Search</button>
                                    </div> -->
                                    <div ng-show='correctFarmerID' style="width: 635px;">
                                       <div style="text-align: center;color:red;"><br><br>
                                          <p>Please enter correct farmer-ID !!</p>
                                       </div>
                                    </div>
                                    <div class="row" ng-if='!showFarmerTbl'>
                                       <div class="col-md-12"
                                          style="outline: 2px solid antiquewhite;padding: 1rem;text-align: left;box-shadow: 0 5px 10px rgb(30 36 60 / 5%), 0 15px 40px rgb(166 173 201 / 20%);">
                                          <p>Government of Odisha has provision to register each farmer with an unique
                                             Farmer Id. The id is being used to avail the government services online. If
                                             you don't have the Farmer-ID then please visit to your nearest office of
                                             the AAO (Asst. Agriculture Officer) for registration. This may take 5 to 7
                                             days time to get Farmer-ID in general.
                                          </p>
                                       </div>
                                    </div>
                                    <!-- <div class="row" ng-if='!showFarmerTbl'>
                                       <div class="col-md-12" style="text-align: left;">
                                          <a href=""><u style="cursor: pointer; color: blue;">Click Here</u></a></b></p>
                                          <p><b>If you don't have a farmer id: <a
                                                   href="http://agrisnetodisha.ori.nic.in/stock/farmer/FarmerInquiry.aspx"
                                                   target="_blank"><button class="btn btn-success"
                                                      style="border-radius: 40px"> Click
                                                      here</button></a> </b></p>
                                       </div>
                                    </div> -->
                                    <div class="row" ng-if='!showFarmerTbl'>
                                       <div class="col-md-12" style="text-align: left;">
                                          <p><b>If you forgot your farmer id : <a
                                                   href="http://agrisnetodisha.ori.nic.in/stock/farmer/FarmerInquiry.aspx"
                                                   target="_blank"><button class="btn" style="    background-color: #fe532f;
                                             border-color: #fe532f;border-radius: 40px;color: white;">Search
                                                      here</button></a> </b></p>
                                       </div>
                                    </div>
                                    <!-- <div class="row" ng-if='!showFarmerTbl' style="margin-top: 3rem;">
                                       <label for="" style="margin-bottom: 0px;"><i><b>FAQs:-</b></i></label>
                                       <div class="col-md-12" style="text-align: left;">
                                          <p><b>Q1. I do not know my FIG.what to do ?</b></p>
                                          &nbsp;&nbsp;<p><b>Ans:-</b>you can choose later</p>
                                       </div>
                                    </div> -->

                                 </div>
                                 <div class="row" ng-if='showFarmerTbl'>
                                    <div class="col-md-11 frmDetailsCard">

                                       <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
                                          <b>{{fetchedFarmerData.VCHFARMERNAME}},</b>
                                       </div>
                                       <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
                                          <b
                                             ng-if='fetchedFarmerData.RELATION=="Son"'>S/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
                                          <b
                                             ng-if='fetchedFarmerData.RELATION=="Wife"'>W/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
                                          <b
                                             ng-if='fetchedFarmerData.RELATION==""'>S/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
                                          <b
                                             ng-if='fetchedFarmerData.RELATION==""'>S/O:{{fetchedFarmerData.VCHFATHERNAME}},</b>
                                       </div>
                                       <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
                                          Village:<b>{{fetchedFarmerData.address.village}}</b>, &nbsp;&nbsp; Gram
                                          Panchyat:
                                          <b>{{fetchedFarmerData.address.gp}}</b>, <br> Block:
                                          <b>{{fetchedFarmerData.address.block}}</b>,&nbsp;&nbsp;District:
                                          <b>{{fetchedFarmerData.address.district}}</b>
                                       </div>
                                       <div class="col-md-12 txtAlnLft" ng-hide='correctFarmerID'>
                                          Mob: <b> ******{{frmHiddenMob}}</b>
                                       </div>
                                    </div>
                                    <div ng-show='otpSectionAll'>
                                       <div class="col-md-12 frmRegMB" ng-show='!showOtpSec'>
                                          <!-- showSecondFrmerScrn();getCropData() -->
                                          <button class="btn-1" ng-click='sendOtpToFarmer()'>Send OTP to Verify</button>
                                       </div>
                                       <div class="row" ng-show='showOtpSec'>
                                          <div style="width:100%;text-align: center;color: green;">
                                             <p>Otp has been sent to the above shown mobile number</p>
                                          </div>
                                          <div class="col-md-4">
                                             <h3>Enter OTP</h3>
                                          </div>
                                          <div class="col-md-4">
                                             <input type="number" class="form-control" ng-model='frmOtp'>
                                          </div>
                                          <div class="col-md-4">
                                             <button class="btn-1" ng-click='frmrOtpSubmit(frmOtp)'>Submit OTP</button>
                                          </div>
                                          <div style="width:100%;text-align: center;color: red;" ng-if='otpError1'>
                                             <p>OTP does not match</p>
                                          </div>
                                       </div>
                                    </div>
                                  
                                 </div>
                              </div>
                              <div ng-hide='showFrmrRegScrn'>
                                 <form name='farmerRegForm2' style="width: 100%;">
                                    <div class="row">
                                       <div class="col-md-12" style="color: blue;margin-bottom: 1rem;">
                                          <i class="fa fa-arrow-left" aria-hidden="true"
                                             ng-click='showSecondFrmerScrn()'
                                             style="font-size: x-large;display:flex"></i>

                                       </div>

                                       <div class="col-md-12">
                                          <p style="text-align: left;margin-bottom: 0.5rem;">Select suitable FPO or FIG
                                             to
                                             be a member</p>
                                       </div>
                                       <div class="col-md-4">
                                          <label for="">Type</label><br>
                                          <select class="form-control" ng-model='forwardTo' required
                                             ng-change='getFpoOrFigList(forwardTo)'>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="FPO">FPO</option>
                                             <!-- <option value="FIG">FIG</option> -->
                                          </select>
                                       </div>
                                       <div class="col-md-4">
                                          <label for="">District</label><br>
                                          <select class="form-control" ng-model='frmDist' required
                                             ng-change='getAllFposFromDist()'>
                                             <option value="" disabled selected>--District Select--</option>
                                             <option value="{{dist}}" ng-repeat='dist in DistrictList'>
                                                {{dist.districtName}}</option>
                                          </select>
                                       </div>
                                       <!-- <div class="col-md-4" ng-show='forwardTo=="FIG"'>
                                          <select class="form-control" ng-model='fpoOrFigName' required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="{{figname}}" ng-repeat='figname in allFigNames'>
                                                {{figname.figName}}</option>
                                          </select>
                                       </div> -->
                                       <div class="col-md-4" ng-show='forwardTo=="FPO"'>
                                          <label for="">FPO Name</label><br>
                                          <select class="form-control" ng-model='fpoOrFigName' required>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="{{fpo}}" ng-repeat='fpo in allFpos'>{{fpo.fpoName}}</option>
                                          </select>
                                       </div>
                                       <div class="col-md-12">
                                          <p style="text-align: left;margin-top: 1.8rem;margin-bottom: 0.5rem;">Please
                                             select your season wise approximate area</p>
                                       </div>

                                       <div class="col-md-4">
                                          <label for="">Season</label><br>
                                          <select class="form-control" ng-model='frmSeason'>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="Kharif">Kharif</option>
                                             <option value="Rabi">Rabi</option>
                                          </select>
                                       </div>
                                       <div class="col-md-4">
                                          <label for="">Crop</label><br>
                                          <select class="form-control" ng-model='frmCrop'>
                                             <option value="" disabled selected>--Select--</option>
                                             <option value="{{x}}" ng-repeat='x in cropData'>{{x.Crop_Name}}</option>
                                          </select>
                                       </div>
                                       <div class="col-md-2" style="padding-top: 12px;">
                                          <label for="">Area(in hectre)</label><br>
                                          <input type="number" class="form-control" ng-model='frmArea'>
                                       </div>
                                       <div class="col-md-2">
                                          <div class="plus radius" style="--l:35px;--t:3px;--c2:green;margin-top: 32%;"
                                             ng-click='cropPushToAry()'></div>
                                       </div>
                                       <div class="row" style="width: 100%;">
                                          <div class="col-md-8">
                                             <!-- Selected crop variety added table -->
                                             <div class="table-responsive" ng-if='frmrCropArry.length>0'>
                                                <table class="table table-striped table-bordered table-hover"
                                                   id="orderListTable">
                                                   <caption></caption>
                                                   <thead>
                                                      <tr>
                                                         <th scope="col">Crop</th>
                                                         <th scope="col">Season</th>
                                                         <th scope="col">Area</th>
                                                         <th scope="col">Remove</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody>
                                                      <!-- <p ng-if='frmrCropArry.length==0'>No Data</p> -->
                                                      <tr ng-repeat='data in frmrCropArry'>
                                                         <td>{{data.cropName}}</td>
                                                         <td>{{data.season}}</td>
                                                         <td>{{data.area}}</td>
                                                         <td class="closeButton">
                                                            <p ng-click='removeCropFromArray($index)'><i
                                                                  class="fa fa-times-circle" aria-hidden="true"></i></p>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </div>
                                          </div>
                                          <div class="col-md-4">
                                             <label for=""></label><br>
                                             <button class="btn-1" ng-click='submitFarmerReg()'
                                                ng-disabled='frmrCropArry.length==0'>Submit</button>
                                          </div>
                                       </div>

                                    </div>
                                 </form>

                              </div>
                              <div style="text-align: center;color: green;" ng-show='farmerRegStatus'>
                                 <p>Enrolled successfully</p>
                              </div>
                              <div style="text-align: center;color: green;" ng-show='farmerRegExists'>
                                 <p>You have already enrolled before</p>
                              </div>
                              <div style="text-align: center;color: red;" ng-hide='farmerRegErr'>
                                 <p>Enrollment failed</p>
                              </div>
                           </div>
                        </div>
                     </section>
                  </div>
               </div>

               <!-- </div> -->
            </div>
         </div>
         <!-- ===========================================FARMER Registration END=========================== -->



         <!-- ====================================================CG Registration start===================================== -->
         
         
            <!-- <div class="col-md-6 col-lg-6 col-sm-12  cardInnerMargin" id='target4'>
        
               <div class="main left-block ">
                  <div class="about-content">
                   
                     <h2>Farm to plate is the concept of this new era to be promoted for farmer's economy as well of
                        consumer's economy.</h2>
                 
                     <p>Help your money reach to farmer</p>
                    
                     <div class="row">
                        <div class="col-lg-6 col-sm-6">
                           <ul>
                              <li>
                                 <i class="fa fa-check" aria-hidden="true"></i>
                                 Direct profit to farmer
                              </li>
                              <li>
                                 <i class="fa fa-check" aria-hidden="true"></i>
                                 Get Cashback
                              </li>
                           </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                           <ul>
                              <li>
                                 <i class="fa fa-check" aria-hidden="true"></i>
                                 Direct purchase from field
                              </li>
                              <li>
                                 <i class="fa fa-check" aria-hidden="true"></i>
                                 Order Items from mobile app
                              </li>
                           </ul>
                        </div>
                        <a class="default-btn" href="https://fpoodisha.nic.in/topbarmenu?id=00T75">
                           Learn More
                        </a>
                        &nbsp;&nbsp;
                        <a class="default-btn" href="https://fpoodisha.nic.in/userLogin?userType=Consumer">
                           Login
                        </a>
                     </div>
                  </div>
               </div>
            </div> -->

            <!-- <div class="col-md-6">-->
            <!-- ====================================================CG Registration end===================================== -->

            <!-- ==============================================Trader Registration start================= -->

          
               <!--========================================== fpo carousal==================================== -->
          
         

    
        
      </section>

      <section>
         <div class="wrapper home-banner" id="loginId">
            <div
               class="container common-container mapField four_content banner-container body-container top-body-container">
               <!-- <div class="left-block">
                    <div class="left-col-2" style="width: 100%;">
                        <div class="page-tab clearfix">
                            <div class="page-tab-res clearfix">
                               <div id="parentHorizontalTab" style="height: 386px !important;">
                                  <ul class="resp-tabs-list hor_1">
                                     <li><a id="tab-list-1"> Security Guidelines</a></li>
                                     <li><a>Beware of Phishing attacks</a></li>
                                  </ul>
                                  <div class="resp-tabs-container hor_1" >                           
                                     <div class="clearfix" id="hor_1_tab_item-0">
                                        <div class="content-wrapper">
                                           <p class="text-slide pause" onclick="changeClass()"></p>
                                           <div class="scroll-text scroll-left">
                                              <ul class="list">
                                                 <li>                                                
                                                    <div class="list-content">Make sure,the URL in your browser address bar begins with "https".</div>
                                                 </li>
                                                 <li>                                                
                                                    <div class="list-content">Never write your password on a Post-It and stick it on your monitor, your address rolodex, under your desk pad, or anywhere else where it can be easily found. If you must write it down, keep it where no one can find it except for the authorized user.</div>
                                                 </li>
                                                 <li>                                                
                                                    <div class="list-content">Always lock/logout your computer while leaving.</div>
                                                 </li>
                                                 <li><div class="list-content">Never install unknown or unsolicited software in your computer.</div></li>
                                                 <li><div class="list-content">Never download pirated or cracked software.</div></li>
                                                 <li><div class="list-content">Always use a device firewall.</div></li>
                                                 <li><div class="list-content">Don't click on popup windows that tell you that your computer is infected with a virus.</div></li>
                                              </ul>
                                           </div>
                                           
                                        </div>
                                     </div>
                                     <div class="clearfix" id="hor_1_tab_item-1">
                                        <div class="content-wrapper">
                                           <p class="text-slide01 pause" onclick="changeClass01()"></p>
                                           <div class="scroll-text01 scroll-left">
                                              <ul class="list">
                                                 <li>
                                                    <div class="list-content">Phishing is a fraudulent attempt, usually made through email, phone calls, SMS etc seeking your personal and confidential information. </div>
                                                 </li>
                                                 <li>
                                                    <div class="list-content">The department or any of its representative never sends you email/SMS or calls you over phone to get your personal information,password or one time SMS (high security) password. Any such e-mail/SMS or phone call is an attempt to fraudulently access your account. Never respond to such email/SMS or phone call.</div>
                                                 </li>
                                              </ul>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                    </div> -->
               <!-- <div class="banner-right-wrapper">
                     <div class="banner-box-wrapper">
                        <div class="banner-box banner-box-1">
                           <div class="banner-box-content">
                              <h2>150</h2>
                              <a href="#" title="External link that opens in new tab" target="_blank">
                                 <p>No. of blocks covered</p>
                                 <i class="fa fa-external-link"></i>                
                              </a>
                           </div>
                        </div>
                        <div class="banner-box banner-box-2">
                           <div class="banner-box-content">
                              <h2>500</h2>
                              <a href="#" title="External link that opens in new tab" target="_blank">
                                 <p>No. of GPs covered</p>
                                 <i class="fa fa-external-link"> </i>
                              </a>
                           </div>
                        </div>
                       </div>
                  </div> -->
            </div>
            <!-- <div class="banner-right-wrapper">
                    <div class="banner-box-wrapper">
                        
                            <form method="POST" action="/login" class="login-form" autocomplete="OFF" id="loginForm">
                                <h1>Login</h1>
                                <hr>
                                <div class="inputb">
                                    <label for="userId">User ID:</label>
                                    <input class="forminput" type="text" id="userId" name="userId">
                                    <span data-placeholder-1="User ID" data-placeholder-2="User ID:"></span>
                                </div>
                                <div class="inputb">
                                    <label for="password">Password:</label>
                                    <input class="forminput hide-pwd" type="password" id="password" name="password">
                                    <span data-placeholder-1="Password" data-placeholder-2="Password:"></span>
                                </div>
                                <input type="button" class="loginbtn" value="Login" onclick="login();">
                                <div class="bottom-text">
                                    <span class="forgotpwd">Forgot <a href="#">Password</a>?</span><br>
                                </div>
                            </form>                        
                    </div>
                </div> -->
         </div>
      </section>

      <!-- =======================================Schemes Cards Start================================================ -->
 
      <!-- =======================================Schemes Cards End================================================ -->

      <!-- =======================================Location start==================================================== -->
    


     
      <!-- =======================================Location end==================================================== -->
      <section class="wrapper carousel-wrapper" style="padding-top: 2%;padding-bottom: 2%;">
         <div class="container common-container four_content carousel-container">
            <div id="flexCarousel" class="flexslider carousel">
               <ul style="display:flex;list-style:none;">
                  <li><a target="_blank" href="http://agrisnetodisha.ori.nic.in/"
                        onclick="return confirm('This link will take you to an external website.')" title="AGRISNET">
                        <img src="assets/images/carousel/AGRISNETICON.jpg" alt="AGRISNET"></a>
                  </li>
                  <li><a target="_blank" href="http://agriodisha.nic.in/"
                        onclick="return confirm('This link will take you to an external website.')" title="Agriodisha">
                        <img src="assets/images/carousel/Agriodisha.jpg" alt="Agriodisha"></a>
                  </li>
                  <li><a target="_blank" href="https://odisha.gov.in/"
                        onclick="return confirm('This link will take you to an external website.')"
                        title="Odisha Govertment">
                        <img src="assets/images/carousel/odisha_gov2.jpg" alt="Odisha Govertment"></a>
                  </li>
                  <li><a target="_blank" href="http://agricoop.nic.in/"
                        onclick="return confirm('This link will take you to an external website.')"
                        title="Agriculture Coperation & Farmers Welfare">
                        <img src="assets/images/carousel/acfw.jpg" alt="Agriculture Coperation & Farmers Welfare"></a>
                  </li>
                  <li><a target="_blank" href="http://ppqs.gov.in/"
                        onclick="return confirm('This link will take you to an external website.')"
                        title="Plant Protection,Quarantine & Storage">
                        <img src="assets/images/carousel/plant.jpg" alt="Plant Protection,Quarantine & Storage"></a>
                  </li>
                  <li><a target="_blank" href="https://www.kalia.co.in/"
                        onclick="return confirm('This link will take you to an external website.')" title="Kalia">
                        <img src="assets/images/carousel/KALIALOGO.jpg" alt="Kalia"></a>
                  </li>
               </ul>
            </div>
         </div>
      </section>

      <%- include('./commons/footer.ejs') -%>
         <script src="assets/js/jquery-2.1.1.min.js"></script>
         <script src="assets/js/jquery-accessibleMegaMenu.js"></script>
         <script src="assets/js/framework.js"></script>
         <script src="assets/js/jquery.flexslider.js"></script>
         <script src="assets/js/font-size.js"></script>
         <script src="assets/js/swithcer.js"></script>
         <script src="theme/js/ma5gallery.js"></script>
         <script src="assets/js/megamenu.js"></script>
         <script src="theme/js/easyResponsiveTabs.js"></script>
         <script src="theme/js/custom.js"></script>

         <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
         <script src="assets/js/script.js"></script>

         <script src="https://d3js.org/d3.v4.min.js"></script>
         <script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
         <!-- <script src="./StateWiseDistrictData.js"></script> -->
         <script src="./odishaDistData.js"></script>
         <script src="d3-tip.js"></script>
         <!-- <select id='stateList' onchange="onSelectState()"> -->
         <script>
            // let stateList = data[0].features.map(d => d.properties.State_Name);
            // stateList = [...new Set(stateList)];
            // let stateOptions = `<option selected value='All State'>All State</option>`;
            // stateList.forEach(d => {
            //     stateOptions = stateOptions + `<option>${d}</option>`;
            // });
            // d3.select("#stateList")
            //     .html(stateOptions);
            var format = d3.format(",");
            // ==========================================State map code start========================================
            fetchStateWiseFPO()
            // Fetch all state wise fpo count
            function fetchStateWiseFPO() {
               var xhttp = new XMLHttpRequest();
               var myobj, i = "";
               var x = ''
               var y = ''
               xhttp.onreadystatechange = function () {
                  // console.log(123, JSON.parse(this.responseText));
                  if (this.readyState == 4 && this.status == 200) {
                     stateWiseFpoData = JSON.parse(this.responseText);
                     // for (i in stateWiseFpoData) {
                     //    x += `<tr><td>${i._id}</td><td>${i.fpoName}</td><td>${i.fpoAddress}</td><td>${i.fpoMobileNo}</td></tr>`;
                     // }
                     // // x += '</a>';
                     // document.getElementById("stateWiseFpoData").innerHTML = x;
                  }
               };
               xhttp.open("GET", "https://fpoodisha.nic.in/landRoute/getStateWiseFPO");
               xhttp.send();
            }
            var distName
            function getFpoDataAccState() {
               // console.log(8555, distName);
               var xhttp = new XMLHttpRequest();
               var myobj, i = "";
               var x = ''
               var y = ''
               xhttp.onreadystatechange = function () {
                  // console.log(123, JSON.parse(this.responseText));
                  if (this.readyState == 4 && this.status == 200) {
                     stateWiseFpoDetails = JSON.parse(this.responseText);
                     // console.log(6565, stateWiseFpoDetails);
                     for (let i = 0; i < stateWiseFpoDetails.length; i++) {
                        // console.log(9090, stateWiseFpoDetails[i]);
                        x += `<tr><td>${stateWiseFpoDetails[i].fpoId}</td><td>${stateWiseFpoDetails[i].FPOData.village},${stateWiseFpoDetails[i].FPOData.district}</td><td>${stateWiseFpoDetails[i].FPOData.fpoContactNo}</td><td><i class="fa fa-map-marker" aria-hidden="true" style='font-size: x-large;margin-left: 21%;color: red;'></i></td></tr>`;
                     }
                     // x += '</a>';
                     document.getElementById("stateWiseFpoDetailsOnClick").innerHTML = x;
                  }
               };
               xhttp.open("GET", "https://fpoodisha.nic.in/landRoute/getStateWiseFPOData/" + distName);
               xhttp.send();
            }
            // Set tooltips
            var tip = d3.tip()
               .attr('class', 'd3-tip')
               .offset([-10, 0])
               .html(function (d) {
                  distName = d.properties.Dist_Name
                  count = 0
                  for (let i = 0; i < stateWiseFpoData.length; i++) {
                     if (d.properties.Dist_Name == stateWiseFpoData[i]._id) {
                        fpoCount = 0
                        fpoCount = stateWiseFpoData[i].fpoCount
                     } else {
                        count++
                     }
                  }
                  if (count == stateWiseFpoData.length) {
                     fpoCount = 0
                  }
                  return "<strong>District: </strong><span class='details'>" + d.properties.Dist_Name + "<br></span>" + "<strong>Total FPOs: </strong><span class='details'>" + (fpoCount) + "</span>";
               })
            // ==========================================State map code end========================================
            var margin = { top: 20, right: 0, bottom: 0, left: 0 },
               width = 330 - margin.left - margin.right,
               height = 420 - margin.top - margin.bottom;
            var color = d3.scaleThreshold()
               .domain([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120])
               .range(d3.schemeSet3);
            var svg = d3.select("#addMap")
               .append("svg")
               .attr("width", width + (margin.right + margin.left))
               .attr("height", height + (margin.top + margin.bottom))
               .append('g')
               .attr('class', 'map');
            let preparedData = odishaData;
            var projection = d3.geoMercator()
               .fitExtent([[10, 10], [width, height]], preparedData);
            var path = d3.geoPath().projection(projection);
            svg.call(tip);
            const mainG = svg.append("g")
               .attr("transform", `translate(${margin.left},${margin.top})`)
               .attr("class", "states");
            ready(null, preparedData);
            function ready(error, data, population) {
               mainG.selectAll("path")
                  .data(data.features)
                  .enter().append("path")
                  .attr("d", path)
                  .style("fill", d => {
                     return color(Math.floor(Math.random() * 100))
                  })
                  .style('stroke', 'white')
                  .style('stroke-width', 0.3)
                  .style("opacity", 0.8)
                  .on('mouseover', function (d) {
                     tip.show(d);
                     d3.select(this)
                        .style("opacity", 1)
                        .style("stroke", "white")
                        .style("stroke-width", 3);
                  })
                  .on('mouseout', function (d) {
                     tip.hide(d);
                     d3.select(this)
                        .style("opacity", 0.8)
                        .style("stroke", "white")
                        .style("stroke-width", 0.3);
                  });
            }
            function onSelectState() {
               // let preparedData = data[0].features.filter(d => d.properties.State_Name == d3.select("#stateList").node().value);
               // preparedData = {
               //     type: "FeatureCollection",
               //     crs: { type: "name", properties: { name: "urn:ogc:def:crs:OGC:1.3:CRS84" } },
               //     features: preparedData
               // }
               let preparedData = odishaData;
               if (d3.select("#stateList").node().value == 'All State') {
                  preparedData = data[0];
               }
               var projectionData = d3.geoMercator().fitExtent([[10, 10], [width, height]], preparedData);
               var pathData = d3.geoPath().projection(projectionData);
               const allPaths = mainG
                  .selectAll("path")
                  .data(preparedData.features);
               allPaths.enter()
                  .append('path')
                  .merge(allPaths)
                  .style("fill", d => {
                     return color(Math.floor(Math.random() * 100))
                  })
                  .style('stroke', 'white')
                  .style('stroke-width', 0.3)
                  .style("opacity", 0.8)
                  .on('mouseover', function (d) {
                     tip.show(d);
                     d3.select(this)
                        .style("opacity", 1)
                        .style("stroke", "white")
                        .style("stroke-width", 3);
                  })
                  .on('mouseout', function (d) {
                     tip.hide(d);
                     d3.select(this)
                        .style("opacity", 0.8)
                        .style("stroke", "white")
                        .style("stroke-width", 0.3);
                  })
                  .transition()
                  .duration(1000)
                  .attr("d", pathData)
               allPaths.exit().remove();
            }
            // onSelectState();
            //   ===========================================Count Css ======================================
            const counters = document.querySelectorAll('.counter');//get all the counters
            const speed = 50; // The lower the faster
            counters.forEach(counter => {
               const updateCount = () => {
                  const target = +counter.getAttribute('data-target');
                  const count = +counter.innerText;
                  // Lower inc to slow and higher to slow
                  const inc = ~~(target / speed);
                  // Check if target is reached
                  if (count < target) {
                     // Add inc to count and output in counter
                     counter.innerText = count + inc;
                     // Call function every ms
                     setTimeout(updateCount, 1);
                  } else {
                     counter.innerText = target;
                  }
               };
               updateCount();
            });
         </script>
         <script>
            var loader = document.getElementById("loaderDiv");
            loader.style.display = "block";
            // fpo update function
            function updates() {
               var xhttp = new XMLHttpRequest();
               var myobj, i = "";
               var x = ""
               var y = ''
               xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                     loader.style.display = "none";//when it gets data from db loader will be off
                     myobj = JSON.parse(this.responseText);
                     for (i in myobj) {
                        y += myobj[i].link;
                        // x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li><br><br><br>`;
                        // ${myobj[i].url} PUT IN IMG TAG
                        x += `<li style="max-height: 100px;"><div class="date" style= "font-color:green;"><img style= "border-radius:5px; height:65px; width:80px;" src="theme/images/${myobj[i].img}"></div> <span  style="font-weight:bold;color:green;font-size: 14px;"><em>${new Date(myobj[i].fromDAte).getDate()}</em> / <em>${new Date(myobj[i].fromDAte).getMonth() + 1}<em> / </em>${new Date(myobj[i].fromDAte).getFullYear()}</em></span> <em><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></em></li><br><br><hr>`;
                     }
                     document.getElementById("fpoUpdate").innerHTML = x;
                  }
               };
               xhttp.open("GET", "https://fpoodisha.nic.in/landRoute/titleEdit");
               xhttp.send();
            }
            updates();
            //fpo media function
            // function media() {
            //    var xhttp = new XMLHttpRequest();
            //    var myobj, i = "";
            //    var x = ""
            //    var y = ''
            //    xhttp.onreadystatechange = function () {
            //       if (this.readyState == 4 && this.status == 200) {
            //          // loader.style.display = "none";//when it gets data from db loader will be off
            //          myobj1 = JSON.parse(this.responseText);
            //          console.log(myobj1);
            //          for (i in myobj1) {
            //             y += myobj1[i].link;
            //             // x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li><br><br><br>`;
            //             // x += `<li style="max-height: 100px;"><div class="date" style= "font-color:green font-weight: 15px;"><img style= "border-radius:5px; height:65px; width:80px;" src="${myobj1[i].url}"></div> <span  style="font-weight:bold;color:green"><em>${new Date(myobj1[i].fromdate).getDate()}</em> / <em>${new Date(myobj[i].fromdate).getMonth()}<em> / </em>${new Date(myobj[i].fromdate).getFullYear()}</em></span> <em><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></em></li><br><br>`;
            //             x += `<li class="active">
            //                      <a href="#i" data-toggle="tab">
            //                         <div class="post-thumbnail">
            //                            <img class="img-responsive" src="assets/images/img1.jpg" alt="post-thumbnail"/>
            //                         </div>
            //                         <h3>India's 10,000 farmers-collective plan may fail without funding reforms. </h3>
            //                         <h2>Upload date</h2>
            //                      </a>
            //                      <hr>
            //                   </li>`;
            //          }
            //          document.getElementById("fpomedia").innerHTML = x;
            //       }
            //    };
            //    xhttp.open("GET", "http://localhost:3001/media");
            //    xhttp.send();
            // }
            // media();
            // circular notification 
            function tenderList() {
               var xhttp = new XMLHttpRequest();
               var myobj, i = "";
               var x = ''
               var y = ''
               xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                     myobj = JSON.parse(this.responseText);
                     for (i in myobj) {
                        // y +='<>'+ myobj[i].pageId +"</>";
                        y += myobj[i].link;
                        // x += '<li>' + '<div class="date"><span>03</span><em>10 2020</em></div>' + ' <div class="list-content" >' + myobj[i].text + '</div>' + "</li>";
                        x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
                        // x += `<li><div class="date"><img src="${myobj[i].url}"></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
                     }
                     // x += '</li>';
                     document.getElementById("tenderData").innerHTML = x;
                     // document.getElementById("tenderData").href = y;
                  }
               };
               xhttp.open("GET", "https://fpoodisha.nic.in/landRoute/titleEdit1");
               xhttp.send();
            }
            tenderList();
            //refDoc
            function refDoc() {
               var xhttp = new XMLHttpRequest();
               var myobj, i = "";
               var x = ""
               var y = ""
               xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                     myobj = JSON.parse(this.responseText);
                     for (i in myobj) {
                        y += myobj[i].link;
                        // x += '<li>' + '<div class="list-content">' + myobj[i].text + '</div>' + '</li>';
                        x += `<li><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
                        // console.log(x)
                     }
                     // x += '</a>';
                     document.getElementById("refDoc").innerHTML = x;
                     // document.getElementById("refDoc").href = y;
                  }
               };
               xhttp.open("GET", "https://fpoodisha.nic.in/landRoute/titleEdit2");
               xhttp.send();
            }
            refDoc();
            // agriServices
            function agriServices() {
               var xhttp = new XMLHttpRequest();
               var myobj, i = "";
               var x = ' '
               var y = ''
               xhttp.onreadystatechange = function () {
                  if (this.readyState == 4 && this.status == 200) {
                     myobj = JSON.parse(this.responseText);
                     for (i in myobj) {
                        y += myobj[i].link;
                        // x += '<li>' + '<div class="list-content"></div>' + myobj[i].text + '</li>';
                        x += `<li><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
                     }
                     // x += '</li>';
                     document.getElementById("agriServices").innerHTML = x;
                     // document.getElementById("agriServices").href = y;
                  }
               };
               xhttp.open("GET", "https://fpoodisha.nic.in/landRoute/titleEdit3");
               xhttp.send();
            }
            agriServices();
         </script>

         <!-- fpo media script tag -->
         <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
         <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
         <script src="./script.js"></script>
         <script>
            $('.play-icon').click(function () {
               var video = '<iframe class="yvideo"  allowfullscreen src="' + $(this).attr('data-video') + '"></iframe>';
               $(this).replaceWith(video);
            });
            $('.play-icon').mousemove(function (e) {
               var parentOffset = $(this).offset();
               var relX = e.pageX - parentOffset.left;
               var relY = e.pageY - parentOffset.top;
               $(".play-button").css({ left: relX, top: relY });
            });
            $('.play-icon').mouseout(function () {
               $(".play-button").css({ left: '50%', top: '50%' });
            });
            $('.videoEmbeded').click(function () {
               $('.yvideo').each(function () {
                  this.contentWindow.postMessage('{"event":"command","func":"stopVideo","args":""}', '*')
               });
            });
         </script>

         <!-- ======================================particle js start========================================== -->

         <script src="assets/js/particles.js-master/particles.js"></script>
         <script src="assets/js/particles.js-master/demo/js/app.js"></script>

         <!-- ======================================particle js end========================================== -->

         <!-- ======================================Fetch Districts,block,gp,village start==================================== -->
         <script src="/controller/landingPage.js"></script>

         <!-- ======================================Fetch Districts,block,gp,village end==================================== -->


         <!-- ============================AOS Animation==================================== -->
         <script>
            AOS.init({
               offset: 120,
               duration: 3000
            });
            document.querySelectorAll('img').forEach((img) => {
               img.addEventListener('load', () => {
                  AOS.refresh()
               })
            })
         </script>



  <!--========================================Call me back Modal start====================================== -->
  <div class="modal fade" id="callMeBack" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <form name="callMeBack">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Call Me Back</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <label>Enter your name:</label>
                  <input type="text" class="form-control" ng-model='name'><br>
                  <label>Mobile No: </label><br>
                  <input type="tel" class="form-control" minlength="10" maxlength="10" ng-model='mobNo'
                      name="mobNo" ng-pattern="/^[6-9][0-9]{9}$/" required><br>
                  <div ng-show=" callMeBack.mobNo.$error.pattern ">
                      <span style="color:#f51212"> Valid phone number is required</span>
                  </div>
                  <div>
                      <label>Enrolment Category</label><br>
                      <select class="form-control" ng-model='typeCat'>
                          <option value="" selected disabled>--Select--</option>
                          <option value="Trader">Trader</option>
                          <option value="Farmer">Farmer</option>
                          <option value="FPO">FPO</option>
                          <option value="FPO Cell">FPO Cell</option>
                          <option value="ConsumerGroup">Consumer group</option>
                          <option value="Government">Government</option>
                          <option value="Others">Others</option>

                      </select>

                      </select>
                  </div>
          </form>
          <!-- <div>
          <label>Enrolment Catagory</label>
          <input type="radio"class="form-control" ng-model='catagory'>
          <label for="html">Trader</label><br>
          <input type="radio"class="form-control" ng-model='catagory'>
          <label for="css">Farmer</label><br>
          <input type="radio"class="form-control" ng-model='catagory'>
           <label for="javascript">FPO</label>
          <input type="radio"class="form-control" ng-model='catagory'>
           <label for="javascript">Consumer group</label>
          <input type="radio"class="form-control" ng-model='catagory'>
         <label for="javascript">Government</label>
          <input type="radio"class="form-control" ng-model='catagory'>
          <label for="javascript">Other</label>
      </div>  -->

      <div class="popover" ng-show="popoverIsVisible">  <table>
          <head>
              <tr>
                  <td>asdasd</td>
              </tr>
          </head>
  
          <body>
              <tr>
                  <td>
                      asdasdsa
                  </td>
              </tr>
          </body>
  
      </table></div>
          <div class="otpShow row" ng-show='otpSent'>

              <div class="col-md-6 otpSentDiv">
                  <span style="color: #e31a1a;font-weight: bold;">OTP SENT</span><br>
                  <!-- <span style="color: #e31a1a;font-weight: bold;" ng-if='otpError'>Wrong OTP</span><br> -->
              </div>
              <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Enter Otp" ng-model='otp'>
              </div>
          </div>
          <div class="row wrongOtp">
              <div class="col-md-12">
                  <span style="color: #e31a1a;font-weight: bold; font-size: larger;" ng-show='otpError'>Wrong OTP</span>
                  <span style="color: #e31a1a;font-weight: bold;font-size: large;" ng-show='success'>Successfully Done</span>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
              style="border-radius: 50px;">Close</button>
          <button type="button" class="btn btn-primary" style="border-radius: 50px;"
              ng-click='verifyMobileNO()' ng-if='!otpSent'>Send OTP</button>

          <button type="button" class="btn btn-primary"  style="border-radius: 50px;" ng-if='otpSent'
              ng-click='varifyOtpAndSendData("callMeBack")'>Verify and Confirm</button>
      </div>
  </div>
</div>

</body>


<!-- Mirrored from uxdt.nic.in/wp-content/uploads/templates/template5/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2021 11:45:34 GMT -->

<script src="assets/js/main.js"></script>
<script>
   var Farmer_ID="<%=Farmer_ID%>"
   var applicationId="<%=applicationId%>"
  
   var from="fpo"
</script>
<!--for map heading effect-->

</html>