<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from uxdtnic.in/wp-content/uploads/templates/template5/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2021 11:45:33 GMT -->

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="format-detection" content="telephone=no" />
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="apple-touch-icon" href="assets/images/favicon/apple-touch-icon.png">
   <link rel="icon" href="assets/images/new-logo.jpg">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <link rel="stylesheet" href="assets/css/owlstyle.css">
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
   <title>FPO Smart Connect</title>
   <!-- Custom styles for this template -->
   <!-- <link href="assets/js/gmap.js" type="text/javascript" media="all"> -->
   <link href="assets/css/base.css" rel="stylesheet" media="all">
   <link href="assets/css/base-responsive.css" rel="stylesheet" media="all">
   <link href="assets/css/grid.css" rel="stylesheet" media="all">
   <link href="assets/css/font.css" rel="stylesheet" media="all">
   <link href="assets/css/font-awesome.min.css" rel="stylesheet" media="all">
   <link href="assets/css/flexslider.css" rel="stylesheet" media="all">
   <link href="assets/css/megamenu.css" rel="stylesheet" media="all" />
   <link href="assets/css/print.css" rel="stylesheet" media="print" />
   <!-- Theme styles for this template -->
   <link href="assets/css/megamenu.css" rel="stylesheet" media="all" />
   <link href="theme/css/site.css" rel="stylesheet" media="all">
   <link href="theme/css/site-responsive.css" rel="stylesheet" media="all">
   <link href="theme/css/ma5gallery.css" rel="stylesheet" type="text/css">
   <link href="theme/css/print.css" rel="stylesheet" type="text/css" media="print">
   <link rel="stylesheet" href="assets/css/tableStyle.css" media="all" type="text/scss">
   <link rel="stylesheet" href="assets/css/flaticon.css" media="all" type="text/css">
   <link rel="stylesheet" href="assets/css/style11.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
   <link rel="stylesheet" href="assets/css/style.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="assets/js/aos-master/aos-master/dist/aos.css" />

   <link rel="stylesheet" href="assets/css/style1.css"> <!-- odisha Map heading style -->

   <script src="assets/js/angular.min.js"></script>
   <script src="assets/js/aos-master/aos-master/dist/aos.js"></script>
   <script src="assets/js/modernizr.js"></script>
   <script src="assets/js/js-sha512.js"></script>

   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" /> <!-- Map -->
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script><!-- Map -->

   <!-- ==============================Schemes Cards Css start================== -->
   <style>
      .status {
         font-weight: bold;
         color: #09722a;
      }

      .status1 {
         margin-top: 50px;
      }

      #newMap {
         height: 477px;
         /* width: 400px; */
         margin: 44px;
      }

      .topnav {
         overflow: hidden;
         background-color: #e9e9e9;
      }

      /* Style the links inside the navigation bar */
      .topnav a {
         float: left;
         display: block;
         color: black;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
      }

      /* Change the color of links on hover */
      .topnav a:hover {
         background-color: #ddd;
         color: black;
      }

      /* Style the "active" element to highlight the current page */
      .topnav a.active {
         background-color: #2196F3;
         color: white;
      }

      /* Style the search box inside the navigation bar */
      .topnav input[type=text] {
         float: right;
         padding: 6px;
         border: none;
         margin-top: 8px;
         margin-right: 16px;
         font-size: 17px;
      }

      /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
      @media screen and (max-width: 600px) {

         .topnav a,
         .topnav input[type=text] {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
         }

         .topnav input[type=text] {
            border: 1px solid #ccc;
         }
      }

      /* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
      * {
         box-sizing: border-box;
      }
      body {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0;
         background-color: #f7f8fc;
         font-family: "Roboto", sans-serif;
         color: #10182f;
      }
      .container {
         display: flex;
         width: 1040px;
         justify-content: space-evenly;
         flex-wrap: wrap;
      } */
      .schemeHead h1 {
         font-size: 2rem;
         margin: 0px 0px 9px 29px;
         /* padding-top: 22px; */
      }

      .card {
         margin: 10px;
         background-color: #f7f7f7;
         border-radius: 10px;
         box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
         overflow: hidden;
         /* width: 300px; */
      }

      .card-header img {
         width: 100%;
         height: 122px;
         object-fit: contain;
      }

      .card-body {
         /* display: flex; */
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         padding: 20px;
         /* min-height: 192px; */
      }

      .card-body h4 {
         max-height: 3rem;
         min-height: 3rem;
         margin: 8px 0px 8px 0px;
      }

      .schemeDesc {
         min-height: 3rem;
      }

      .tag {
         background: #cccccc;
         border-radius: 50px;
         font-size: 12px;
         margin: 0;
         color: #fff;
         padding: 2px 10px;
         text-transform: uppercase;
         cursor: pointer;
      }

      .tag-teal {
         background-color: #47bcd4;
      }

      .tag-purple {
         background-color: #5e76bf;
      }

      .tag-pink {
         background-color: #cd5b9f;
      }

      .card-body p {
         font-size: 13px;
         /* margin: 0 0 17px; */
      }

      .user {
         display: flex;
         /* margin-top: auto; */
      }

      .user img {
         border-radius: 50%;
         width: 40px;
         height: 40px;
         margin-right: 10px;
      }

      .user-info h5 {
         margin: 0;
      }

      .user-info small {
         color: #545d7a;
      }
   </style>
   <!-- ==============================Schemes Cards Css end================== -->

   <!-- fposcrolll style without img -->
   <style>
      html {
         scroll-behavior: smooth;
      }

      .fpo-scroll {
         display: -ms-flexbox;
         /* IE10 */
         display: flex;
         width: 100%;
         margin-top: 9px;
         margin-left: 5px;
      }

      p .fponame {
         width: 100%;
         outline: none;
         margin-top: -2px;
         margin-left: 5px;
      }

      .contact {
         margin-left: 6px;
         font-size: 14px;
      }

      .adrress {
         margin-bottom: 5px;
         margin-left: 6px;
         font-size: 14px;
         margin-top: 2px;
      }

      /* Set a style for the submit button */
      .button1 {
         background-color: rgb(30, 155, 57);
         color: white;
         padding: 3px;
         border: none;
         cursor: pointer;
         opacity: 0.9;
         border-radius: 6px;
         width: 65px;
         margin-left: 136px;
         margin-top: -88px;
         font-size: 10px;
      }

      .btn:hover {
         opacity: 1;
      }

      .fponame {
         font-weight: bold;
      }
   </style>

   <!-- fpocarousal search button css -->
   <style>
      .button {
         background-color: #4CAF50;
         /* Green */
         /* border: none; */
         color: white;
         /* padding: 20px; */
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 15px;
         /* margin: 4px 2px; */
         cursor: pointer;
         border-radius: 8px;
         padding-left: 14px;
         padding-right: 16px;
         padding-top: 10px;
         padding-bottom: 10px;
      }
   </style>

   <!--odisha Map heading effect -->
   <noscript>
      <link href="theme/css/no-js.css" type="text/css" rel="stylesheet">
   </noscript>

   <!-- odisha map script tag -->
   <style>
      .names {
         fill: none;
         stroke: #fff;
         stroke-linejoin: round;
      }

      /* Tooltip CSS */
      .d3-tip {
         line-height: 1.5;
         font-weight: 400;
         font-family: "avenir next", Arial, sans-serif;
         padding: 6px;
         background: rgba(0, 0, 0, 0.6);
         color: #FFA500;
         border-radius: 1px;
         pointer-events: none;
      }

      /* Creates a small triangle extender for the tooltip */
      .d3-tip:after {
         box-sizing: border-box;
         display: inline;
         font-size: 8px;
         width: 100%;
         line-height: 1.5;
         color: rgba(0, 0, 0, 0.6);
         position: absolute;
         pointer-events: none;
      }

      /* Northward tooltips */
      .d3-tip.n:after {
         content: "\25BC";
         margin: -1px 0 0 0;
         top: 100%;
         left: 0;
         text-align: center;
      }

      /* Eastward tooltips */
      .d3-tip.e:after {
         content: "\25C0";
         margin: -4px 0 0 0;
         top: 50%;
         left: -8px;
      }

      /* Southward tooltips */
      .d3-tip.s:after {
         content: "\25B2";
         margin: 0 0 1px 0;
         top: -8px;
         left: 0;
         text-align: center;
      }

      /* Westward tooltips */
      .d3-tip.w:after {
         content: "\25B6";
         margin: -4px 0 0 -1px;
         top: 50%;
         left: 100%;
      }

      /*    text{
           pointer-events:none;
         }*/
      .details {
         color: white;
      }

      #stateList {
         position: absolute;
         left: calc((100% - 20px)/2);
         padding: 5px 15px;
         border-radius: 8px;
      }

      .megamenu-wraper {
         z-index: 9999;
      }

      .sticky {
         position: fixed;
         top: 0;
         width: 100%;
      }

      .sticky+.content {
         padding-top: 60px;
      }

      /* ==================Table style css start======================== */
      * {
         font-family: sans-serif;
         /* Change your font family */
      }

      .content-table {
         border-collapse: collapse;
         margin: 25px 0;
         font-size: 0.9em;
         /* min-width: 400px; */
         border-radius: 5px 5px 0 0;
         overflow: hidden;
         /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
         border-radius: 7px;
         /* box-shadow: 7px 3px 21px white; */
      }

      .content-table thead tr {
         background-color: #009879;
         color: #ffffff;
         text-align: left;
         font-weight: bold;
      }

      .content-table th,
      .content-table td {
         padding: 12px 15px;
      }

      .content-table thead tr th {
         background: #005fa4;
      }

      .content-table tbody tr {
         border-bottom: 1px solid #dddddd;
      }

      .content-table tbody tr:nth-of-type(even) {
         background-color: #f3f3f3;
      }

      .content-table tbody tr:last-of-type {
         border-bottom: 2px solid #009879;
      }

      .content-table tbody tr.active-row {
         font-weight: bold;
         color: #009879;
      }

      /* .content-table:hover {
         animation: shake 0.5s;
         animation-iteration-count: 1;
      }
      @keyframes shake {
         0% {
            transform: translate(1px, 1px) rotate(0deg);
         }
         10% {
            transform: translate(-1px, -2px) rotate(-1deg);
         }
         20% {
            transform: translate(-3px, 0px) rotate(1deg);
         }
         30% {
            transform: translate(3px, 2px) rotate(0deg);
         }
         40% {
            transform: translate(1px, -1px) rotate(1deg);
         }
         50% {
            transform: translate(-1px, 2px) rotate(-1deg);
         }
         60% {
            transform: translate(-3px, 1px) rotate(0deg);
         }
         70% {
            transform: translate(3px, 1px) rotate(-1deg);
         }
         80% {
            transform: translate(-1px, -1px) rotate(1deg);
         }
         90% {
            transform: translate(1px, 2px) rotate(0deg);
         }
         100% {
            transform: translate(1px, -2px) rotate(-1deg);
         }
      } */
      /* ==================Table style css end======================== */
   </style>

   <script>
      (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-56543729-3', 'auto');
      ga('send', 'pageview');
   </script>
   <!-- <link href="./wheelnav.js - spinning ever_files/css" rel="stylesheet" type="text/css"> -->

   <!-- utube video -->
   <style>
      @media screen and (max-width: 450px) {
         .utVdo {
            width: 330px !important;
            height: 200px !important;
         }

         .circleWheel {
            width: 330px !important;
            height: 200px !important;
         }

         /* .wheelGraph {
            width: 350px !important;
            height: 350px !important;
         }
         .containerWdth {
            margin: 0px !important;
            padding: 0px !important;
            height: 350px !important;
            padding-top: 5px !important;
         } */
      }
   </style>

   <!-- fpo media style -->
   <style>
      /* Variables */
      @import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");

      .video-block {
         background-image: linear-gradient(to top, #550808 0%, #550808 1%, #550808 100%);
         color: #fff;
         height: 90vh;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .video-tab-title {
         color: #fff;
         font-size: 18px;
         text-transform: uppercase;
         margin: 0 0 30px 15px;
      }

      .video-tab .post-overlay-wrapper {
         min-height: 430px;
      }

      .video-tab .post-overlay-wrapper .post-content {
         padding: 35px;
      }

      .video-tab .post-title {
         font-size: 24px;
         line-height: 30px;
         font-weight: normal;
      }

      .video-tab .nav-tabs {
         border-bottom: none;
         margin-left: 30px;
         height: 408px;
         overflow-y: auto;
      }

      .video-tab .nav-tabs::-webkit-scrollbar {
         width: 8px;
         background-color: #fff;
         border-radius: 10px;
      }

      .video-tab .nav-tabs::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background-color: #166c9e;
      }

      .video-tab .nav-tabs li {
         width: 100%;
         display: block;
         min-height: 80px;
      }

      .video-tab .nav-tabs li a {
         background: none;
         border: 0;
         padding: 0;
         border: 0;
         margin-right: 20px;
      }

      .video-tab .nav-tabs li a .post-thumbnail {
         float: left;
         margin-right: 20px;
         position: relative;
         overflow: hidden;
      }

      .video-tab .nav-tabs li a .post-thumbnail img {
         max-width: 100px;
      }

      .video-block .container .row .video-tab .nav-tabs li a h3 {
         color: #fff;
         font-weight: normal;
         line-height: 18px;
         font-size: 13px;
         margin: 0;
         font-family: "Montserrat", sans-serif;
      }

      .video-block .container .row .video-tab .nav-tabs li a h2 {
         color: #fff;
         font-weight: normal;
         line-height: 29px;
         font-size: 11px;
         margin: 0;
         font-family: "Montserrat", sans-serif;
         margin-bottom: -2px;
      }

      .play-icon {
         position: relative;
         display: block;
         width: 100%;
         height: 100%;
         border-radius: 6px;
      }

      .play-icon:hover {
         cursor: none;
      }

      .play-icon .play-button {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 3;
         transition: all 0.1s ease;
      }

      .play-icon:before {
         position: absolute;
         content: "";
         width: 100%;
         height: 100%;
         transition: all 0.3s ease;
         background: rgba(0, 0, 0, 0.4);
         z-index: 2;
      }

      .video-tab iframe {
         width: 100%;
         min-height: 369px;
         border: none;
         background: #000;
         padding: 10px;
         border-radius: 6px;
      }

      .nav-tabs>li.active>a,
      .nav-tabs>li.active>a:focus,
      .nav-tabs>li.active>a:hover {
         background: transparent;
         border: none;
      }
   </style>
 <style>
     .card {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: grid;
  font-family: "Trebuchet MS", sans-serif;
  height: 400px;
  margin: 20px auto;
  width: 1000px;
}
.front {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.front .blue {
  background-color: #4cc9c8;
  grid-column: 8 / span 5;
  grid-row: 1 / span 4;
}
.front .yellow {
  background-color: #f1ef1c;
  grid-column: 1 / span 7;
  grid-row: 1 / span 4;
}
.front .pink {
  background-color: #fa001a;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  grid-row: 1 / span 3;
  grid-column: 1 / span 11;
  position: relative;
  z-index: 2;
}
.front .dots {
  background: radial-gradient(#fa001a 20%, transparent 19%), radial-gradient(#fa001a 20%, transparent 19%), transparent;
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  grid-column: 1 / span 12;
  grid-row: 3 / span 2;
  margin: 0 0 15px 20px;
  z-index: 1;
}
.front .personal-intro {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 6;
  grid-row: 2 / span 2;
  justify-content: center;
  text-align: center;
  z-index: 3;
}
.front .personal-intro p {
  letter-spacing: 1px;
  text-transform: uppercase;
}
.front .personal-intro p:first-of-type {
  font-size: 18px;
}
.front .personal-intro p:last-of-type {
  font-size: 8px;
  margin-top: 5px;
}
.back {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}
.back .yellow {
  background-color: #f1ef1c;
  grid-column: 1 / span 9;
  grid-row: 1 / span 3;
}
.back .top.dots {
  background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  grid-column: 8 / span 6;
  grid-row: 2 / span 3;
}
.back .personal-info {
  grid-column: 2 / span 6;
  grid-row: 5 / span 6;
}
.back .personal-info p {
  font-size: 15px;
}
.back .personal-info p:first-of-type {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.back .personal-info p:nth-of-type(2) {
  font-size: 20px;
  margin-bottom: 15px;
}
.back .bottom.dots {
  background: radial-gradient(#4cc9c8 20%, transparent 19%), radial-gradient(#4cc9c8 20%, transparent 19%), transparent;
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  grid-column: 1 / span 8;
  grid-row: 11 / span 2;
  z-index: 2;
}
.back .pink {
  background-color: #fa001a;
  grid-column: 8 / span 5;
  grid-row: 10 / span 3;
}

 </style>
</head>

<body ng-app="myapp" ng-controller="Ctrl1">
   <div id="loaderDiv"
      style=" position: fixed;width: 100%;height: 100vh; z-index: 111111111; background: black;opacity: 0.9;">
      <center><img src="/assets/css/garden-loader.gif" style="margin-top: 8%;" /></center>
   </div>
   <div id="fb-root"></div>

   <%- include('./commons/header.ejs') -%>


  <div class="card back">
    <div class="yellow"></div>
    <div class="top dots"></div>
    <div class="personal-info">
      <p>{{allTraderProfile.data[0].traderName}}</p>
      <p>CITY :{{allTraderProfile.data[0].traderCity}}</p>
      <p>Address - Plot : {{allTraderProfile.data[0].traderPlot}}, Landmark : {{allTraderProfile.data[0].traderLandmark}}, 
        City :  {{allTraderProfile.data[0].traderCity}}, State : {{allTraderProfile.data[0].traderState}},
           Pin: {{allTraderProfile.data[0].traderPin}}  </p>
      <p>Mob No :{{allTraderProfile.data[0].cgMobNo}}/Alt :{{allTraderProfile.data[0].traderAltMob}}</p>
      <p>Email :{{allTraderProfile.data[0].traderMail}}/Alt :{{allTraderProfile.data[0].traderAltMail}}</p>
      <p>PAN: {{allTraderProfile.data[0].panNo}}</p>
      <p>{{allTraderProfile.data[0].webSite}}</p>
      <p>@{{allTraderProfile.data[0].traderName}}</p>
    </div>
    <div class="bottom dots"></div>
    <div class="pink"></div>
  </div>

  <%- include('./commons/footer.ejs') -%>
   <script src="assets/js/jquery-2.1.1.min.js"></script>
   <script src="assets/js/jquery-accessibleMegaMenu.js"></script>
   <script src="assets/js/framework.js"></script>
   <script src="assets/js/jquery.flexslider.js"></script>
   <script src="assets/js/font-size.js"></script>
   <script src="assets/js/swithcer.js"></script>
   <script src="theme/js/ma5gallery.js"></script>
   <script src="assets/js/megamenu.js"></script>
   <script src="theme/js/easyResponsiveTabs.js"></script>
   <script src="theme/js/custom.js"></script>

   <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script>
   <script src="assets/js/script.js"></script>

   <script src="https://d3js.org/d3.v4.min.js"></script>
   <script src="https://d3js.org/d3-scale-chromatic.v0.3.min.js"></script>
   <!-- <script src="./StateWiseDistrictData.js"></script> -->
   <script src="./odishaDistData.js"></script>
   <script src="d3-tip.js"></script>
   <!-- <select id='stateList' onchange="onSelectState()"> -->
   <script>
      // let stateList = data[0].features.map(d => d.properties.State_Name);
      // stateList = [...new Set(stateList)];
      // let stateOptions = `<option selected value='All State'>All State</option>`;
      // stateList.forEach(d => {
      //     stateOptions = stateOptions + `<option>${d}</option>`;
      // });
      // d3.select("#stateList")
      //     .html(stateOptions);
      var format = d3.format(",");
      // ==========================================State map code start========================================
      fetchStateWiseFPO()
      // Fetch all state wise fpo count
      function fetchStateWiseFPO() {
         var xhttp = new XMLHttpRequest();
         var myobj, i = "";
         var x = ''
         var y = ''
         xhttp.onreadystatechange = function () {
            // ////////console.log(123, JSON.parse(this.responseText));
            if (this.readyState == 4 && this.status == 200) {
               stateWiseFpoData = JSON.parse(this.responseText);
               // for (i in stateWiseFpoData) {
               //    x += `<tr><td>${i._id}</td><td>${i.fpoName}</td><td>${i.fpoAddress}</td><td>${i.fpoMobileNo}</td></tr>`;
               // }
               // // x += '</a>';
               // document.getElementById("stateWiseFpoData").innerHTML = x;
            }
         };
         xhttp.open("GET", "http://localhost:3000/landRoute/getStateWiseFPO");
         xhttp.send();
      }
      var distName
      function getFpoDataAccState() {
         // ////////console.log(8555, distName);
         var xhttp = new XMLHttpRequest();
         var myobj, i = "";
         var x = ''
         var y = ''
         xhttp.onreadystatechange = function () {
            // ////////console.log(123, JSON.parse(this.responseText));
            if (this.readyState == 4 && this.status == 200) {
               stateWiseFpoDetails = JSON.parse(this.responseText);
               // ////////console.log(6565, stateWiseFpoDetails);
               for (let i = 0; i < stateWiseFpoDetails.length; i++) {
                  // ////////console.log(9090, stateWiseFpoDetails[i]);
                  x += `<tr><td>${stateWiseFpoDetails[i].fpoId}</td><td>${stateWiseFpoDetails[i].FPOData.village},${stateWiseFpoDetails[i].FPOData.district}</td><td>${stateWiseFpoDetails[i].FPOData.fpoContactNo}</td><td><i class="fa fa-map-marker" aria-hidden="true" style='font-size: x-large;margin-left: 21%;color: red;'></i></td></tr>`;
               }
               // x += '</a>';
               document.getElementById("stateWiseFpoDetailsOnClick").innerHTML = x;
            }
         };
         xhttp.open("GET", "http://localhost:3000/landRoute/getStateWiseFPOData/" + distName);
         xhttp.send();
      }
      // Set tooltips
      var tip = d3.tip()
         .attr('class', 'd3-tip')
         .offset([-10, 0])
         .html(function (d) {
            distName = d.properties.Dist_Name
            count = 0
            for (let i = 0; i < stateWiseFpoData.length; i++) {
               if (d.properties.Dist_Name == stateWiseFpoData[i]._id) {
                  fpoCount = 0
                  fpoCount = stateWiseFpoData[i].fpoCount
               } else {
                  count++
               }
            }
            if (count == stateWiseFpoData.length) {
               fpoCount = 0
            }
            return "<strong>District: </strong><span class='details'>" + d.properties.Dist_Name + "<br></span>" + "<strong>Total FPOs: </strong><span class='details'>" + (fpoCount) + "</span>";
         })
      // ==========================================State map code end========================================
      var margin = { top: 20, right: 0, bottom: 0, left: 0 },
         width = 330 - margin.left - margin.right,
         height = 420 - margin.top - margin.bottom;
      var color = d3.scaleThreshold()
         .domain([10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120])
         .range(d3.schemeSet3);
      var svg = d3.select("#addMap")
         .append("svg")
         .attr("width", width + (margin.right + margin.left))
         .attr("height", height + (margin.top + margin.bottom))
         .append('g')
         .attr('class', 'map');
      let preparedData = odishaData;
      var projection = d3.geoMercator()
         .fitExtent([[10, 10], [width, height]], preparedData);
      var path = d3.geoPath().projection(projection);
      svg.call(tip);
      const mainG = svg.append("g")
         .attr("transform", `translate(${margin.left},${margin.top})`)
         .attr("class", "states");
      ready(null, preparedData);
      function ready(error, data, population) {
         mainG.selectAll("path")
            .data(data.features)
            .enter().append("path")
            .attr("d", path)
            .style("fill", d => {
               return color(Math.floor(Math.random() * 100))
            })
            .style('stroke', 'white')
            .style('stroke-width', 0.3)
            .style("opacity", 0.8)
            .on('mouseover', function (d) {
               tip.show(d);
               d3.select(this)
                  .style("opacity", 1)
                  .style("stroke", "white")
                  .style("stroke-width", 3);
            })
            .on('mouseout', function (d) {
               tip.hide(d);
               d3.select(this)
                  .style("opacity", 0.8)
                  .style("stroke", "white")
                  .style("stroke-width", 0.3);
            });
      }
      function onSelectState() {
         // let preparedData = data[0].features.filter(d => d.properties.State_Name == d3.select("#stateList").node().value);
         // preparedData = {
         //     type: "FeatureCollection",
         //     crs: { type: "name", properties: { name: "urn:ogc:def:crs:OGC:1.3:CRS84" } },
         //     features: preparedData
         // }
         let preparedData = odishaData;
         if (d3.select("#stateList").node().value == 'All State') {
            preparedData = data[0];
         }
         var projectionData = d3.geoMercator().fitExtent([[10, 10], [width, height]], preparedData);
         var pathData = d3.geoPath().projection(projectionData);
         const allPaths = mainG
            .selectAll("path")
            .data(preparedData.features);
         allPaths.enter()
            .append('path')
            .merge(allPaths)
            .style("fill", d => {
               return color(Math.floor(Math.random() * 100))
            })
            .style('stroke', 'white')
            .style('stroke-width', 0.3)
            .style("opacity", 0.8)
            .on('mouseover', function (d) {
               tip.show(d);
               d3.select(this)
                  .style("opacity", 1)
                  .style("stroke", "white")
                  .style("stroke-width", 3);
            })
            .on('mouseout', function (d) {
               tip.hide(d);
               d3.select(this)
                  .style("opacity", 0.8)
                  .style("stroke", "white")
                  .style("stroke-width", 0.3);
            })
            .transition()
            .duration(1000)
            .attr("d", pathData)
         allPaths.exit().remove();
      }
      // onSelectState();
      //   ===========================================Count Css ======================================
      const counters = document.querySelectorAll('.counter');//get all the counters
      const speed = 400; // The lower the faster
      counters.forEach(counter => {
         const updateCount = () => {
            const target = +counter.getAttribute('data-target');
            const count = +counter.innerText;
            // Lower inc to slow and higher to slow
            const inc = ~~(target / speed);
            // Check if target is reached
            if (count < target) {
               // Add inc to count and output in counter
               counter.innerText = count + inc;
               // Call function every ms
               setTimeout(updateCount, 1);
            } else {
               counter.innerText = target;
            }
         };
         updateCount();
      });
   </script>
   <script>
      var loader = document.getElementById("loaderDiv");
      loader.style.display = "block";
      // fpo update function
      function updates() {
         var xhttp = new XMLHttpRequest();
         var myobj, i = "";
         var x = ""
         var y = ''
         xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
               loader.style.display = "none";//when it gets data from db loader will be off
               myobj = JSON.parse(this.responseText);
               for (i in myobj) {
                  y += myobj[i].link;
                  // x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li><br><br><br>`;
                  // ${myobj[i].url} PUT IN IMG TAG
                  x += `<li style="max-height: 100px;"><div class="date" style= "font-color:green;"><img style= "border-radius:5px; height:65px; width:80px;" src="theme/images/fpoUpdatesImg.jpeg"></div> <span  style="font-weight:bold;color:green;font-size: 14px;"><em>${new Date(myobj[i].fromDAte).getDate()}</em> / <em>${new Date(myobj[i].fromDAte).getMonth()}<em> / </em>${new Date(myobj[i].fromDAte).getFullYear()}</em></span> <em><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></em></li><br><br>`;
               }
               document.getElementById("fpoUpdate").innerHTML = x;
            }
         };
         xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit");
         xhttp.send();
      }
      updates();
      //fpo media function
      // function media() {
      //    var xhttp = new XMLHttpRequest();
      //    var myobj, i = "";
      //    var x = ""
      //    var y = ''
      //    xhttp.onreadystatechange = function () {
      //       if (this.readyState == 4 && this.status == 200) {
      //          // loader.style.display = "none";//when it gets data from db loader will be off
      //          myobj1 = JSON.parse(this.responseText);
      //          ////////console.log(myobj1);
      //          for (i in myobj1) {
      //             y += myobj1[i].link;
      //             // x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li><br><br><br>`;
      //             // x += `<li style="max-height: 100px;"><div class="date" style= "font-color:green font-weight: 15px;"><img style= "border-radius:5px; height:65px; width:80px;" src="${myobj1[i].url}"></div> <span  style="font-weight:bold;color:green"><em>${new Date(myobj1[i].fromdate).getDate()}</em> / <em>${new Date(myobj[i].fromdate).getMonth()}<em> / </em>${new Date(myobj[i].fromdate).getFullYear()}</em></span> <em><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></em></li><br><br>`;
      //             x += `<li class="active">
      //                      <a href="#i" data-toggle="tab">
      //                         <div class="post-thumbnail">
      //                            <img class="img-responsive" src="assets/images/img1.jpg" alt="post-thumbnail"/>
      //                         </div>
      //                         <h3>India's 10,000 farmers-collective plan may fail without funding reforms. </h3>
      //                         <h2>Upload date</h2>
      //                      </a>
      //                      <hr>
      //                   </li>`;
      //          }
      //          document.getElementById("fpomedia").innerHTML = x;
      //       }
      //    };
      //    xhttp.open("GET", "http://localhost:3001/media");
      //    xhttp.send();
      // }
      // media();
      // circular notification
      function tenderList() {
         var xhttp = new XMLHttpRequest();
         var myobj, i = "";
         var x = ''
         var y = ''
         xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
               myobj = JSON.parse(this.responseText);
               for (i in myobj) {
                  // y +='<>'+ myobj[i].pageId +"</>";
                  y += myobj[i].link;
                  // x += '<li>' + '<div class="date"><span>03</span><em>10 2020</em></div>' + ' <div class="list-content" >' + myobj[i].text + '</div>' + "</li>";
                  x += `<li><div class="date"><span>${new Date(myobj[i].fromDAte).getDate()}</span><em>${new Date(myobj[i].fromDAte).getMonth()} ${new Date(myobj[i].fromDAte).getFullYear()}</em></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
                  // x += `<li><div class="date"><img src="${myobj[i].url}"></div><div class="list-content" ><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
               }
               // x += '</li>';
               document.getElementById("tenderData").innerHTML = x;
               // document.getElementById("tenderData").href = y;
            }
         };
         xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit1");
         xhttp.send();
      }
      tenderList();
      //refDoc
      function refDoc() {
         var xhttp = new XMLHttpRequest();
         var myobj, i = "";
         var x = ""
         var y = ""
         xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
               myobj = JSON.parse(this.responseText);
               for (i in myobj) {
                  y += myobj[i].link;
                  // x += '<li>' + '<div class="list-content">' + myobj[i].text + '</div>' + '</li>';
                  x += `<li><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
                  // ////////console.log(x)
               }
               // x += '</a>';
               document.getElementById("refDoc").innerHTML = x;
               // document.getElementById("refDoc").href = y;
            }
         };
         xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit2");
         xhttp.send();
      }
      refDoc();
      // agriServices
      function agriServices() {
         var xhttp = new XMLHttpRequest();
         var myobj, i = "";
         var x = ' '
         var y = ''
         xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
               myobj = JSON.parse(this.responseText);
               for (i in myobj) {
                  y += myobj[i].link;
                  // x += '<li>' + '<div class="list-content"></div>' + myobj[i].text + '</li>';
                  x += `<li><div class="list-content"><a href="${myobj[i].link}" target="_blank">${myobj[i].text}</a></div></li>`;
               }
               // x += '</li>';
               document.getElementById("agriServices").innerHTML = x;
               // document.getElementById("agriServices").href = y;
            }
         };
         xhttp.open("GET", "http://localhost:3000/landRoute/titleEdit3");
         xhttp.send();
      }
      agriServices();
   </script>

   <!-- fpo media script tag -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
   <script src="./script.js"></script>
   <script>
      $('.play-icon').click(function () {
         var video = '<iframe allowfullscreen src="' + $(this).attr('data-video') + '"></iframe>';
         $(this).replaceWith(video);
      });
      $('.play-icon').mousemove(function (e) {
         var parentOffset = $(this).offset();
         var relX = e.pageX - parentOffset.left;
         var relY = e.pageY - parentOffset.top;
         $(".play-button").css({ left: relX, top: relY });
      });
      $('.play-icon').mouseout(function () {
         $(".play-button").css({ left: '50%', top: '50%' });
      });
   </script>

   <!-- ======================================particle js start========================================== -->

   <script src="assets/js/particles.js-master/particles.js"></script>
   <script src="assets/js/particles.js-master/demo/js/app.js"></script>

   <!-- ======================================particle js end========================================== -->

   <!-- ======================================Fetch Districts,block,gp,village start==================================== -->
   
   <script src="/controller/traderProfile.js"></script>

   <!-- <script src="controller/topbarmenu.js"></script> -->

   <!-- ======================================Fetch Districts,block,gp,village end==================================== -->


   <!-- ============================AOS Animation==================================== -->
   <script>
      var traderRefNo = "<%= traderRefNo %>";
   </script>

</body>


<!-- Mirrored from uxdt.nic.in/wp-content/uploads/templates/template5/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2021 11:45:34 GMT -->

<script src="assets/js/main.js"></script>
<!--for map heading effect-->

</html>
