.mybox {
  border: solid #40c886;
  border-radius: 10px;
  background-color: ghostwhite;
  margin-bottom: 3em;
}

.mybox-header {
  background-color: #40c886;
  /* background-color: cadetblue; */
  height: 35px;
  text-align: center;
  font: initial;
  /* color: black; */
  color: white;
}
.col-md-5 label{
  font-weight: 500;
}
.quesHead p{
  text-align: center;
  font-size: larger;
}
.otpDiv{
  text-align: right;
}
.otpSubDiv{
  display: inline-flex;
  width: 100%;
}
.otpSubDiv .col-md-7{
  font-size: x-large;
}
.otpSubDiv .col-md-7 .otpInput{
  font-size: large;
}
.sendOtpBtn{
  text-align: left;
}

.editDltBtn{
  margin-right: 0px; 
     margin-left: 0px; 
     margin-bottom: 0px;
}

.clickHead p{
  text-align: center;
  font-size: larger;
}

.mybox-header label {
  margin-top: 5px;
  font-size: 22px;
}

.mybox-inner-header {
  background-color: cadetblue;
  /* background-color: #0a5a5d; */
  height: 33px;
  text-align: center;
  font: initial;
  color: black;
  /* color: white; */
}
.additionalFld{
  height: 100px;
}
.additionalFld button{
  margin-top: 15%;
  margin-left: 26%;
}

.mybox-inner-header label {
  margin-top: 5px;
  font-size: 17px;
}

.mybox-inner-header .input-group-prepend {
  height: 30px;
}

.mybox-inner-header input {
  height: 30px;
}

.deleteModal{
  text-align: center;
    width: 100%;
    font-size: larger;
    font-weight: 500;
}
.deleteheader{
  background-color: #ef3c25 !important;
}
.deleteBtn{
  background-color: #e45441;
}

.round {
  border-radius: 20px !important;
}

.mybox-inner-header h5 {
  text-align: center;
  margin-top: 5px;
  font: inherit;
  font-size: 17px;
}
.cropVarietyTable{
  outline: 3px solid lightseagreen;
}

.plus {
  --t:2px;   /* Thickness */
  --l:40px;  /* size of the symbol */
  --s:10px;  /* space around the symbol */
  --c1:#fff; /* Plus color*/
  --c2:#000; /* background color*/
  margin-top: 14px;

  display:inline-block;
  width:var(--l);
  height:var(--l);
  padding:var(--s);
  box-sizing:border-box; /*Remove this if you don't want space to be included in the size*/
  
  background:
    linear-gradient(var(--c1),var(--c1)) content-box,
    linear-gradient(var(--c1),var(--c1)) content-box,
    var(--c2);
  background-position:center;
  background-size: 100% var(--t),var(--t) 100%;
  background-repeat:no-repeat;
}

.radius {
  border-radius:50%;
}

.closeButton p svg{
  cursor: pointer;
}