<div id="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12 mb-6">
                <div class="card-header py-2">
                    <h5 class="m-0 font-weight-bold text-primary">FPO BACKLOG KEY DETAILS</h5>
                </div>
                <div class="card-body table-card mat-elevation-z8">
<form [formGroup]="backlogForm">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Financial Year : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" formControlName='year'>
                                <option value="" disabled>--Select--</option>
                                <option value="2017-2018">2017-2018</option>
                                <option value="2018-2019">2018-2019</option>
                                <option value="2019-2020">2019-2020</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Target Time Slot : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" formControlName='timeSlot'>
                                <option  value="" disabled>--Select--</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Select IA Name : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control" formControlName='iaName'>
                                <option value="" disabled>--Select--</option>
                                <option [ngValue]="x" *ngFor="let x of getIaData">{{x.iaName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> FPO Name : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='fpo'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> CIN No. / Registration No. : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='cin'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> EMAIL id : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='email'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Mobile No : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='MobileNo'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Date of incorporation/registration: </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='dateofIncorporation'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Commencement of Business Filed with MCA : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="commencementOfBusinessfieldWithMca"
                                    value='yes' formControlName='commencementOfBusinessfieldWithMca'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="commencementOfBusinessfieldWithMca"
                                    value="no" formControlName='commencementOfBusinessfieldWithMca'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> AGM Conducted : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="AgmConducted"
                                    value='yes' formControlName='AgmConducted'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="AgmConducted" value="no" formControlName='AgmConducted'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Auditor Appointed : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="AuditorAppointed"
                                    value='yes' formControlName='AuditorAppointed'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="AuditorAppointed" value="no" formControlName='AuditorAppointed'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> CEO Appointed : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="CeoAppointed"
                                    value='yes' formControlName='CeoAppointed'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="CeoAppointed" value="no" formControlName='CeoAppointed'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Accounted Appointed : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="AccountedAppointed"
                                    value='yes' formControlName='AccountedAppointed'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="AccountedAppointed" value="no" formControlName='AccountedAppointed'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Bank Account Opened : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="BankAccountOpened"
                                    value='yes' formControlName='BankAccountOpened'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="BankAccountOpened" value="no" formControlName='BankAccountOpened'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Minimum 1 women BOD : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="Min1WomenBod"
                                    value='yes' formControlName='Min1WomenBod'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="Min1WomenBod" value="no" formControlName='Min1WomenBod'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Have the FPO completed Statutory Audit : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="statutoryAudit" value='Yes' formControlName='statutoryAudit'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="statutoryAudit" value="No" formControlName='statutoryAudit'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> No of Farmers Mobilized : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='NoOfFarmerMobilized'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> No of Farmer Mobilized as shareholders: </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="number" class="form-control" id="inputEmail4" formControlName='NoOfFarmerMobilizedAsShareholders'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">No of BOD : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="" formControlName='NoOfBod'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Share capital Mobilized in INR: </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='ShareCapitalMobilizedInInr'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> GST licence applied : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="GstLicenceApplied"
                                    value='yes' formControlName='GstLicenceApplied'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="GstLicenceApplied" value="no" formControlName='GstLicenceApplied'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> Equity Grant availed : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="EquityGrantAvailed"
                                    value='yes' formControlName='EquityGrantAvailed'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="EquityGrantAvailed" value="no" formControlName='EquityGrantAvailed'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> FPO trading through e-NUM : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="fpotradingThroughenum"
                                    value='Yes' formControlName='fpotradingThroughenum'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="fpotradingThroughenum" value="No" formControlName='fpotradingThroughenum'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> FPOs filled RoC : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="fpoFilledroc"
                                    value='Yes' formControlName='fpoFilledroc'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="fpoFilledroc" value="No" formControlName='fpoFilledroc'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4"> FPOs received loan from bank : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="radioButtonText">
                                Yes:&nbsp;&nbsp;<input type="radio" id='yes' name="receivedloanFrombank"
                                    value='Yes' formControlName='receivedloanFrombank'>&nbsp;&nbsp;
                                No:&nbsp;&nbsp;<input type="radio" id='no' name="receivedloanFrombank" value="No" formControlName='receivedloanFrombank'>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Baseline study report submitted : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='BaselineStudyReportSubmitted'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Business Plan formulated : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='BusinessPlanFormulated'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">No. of MOUs signed/vendor registration done : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='NoOfMouSignedVendorRegistration'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Registration on e-NAM or other e-platform : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" maxlength="10" formControlName='RegistrationOnEnam'>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Annual Business Turnover in INR : </label>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="inputEmail4" formControlName='AnnualBusinessTurnoverinInr'>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-success" (click)="publish()">SUBMIT</button>
                    </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>